iframe[name="google_conversion_frame"] {
    height: 0;
    display: block;
}
.priceincludevat {
    width: 100%;
    display: inline-block;
    margin-top: 3px;
    color: #0481c0;
}
.hr-feature {
    width: 250px;
    border-top: 1px solid #cfcfcf;
}
.absol {
    position: absolute;
}
.scroll-hidden {
    overflow: hidden !important;
    min-height: 100%;
    height: 100%;
}
.scroll-page {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.faq-heading {
    font-size: 21px !important;
    font-weight: bold !important;
}
.faq-container {
    overflow: auto;
    color: #666666;
    margin: 0 auto;
    max-width: 853px;
}
.faq-label {
    font-weight: lighter;
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 20px;
}
.faq-labelhead {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 0;
    color: #3399cc;
}
.request-label {
    font-size: 16px;
    margin-bottom: 0;
    color: #3399cc;
}
.btn-readmore {
    background-color: #3399cc !important;
    border-color: #66b3d9 !important;
    border: medium none !important;
    border-radius: 2px !important;
    height: 34px !important;
    margin-top: 8px !important;
    color: #FFF !important;
    padding: 8px 20px !important;
    width: 132px !important;
    line-height: 20px !important;
    background-image: none !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
    display: inline-block !important;
    border-radius: 2px !important;
}
.playbtn {
    background-image: url(../images/playbtn.png);
    background-repeat: no-repeat;
    position: absolute;
}
.bgmobile {
    background-image: url(../images/bgmobile.png);
}
.pricing-plan ul {
    display: table;
    width: 100%;
}
.pricing-plan li {
    display: table-cell;
    width: auto;
}
.plans-head-tab {
    display: none;
}
.change-font;
{
    font-size: initial !important;
    position: absolute !important;
    right: 24px !important;
}
@media (max-width: 1105px) {
    .navbar a.navbar-brand img.logo {
        width: 275px !important;
        padding-top: 11px !important;
    }
    /* change to mobile 960px*/
}
/*@media (max-width: 1025px) {
                .navbar a.navbar-brand img.logo {
                    width: 265px !important;
                    padding-top: 12px !important;
                }
            }*/

@media (max-width: 1200px) {
    .nav-paddr {
        padding-right: 5px !important;
    }
}
@media (max-width: 992px) {
    /*.navbar a.navbar-brand img.logo {
                    width: 220px !important;
                    padding-top: 13px !important;
                }*/
    
    .a-lang {
        padding-left: 20px !important;
    }
    .container {
        width: 98% !important;
    }
}
@media (max-width: 991px) {
    .contact-phone {
        clear: both;
    }
    .text-boi {
        margin-top: 13px;
    }
}
@media (max-width: 600px) {
    .text-boi {
        margin-top: 0 !important;
    }
}
@media (min-width: 961px) {
    .navbar .navbar-header {
        max-width: 33.333% !important;
    }
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .navbar-header {
        float: left !important;
    }
    .navbar-toggle {
        display: none !important;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0 !important;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .navbar-collapse.in {
        overflow-y: visible !important;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0 !important;
        overflow: visible !important;
    }
    .navbar-collapse {
        width: auto !important;
        border-top: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }
    .navbar-right {
        float: right !important;
    }
    /*.navbar-nav {
                    margin: 0 !important;
                }*/
    
    .a-padd-log {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .a-padd-blog {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
.mobileapp-teaser {
    width: 261px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}
#play {
    background: url(../images/playbtn.png) center center no-repeat;
    margin: 0;
    position: inherit;
    left: 43%;
    top: 100px;
    z-index: 10;
    margin-top: 50px;
    background-size: cover;
    opacity: 0.8;
}
#play:hover {
    opacity: 1;
}
#play2 {
    background: url(../images/playbtn.png) center center no-repeat;
    position: inherit;
    z-index: 10;
    text-align: center;
    background-size: 60px 60px;
    height: 100%;
    width: 100%;
    max-width: 481px;
    opacity: 0.8;
}
#play2:hover {
    opacity: 1;
}
/*#play2 {
                background: url(../images/playbtn.png) center center no-repeat;
                position: relative;
                left:42%;
                z-index: 10;
                margin-top: 100px;
                background-size: cover;
                text-align: center;
            }*/
/*
                   #play {
                background: url(../images/playbtn.png) center center no-repeat;
                margin: 0;
                position: inherit;
                left: 85px;
                top: 100px;
                z-index: 10;
                margin-top: 115px;
                background-size: cover;
            }
                */

.playbtn {
    background-image: url(../images/playbtn.png);
    background-repeat: no-repeat;
    position: absolute;
}
@media (min-width: 992px) {
    .plans-head-tab {
        display: block;
    }
    .mobileapp-teaser {
        margin: 0;
        float: right;
    }
    #play {
        top: 150px;
    }
    #req {
        max-width: 260px;
    }
}
#videoFlow {
    width: 100%;
    height: 265px;
    max-width: 480px;
}
@media (max-width: 991px) {
    section#banner .banner-content {
        padding-top: 20px !important;
        text-align: center !important;
    }
    #videoFlow {
        max-width: 338px !important;
        height: 189px !important;
    }
    /*#play2 {
                    width:60px !important;
                    height:60px !important;
                    margin-top:55px !important;
                    left:0 !important;
                }*/
    
    #play2 {
        max-width: 340px !important;
    }
    #headline {
        font-size: 36px !important;
        line-height: 36px !important;
    }
}
@media (max-width: 767px) {
    #videoFlow {
        max-width: 285px !important;
        height: 159px !important;
    }
    #play2 {
        left: 0 !important;
        max-width: 284px !important;
    }
    #headline {
        font-size: 36px !important;
        line-height: 36px !important;
    }
}
.intercom-launcher {} #intercom-container .intercom-launcher {
    /*bottom:45px;*/
    /*   bottom:5px !important;
                  right:65px !important;*/
    
    -webkit-transition: bottom 0.15s linear;
    transition: bottom 0.15s linear;
}
#intercom-container .intercom-sheet-header {
    height: 70px;
    background-color: rgb(153, 153, 153);
    color: #767676;
    -webkit-transition: height 0.15s linear;
    transition: height 0.15s linear;
}
#intercom-container .intercom-sheet-header-button {
    margin-top: 8px;
    color: #fff;
}
#intercom-container .intercom-sheet-header-title {
    margin-top: 8px;
    color: #fff;
}
#intercom-container .intercom-sheet-content-container {
    background-color: #f1f1f1;
}
.intercom-sheet-content-container {
    padding-top: 10px;
}
/* down season bar*/

season {
    background-size: initial;
    height: 80px;
    display: block;
    position: relative;
    width: 100%;
    background-position: bottom center;
    background-color: #a61319;
    background-repeat: no-repeat;
}
/*.navbar-static-top {
            top:80px !important;
        }*/

@media (max-width: 1100px) {
    season {
        background-size: cover;
        background-repeat: no-repeat;
        height: 65px !important;
        display: block;
        position: relative;
        width: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    /* season fix nav-bar */
    /*.navbar-static-top {
                top:65px !important;
            }*/
}
@media (max-width: 630px) {
    season {
        background-size: cover;
        background-repeat: no-repeat;
        height: 43px !important;
        display: block;
        position: relative;
        width: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    /* season fix nav-bar */
    /*.navbar-static-top {
                top:43px !important;
            }*/
}
@media (max-width: 411px) {
    season {
        background-size: cover;
        background-repeat: no-repeat;
        height: 30px !important;
        display: block;
        position: relative;
        width: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    /* season fix nav-bar */
    /*.navbar-static-top {
                top:30px !important;
            }*/
}
div.deviceShow {
    display: none;
    padding: 4.5px 10px;
    background-color: #32ABDC;
    border-bottom: 1px solid;
    border-bottom-color: #32ABDC;
    font-size: 14px;
    color: #FFFFFF;
    height: 40px;
    text-align: center
}
div.deviceShow a {
    width: 76px;
    height: 26px;
    color: #2898CD;
    line-height: 14px;
    padding-left: 8px;
    border: none;
}
div.deviceShow a:hover {
    text-decoration: none;
}