section.kbankpage {
    margin-top: 50px;
}
section {
    margin-bottom: 50px;
}
section:last-child {
    margin-bottom: 0;
}
section.kbankpage .table {
    display: table;
}
section.kbankpage .table-row-group {
    display: table-row-group;
    width: 100%;
    height: auto;
}
section.kbankpage .table-row {
    display: table-row;
}
section.kbankpage .table-cell {
    display: table-cell;
    width: 50%;
}
section.kbankpage .table-cell.cell-image {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
section.kbankpage .table-cell.cell-content {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding-left: 20px;
}
.kbank-header-content-flow {
    font-size: 32px;
}
.kbank-content-flow {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 18px;
}
.btn-kbankgreen {
    background-color: #00aa48;
    color: #fff;
    font-size: 32px;
    width: 330px;
    line-height: 42px;
    height: 50px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-kbankgreen:hover,
.btn-kbankgreen:active,
.btn-kbankgreen:focus {
    color: #fff;
    background-color: #00C152;
}
.color-green {
    color: #00aa48;
}
.color-red {
    color: #CF0A22;
}
.color-blue{
	color: #2898CB;
}
.footer-container {
    padding-top: 40px;
}
.headerlayer {
    display: none;
}
.logoflow {
    max-width: 430px;
    margin-bottom: 10px;
}
.nfont {
    font-size: 44px;
    font-weight: bold;
}
.sfont {
    font-size: 32px;
}
.xsfont {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 16px;
    line-height: 1;
}
.kbank-feature-header {
    font-size: 34px;
}
.input-group-addon {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    height: 35px;
    padding: 0px 10px;
    font-size: 22px;
    line-height: 1;
    border-radius: 0;
    color: #39c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
h1.contact-us {
    font-size: 30px;
    line-height: 1;
    margin-top: 0;
}
section {
    font-family: rsu-regular;
}
body {
    color: #666;
    overflow: auto !important;
    line-height: normal;
}
section#register .input-group.logininput{
	height: 46px;

}
section#register .textbox {
	font-size: 22px;
	height: 46px;
    width: 100%;
    border-color: #fff;
    border-radius: 0;
    padding: 2px 10px 2px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
section#register .textbox:focus {
    border-color: #fff !important;
}
section#register .registerbtn {
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 32px;
    line-height: 1;
    height: auto;
    padding-bottom: 0;
    border-radius: 5px;
}
section#register .registerbtn:hover {
    color: #45acdb !important;
    background-color: #fff !important;
}
.kbank-page-container {
    background-color: white;
    overflow: hidden;
    max-width: 1280px;
    width: 100%;
    position: relative;
    padding: 0;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    -webkit-overflow-scrolling: touch;
}
.kbank-color-green {
    color: #8DC63F !important;
}
.kbank-color-black {
    color: #231F20 !important;
}
.kbank-bussiness-flow-log {
    /*margin-left: 30px;
    margin-top: 54px;
    margin-bottom: 20px;*/
    
    padding-right: 27px;
    position: relative;
    z-index: 9;
}
.footer-header-content {
    color: #FFF;
    padding: 0 15px;
    margin: 0 0 30px 0;
    font-size: 34px;
}
.kbank-bussiness-logo {
    width: 76px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}
.kbank-bussiness-flow-log img,
.kbank-bussiness-logo img {
    width: 100%;
}
section[id*="kbank-content-"] {
    clear: both;
    position: relative;
    z-index: 1;
}
h1 > i {
    padding-right: 10px;
}
.link-mobile {
    margin: 0 10px;
}
section#register .registerbtn {
    font-size: 30px;
}
#kbank-content-privilege {} #kbank-content-privilege h1 {
    font-size: 58px;
}
h1.kbank-font-75.kbank-color-green.privilege-title {
    font-family: 'DB Helvethaicakbank X 75 Bd';
    font-size: 58px;
}
p.kbank-font-65.privilege-details {
    font-family: 'DB Helvethaicakbank X 65 Med';
    font-size: 40px;
}
#kbank-content-flowaccount-app {
    margin-top: 80px;
}
#kbank-content-flowaccount-app .flowaccount-logo {
    margin-bottom: 20px;
}
#kbank-content-flowaccount-app .store-badge {
    margin-top: 20px;
    margin-left: 5px;
}
#kbank-content-flowaccount-app .store-badge img:first-child {
    margin-right: 10px;
}
#kbank-content-flowaccount-app .store-badge img:last-child {
    margin-left: 10px;
}
#kbank-content-flowaccount-app .flowaccount-com > div {
    max-width: 320px;
}
#kbank-content-flowaccount-features {
    margin-top: 55px;
}
#kbank-content-flowaccount-features .row.text-center.flowaccount-features-description {
    margin-bottom: 40px;
}
.feature-box {
    margin-bottom: 30px;
}
#kbank-content-flowaccount-features .features h1 {
    font-size: 36px !important;
}
#kbank-content-flowaccount-features .features h1,
#kbank-content-flowaccount-features .features p {
    max-width: 344px;
    margin: 0 auto;
}
#kbank-content-flowaccount-features h1 {
    font-size: 46px !important;
}
#kbank-content-flowaccount-features h1 i {
    margin-right: 20px;
}
#kbank-content-flowaccount-features p {
    font-size: 24px !important;
}
#kbank-content-footer {
    position: relative;
}
#kbank-content-footer > .footer-container {
    background-color: #8DC63F;
    padding-top: 40px;
}
#kbank-content-footer .logininput .input-group-addon {
    background-color: #FFF;
    color: #8DC63F;
    border: 0;
}
#kbank-content-footer .input-group .form-control {
    border: 0;
}
#kbank-content-footer .has-success .form-control:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#kbank-content-footer #submitRegister {
    /*background-color: #8DC63F;
        border: 3px solid #FFF;
        color: #FFF;
        font-size: 34px;
        padding: 0;*/
}
#kbank-content-ci {
    height: 595px;
    background-color: #8DC63F;
    width: 100%;
    position: relative;
    z-index: 0;
    /*border-bottom: 1px solid #F00;*/
}
#kbank-content-ci .circle {
    border-radius: 50%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 2;
    opacity: 1;
}
#UserName,
#Password,
#Phone {
    font-size: 22px;
    line-height: 22px;
    padding-left: 0;
}
.terms input {} .terms span:first-child {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}
.terms span {
    color: #FFF;
    font-size: 18px;
}
.terms span a:link,
.terms span a:hover,
.terms span a:focus,
.terms span a:active,
.terms span a:visited {
    color: #231F20;
}
button.btn-flat {
    background: rgba(0, 0, 0, 0);
    border: solid 3px #FFF !important;
    color: #FFF;
    font-size: 34px;
    outline: 0;
    height: 58px;
    line-height: 36px;
}
button:focus.btn-flat,
button:hover.btn-flat,
button.hover.btn-flat {
    outline: 0 !important;
    border-color: #FFF !important;
    color: #8DC63F !important;
    background: #FFF !important;
}
button:active.btn-flat,
button.active.btn-flat {
    border-color: #FFF !important;
    color: #8DC63F;
    background: #FFF !important;
}
/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #231F20 !important;
}*/
.container-features{
    max-width: 800px;
    margin-bottom: 50px;
    position: relative;
    left: 35px;
}
span.field-validation-error {
    font-size: 16px;
}
span.field-validation-error span {
    color: #231F1F;
}
span.errorspan.glyphicon.glyphicon-remove.form-control-feedback {
    display: none;
}
#registerForm p.lbl-valid{
    margin-top: 5px;
    color: #000 !important;
}
#register .textbox.has-error{
	border: 1px solid #fff !important;
}
/* Desktop */

@media only screen and (max-width: 1201px) {
    .nfont {
        font-size: 30px;
        font-weight: bold;
    }
    .sfont {
        font-size: 25px;
    }
    .xsfont {
        font-size: 16px;
        line-height: 1;
    }
    .logoflow {
        max-width: 320px;
    }
}
@media only screen and (min-width: 992px) {
    .kbank-bussiness-logo {
        width: 100px;
    }
    #iphone-mockup {
        margin-left: 183px;
        max-width: 460px;
    }
    .col-md-12.col-xs-12.privilege-box > div:last-child {
        padding-left: 25px;
    }
    #macpro-iphone-mockup {
        margin-left: 105px;
    }
    #kbank-content-flowaccount-app .flowaccount-com > div {
        margin-left: 135px;
    }
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}
/* Mobile */

@media only screen and (max-width: 991px) {
	.container-features{
    left: 0;
}
    .table .logoflow {
        display: none;
    }
    .nfont {
        font-size: 32px
    }
    .sfont {
        font-size: 24px;
    }
    .xsfont {
        font-size: 14px;
    }
    .pcshow {
        width: 70%;
        margin-bottom: 30px;
    }
    .kbank .hyellowtop {
        font-size: 46PX;
    }
    .kbank .sptop {
        font-size: 28px;
    }
    .kbank-feature-header {
        font-size: 26px;
    }
    .footer-header-content {
        font-size: 26px;
    }
    .center-small {
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    section.kbankpage .table-cell.cell-image {
        display: table-header-group;
    }
    section.kbankpage .table-cell.cell-content {
        display: table-footer-group;
        padding-left: 0;
    }
    .logo-app {
        padding-top: 20px !important;
    }
    .kbank-bussiness-flow-log img,
    .kbank-bussiness-logo img {} #iphone-mockup {
        max-width: 290px;
        margin-left: 0;
    }
    #macpro-iphone-mockup {
        max-width: 358px;
        width: 100%;
    }
    .privilege-box {
        margin: 0 auto;
        max-width: 450px;
        float: none;
    }
    .privilege-box .privilege-title {
        font-size: 48px !important;
    }
    .privilege-box .privilege-details {
        font-size: 30px !important;
    }
    .flowaccount-com {
        margin-bottom: 40px;
    }
    #kbank-content-flowaccount-app .flowaccount-com > div {
        max-width: initial;
    }
    .store-badge,
    .flowaccount-features-description {
        display: none;
    }
    #kbank-content-flowaccount-features .features h1 {
        font-size: 30px !important;
    }
    .footer-container h1.kbank-font-65.text-center {
        font-size: 36px !important;
    }
    h1.kbank-font-75.kbank-color-green.privilege-title,
    p.kbank-font-65.privilege-details {
        width: 375px;
        margin-top: 10px;
        clear: both;
    }
}
@media (min-width: 995px) {
    .vdoReview .vdoReview-content {
        max-width: 940px;
    }
}
@media (min-width: 670px) and (max-width: 994px) {
    .vdoReview .vdoReview-content {
        max-width: 620px;
    }
}
@media (max-width: 669px) {
    .vdoReview .vdoReview-content {
        max-width: 300px;
    }
}
@media (max-width: 414px) {
    .kbankpage .container-fluid.table {
        padding: 0;
    }
    .logoflow {
        width: 220px;
    }
    .pcshow {
        width: 100%;
    }
    .link-mobile {
        margin: 0;
    }
}
@media (max-width: 321px) {
    #kbank-content-features .ogoflow {
        max-width: 200px;
    }
    .btn-kbankgreen {
        width: auto;
    }
    .features-container {
        padding: 0;
    }
    .link-mobile {
        margin: 0;
    }
    .link-mobile.ios {
   /*     position: relative;
        bottom: 5px;*/
    }
}
.content-vdo .vdo {
    border: 1px solid #E9E9E9;
}