#features.section-seminar {
    margin-top: 100px;
}
#features.section-seminar h2 {
    color: #2898CB;
}
#features.section-seminar .seminarheader {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 1.5em;
}
#features.section-seminar .sectiontab {
    margin-bottom: 20px;
}
#features.section-seminar .fa {
    color: #2898CB;
}
#features.section-seminar .detaildatetime {
    display: table;
    font-size: 16px;
    color: #666;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#features.section-seminar .detaildatetime .detail-cell .table-cell a {
    cursor: pointer;
}
#features.section-seminar .detaildatetime .detail-cell {
    /*display: table-cell;*/
    margin: 0 auto;
}
#features.section-seminar .detaildatetime .detail-cell:nth-child(1),
#features.section-seminar .detaildatetime .detail-cell:nth-child(2) {
    /*width: 30%;*/
}
#features.section-seminar .detaildatetime .detail-cell:nth-child(3) {
    /*text-align: left;*/
}
#features.section-seminar .detaildatetime span {
    font-size: 16px;
    margin-left: 10px;
}
#features.section-seminar .detaildatetime a.btn-buy span {
    font-size: 18px;
    margin-left: 10px;
}
#features.section-seminar .content-vdo {
    height: 370px;
}
.content-vdo .youtube.vdo.big {
    height: 360px;
    width: 640px;
    background-size: cover;
    border: 1px solid #E9E9E9;
}
.fa.fa-ticket {
    color: #fff !important;
}
#features.section-seminar a.btn-buy {
    font-size: 18px;
    line-height: 34px;
    width: 280px;
    height: 48px;
}
a.btn-buy {
    margin-bottom: 10px;
    background-color: #42A707;
    -webkit-transition: all 300ms ease !important;
    -moz-transition: all 300ms ease !important;
    -ms-transition: all 300ms ease !important;
    -o-transition: all 300ms ease !important;
    transition: all 300ms ease !important;
}
a.btn-buy span {
    margin-left: 10px;
    color: #fff !important;
}
.text-green {
    color: #42A707 !important;
}
.text-blue {
    color: #2898CB !important;
}
a.btn-buy:hover {
    background-color: #51C50E;
}
pg {
    margin-right: 70px;
}
.sectiontab.sectioncontent {
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
}
.sectiontab .table {
    display: table;
    margin-bottom: 50px;
}
.sectiontab .table-row {
    display: table-row;
}
.sectiontab .table-cell {
    /*display: table-cell;*/
}
.sectiontab.sectioncontent h2 {
    font-size: 23px;
    line-height: 1.5em;
    text-align: left;
}
.sectiontab.sectioncontent i {
    color: #2898CB;
    margin-right: 10px;
}
.section-seminar span {
    color: #666;
}
.section-seminar span.text-green {
    font-size: 14px;
}
.section-seminar hr {
    max-width: 640px;
    border-color: #2898CB;
}
.sectioncontent.environment span {
    font-size: 12px;
    color: #999;
}
.text-head-small {
    font-size: 14px;
}
.seminar-cell {
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}
.fa.fa-map-marker {
   /* padding-right: 10px;
    display: table-cell;*/
}
@media(max-width: 995px) {
    #features.section-seminar .detaildatetime {
        max-width: 100% !important;
    }
}
@media(max-width: 830px) {
/*    #features.section-seminar .detaildatetime .detail-cell {
        width: 100% !important;
        display: block !important;
        text-align: left !important;
    }*/
    #features.section-seminar .detaildatetime .detail-cell:nth-child(3) {
        /*text-align: left !important;*/
    }
    .sectiontab.sectioncontent h2 {
        font-size: 21px;
    }
    #features.section-seminar .seminarheader {
        font-size: 24px;
    }
    #features.section-seminar {
        margin-top: 70px;
    }
    .content-vdo .youtube.vdo.big {
        height: 169px;
        width: 300px;
        background-size: cover;
        border: 1px solid #E9E9E9;
    }
    /*.fa.fa-map-marker{
            padding-right: 0;
            display: inline-block;
        }*/
    /*.sectiontab .table-cell{
            display: block;
        }*/
}
@media(max-width: 671px) {
    #features.section-seminar .content-vdo {
        height: 175px;
    }
}

@media(max-width: 321px) {
    .sectiontab.text-justify.sectioncontent {
        text-align: left !important;
    }
}
#register-link-ads,
#register-link-ads:link, 
#register-link-ads:hover {
text-decoration:underline;
	color:#666
}