.vdoReview-content .content-vdo {
	min-height: 290px;
}

@media(max-width:768px) {
	#contactus .container .row .center-block {
		/*margin: 0px 20px;*/
	}
	section#contactus .detial-top {
		padding-top: 34px;
	}
	section#contactus .col-detail  {
		border-bottom: 1px dashed #fff;
		padding-bottom: 50px;
	}
	.features .vdoReview{
		padding-bottom: 20px;
	}
	#expense .newExMac{
		padding-left: 10px;
	}
	/*'top' img-inv see v1.2 2699*/
	.vdoReview-content{
		padding-bottom: 30px;
	}
}

section#contactus .contactus-heading {
	font-size: 24px;
	width: 370px;
	display: inline-block;
	vertical-align: top;
}

section#contactus .detail-bottom {
	width: 330px;
	font-size: 16px;
	display: inline-block;
}

.free30trialshort {
	display: none;
}

@media(max-width: 1279px) {
	.free30trialshort {
		display: block;
	}
	.free30trial {
		display: none;
	}
}

@media(max-width:1279px) {
	section#pricing .box-lg .col-content {
		width: 215px;
	}
	section#pricing .box-lg #pricing.box {
		width: 215px;
	}
}

@media (max-width: 1199px) and (min-width: 860px){
.headEx {
    padding-top: 40px !important;
}
.head-create {
    padding-top: 40px !important;
}
}