﻿<style>
	.accountant {
		padding-top: 50px;
	}
	
	.vdoReview {
		padding-left: 0;
	}
	
	.vdoReview .content-vdo {
		max-width: 640px;
		max-height: 100%;
		width: 100%;
		margin-bottom: 55px;
		padding-right: 0;
		padding-left: 0;
	}
	
	.vdoReview .content-vdo .vdo {
		max-width: 640px;
		max-height: 360px;
		height: 100%;
		width: 100%;
	}
	
	.vdoReview .content-vdo .all-detail {
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 0 !important;
	}
	
	.vdoReview .content-vdo .all-detail p {
		min-width: 0;
		max-width: 100%;
		margin-bottom: 0 !important;
		height: 100%;
		font-size: 18px;
	}
	
	.vdoReview .content-vdo .all-detail p.company,
	.vdoReview .content-vdo .all-detail p.detail {
		font-size: 16px;
	}
</style>
<section>&nbsp;</section>
<section id="features" class="container">
	<div class="accountant">
		<div class="center-block" style="max-width: 851px;margin-top: 50px;margin-bottom: 50px;">
			<img class="img-responsive center-block" src="images/Page/Partner/Content_illusHeadline_yv _20160928.jpg">
		</div>

		<div class="accountant-title text-center">
			<span class="heading header-big">มาร่วมเป็น Partner กับเรา</span><br/>
			<div class="accountant-title-content header-small">
				<span>หากท่านเป็นสำนักงานบัญชี และผู้ทำบัญชีอิสระมาร่วมเป็น Partner กับ FlowAccount</span><br/>
				<span>เพื่อให้ท่านได้รับเอกสารที่ครบถ้วน ถูกต้อง และได้มาตราฐานจากลูกค้าของท่าน</span>
			</div>
		</div>
		<div class="vdoReview">
			<div class="row center-block" style="max-width: 640px;">
				<div class="content-vdo">
					<div class="vdo-content embed-responsive embed-responsive-16by9" onclick="gaTrackEvent('Video', 'View', 'MMN Syndicate Offic - ใช้ FlowAccount.com')">
						<div class="youtube vdo embed-responsive-item" id="S2imz_QndgI" data-params="modestbranding=1&showinfo=1;">
						</div>
					</div>
					<div class="all-detail">
						<p class="name">กมลทิพย์ เกตุทัต</p>
						<p class="company">Partner and Managing Director of MMN Syndicate Office</p>
						<p class="detail">"หนึ่งในสำนักงานบัญชีคุณภาพที่เลือกเป็น Partner กับ FlowAccount.com"</p>
					</div>
				</div>
			</div>
		</div>

		<div class="accountant-feature">
			<div class="table" style="display:table;">
				<div class="accountant-table-content">
					<span class="heading header-small">สิ่งที่ FlowAccount จะช่วยสำนักงานบัญชีของท่าน</span><br/><br/>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>ทำงานง่ายขึ้น ช่วยให้สำนักงานท่านได้รับเอกสาร VAT, ภงด 3, ภงด 53 จากลูกค้าตรงเวลา เพราะ FlowAccount จะช่วยให้ลูกค้าของท่านเตรียมเอกสารได้อย่างเป็นระบบ</span>
						</div>
					</div>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>ประหยัดเวลา และลดข้อผิดพลาดในการออกเอกสารผ่าน Excel ของลูกค้าของท่าน โดยการใช้ฟอร์ม และการรันเลขที่ได้มาตรฐาน</span>
						</div>
					</div>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>มั่นใจว่าเอกสารส่งมาครบถ้วน เพราะระบบจะมาพร้อมรายงานสรุป ภาษีขาย และ รายงานภาษีหัก ณ ที่จ่าย ทำให้ท่านเช็คได้อย่างมั่นใจว่าเอกสารจะไม่ตกหล่น</span>
						</div>
					</div>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>เหมาะสำหรับลูกค้ารายเล็กๆ ของท่าน ด้วยระบบการขาย บันทึกรายจ่าย สต๊อกสินค้า ยอดค้างรับ ยอดค้างจ่าย และดูรายงานแบบง่ายๆด้วยราคาเพียง 990 บาทต่อปี</span>
						</div>
					</div>
				</div>


				<!-- image right -->
				<div class="accountant-table-img hidden-xs">
					<img class="img-responsive hidden-normal" src="images/Page/Partner/img_partner_mansitonclock.png" />
					<img class="img-responsive hidden-hd" src="images/Page/Partner/img_partner_mansitonclock_HD1600.png" />
				</div>
			</div>

			<div class="accountant-register">
				<!-- onclick="window.location.href='http://goo.gl/forms/gX3RMMY661K2anCg1'" -->
				<a class="partner-register-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSenLN4hVWhA4lmH-nPYyYiktpZ_x4ehlPhep4PU2bAhfKKPmQ/viewform"
					target="_blank">ลงชื่อร่วมงานกับ FlowAccount.com</a>
			</div>
		</div>

		<!-- accountant-feature 2 -->
		<div class="accountant-feature" style="padding-top:100px;border:0;">
			<div class="table" style="display:table;">
				<!-- image left -->
				<div class="accountant-table-img hidden-xs">
					<img class="img-responsive hidden-normal" src="images/Page/Partner/img_partner_manwithbulb.png" />
					<img class="img-responsive hidden-hd" src="images/Page/Partner/img_partner_manwithbulb_HD1600.png" />
				</div>

				<div class="accountant-table-content">
					<span class="heading header-small">สิ่งที่ท่านจะได้รับเมื่อร่วมเป็น Partner กับ FlowAccount</span><br/><br/>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>สิทธิ์ซื้อ License FlowAccount ในราคาพิเศษ สำหรับลูกค้าของสำนักงานบัญชีของท่าน</span>
						</div>
					</div>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>สิทธิ์ส่งลูกค้าของท่านเข้าร่วม Workshop สัมมนา สอนเตรียมบัญชีเบื้องต้นเพื่อส่งสำนักงานบัญชี</span>
						</div>
					</div>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>Workshop ส่วนตัวสำหรับทีมงาน และนักบัญชีของท่าน เพื่อให้เข้าใจระบบ FlowAccount.com</span>
						</div>
					</div>
					<div class="accountant-div">
						<div class="accountant-feature-content-icon">
							<i class="fl-circlecorrect"></i>
						</div>
						<div class="accountant-feature-content">
							<span>ฟรี Premium License สำหรับสำนักงานของท่าน</span>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- link to register form -->

		<div class="accountant-register">
			<!-- onclick="window.location.href='http://goo.gl/forms/gX3RMMY661K2anCg1'" -->
			<a class="partner-register-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSenLN4hVWhA4lmH-nPYyYiktpZ_x4ehlPhep4PU2bAhfKKPmQ/viewform"
				target="_blank">ลงชื่อร่วมงานกับ FlowAccount.com</a>
		</div>

	</div>
</section>
<div class="partner-footer">
</div>