﻿<style>
    #features {
        max-width: 1024px;
        width: 100%;
        height: 2665px;
        margin: 0 auto;
    }

    .ais-cover {
        background-image: url('images/promotion/Website_AIScontent_c1r2_20160614.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 1024px;
        max-height: 2665px;
        width: 100%;
        height: 100%;
        position: relative;
        top: 50px;
        background-position: center top;
    }
</style>
<section>&nbsp;</section>
<section id="features">
    <div class="ais-cover">
    </div>
</section>
