﻿
    <style>
        .faq { top:50px;position: relative;}
    </style>
    <section>&nbsp;</section>
   <section id="features" class="faq">
        <div class="page-wrap container">
            <div class="col-md-12">
                <h3 class="text-center col-md-12 col-sm-12 col-xs-12 " style="color: #3398cc;">คำถามที่พบบ่อย (FAQ)</h3>

                <div class="faq-content col-md-12 col-sm-12 col-xs-12">
                    <!-- หมวดที่ 1 คำถามที่พบบ่อย  -->
                    <div id="faq" class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 10px;">
                        <div class="headtitle text-center">
                            <h4>หมวดที่ 1 คำถามที่พบบ่อย </h4>
                            <hr class="header_underline" style="border:0px;margin: 0 auto;">
                        </div>
                        <span>
                            FLOWACCOUNT.COM คืออะไร
                          </span>
                        <p>
                            FlowAccount คือ โปรแกรมบัญชี online (Cloud Accounting) ที่ใช้งานง่าย เหมาะสำหรับธุรกิจเพิ่งเริ่มต้น เพื่อเตรียมเอกสารทางด้านบัญชีเบื้องต้นก่อนส่งสำนักงานบัญชี เนื่องจาก FlowAccount ทำงานผ่านระบบ Cloud ทำให้สามารถใช้งานได้ทุกที่ ทุกเวลา รวมทั้งสามารถใช้งานผ่านมือถือ
                        </p>

                        <span>
                            สามารถใช้งานบัญชีเดียวกันด้วยอุปกรณ์หลายเครื่องได้หรือไม่
                          </span>
                        <p>
                            ได้ ผู้ใช้งานสามารถล็อคอินและใช้งานผ่านคอมพิวเตอร์ / อุปกรณ์เคลื่อนที่ต่างๆ พร้อมกันได้หลายเครื่อง
                        </p>

                        <span>
                            FlowAccount เวอร์ชั่นคอมพิวเตอร์และอุปกรณ์เคลื่อนที่ แตกต่างกันอย่างไร
                          </span>
                        <p>
                            ในมือถือและอุปกรณ์เคลื่อนอื่นๆ จะไม่สามารถดูค่าใช้จ่าย รายงานต่างๆ และบริหารสต๊อกสินค้าได้ โดยทาง FlowAccount มีแผนพัฒนาเพิ่มเติมให้ทุกอุปกรณ์สามารถใช้งานได้ทัดเทียมกันในอนาคต
                        </p>

                        <span>
                            หากไม่มี internet สามารถใช้งาน FlowAccount ได้หรือไม่
                          </span>
                        <p>
                            ไม่ได้ เนื่องจาก FlowAccount เก็บข้อมูลในระบบ Cloud ต้องอาศัยการส่งข้อมูลผ่าน internet
                        </p>

                        <span>
                            Flowaccount มีค่าบริการหรือไม่
                          </span>
                        <p>
                            FlowAccount มีแพ็คเกจให้บริการ 2 รูปแบบคือ Basic Package ไม่มีค่าใช้จ่าย และ Premium Package ราคา 990 บาทต่อปี
                        </p>

                        <span>
                            FlowAccount ใช้บนอุปกรณ์ใดได้บ้าง
                          </span>
                        <p>
                            FlowAccount ใช้ผ่าน website รองรับ windows และ Mac รวมถึง IOS App บน iPhone
                        </p>
                        
                        <span>
                            Premium Package (ปีละ 990 บาท) ได้สิทธิประโยชน์อะไรแตกต่างจาก Basic Package (ฟรี) อย่างไร
                          </span>
                        <p>
                            ข้อแตกต่างระหว่าง Premium Package กับ Basic Package คือ<br/>
                            <li>จำนวนผู้ใช้งานในระบบ 3 คน (เจ้าของ1และผู้ใช้งานเพิ่มเติม2คน)</li>
                            <li>บันทึกค่าใช้จ่าย</li>
                            <li>ใบภาษีหัก ณ ที่จ่าย</li>
                            <li>รายงานกำไรขาดทุน, รายงานค่าใช้จ่าย, รายงานภาษีหัก ณ ที่จ่าย, รายงานยอดขาย ตามพนักงาน</li>
                            <li>ขนาดพื้นที่เก็บข้อมูลของไฟล์เอกสารแนบ (1GB)</li>
                            <li>กำหนดสิทธิ์ผู้ใช้งานในระบบ</li>
                            <li>นำโลโก้ FlowAccount ออก</li>
                            <li>ระบบ Stock สินค้า</li>
                            <li>รวมถึง Feature ใหม่ๆในอนาคต</li>
                        </p>

                        <span>
                            หากไม่ทำการ Upgrade เป็น Premium Account บัญชีจะถูกระงับหรือข้อมูลจะสูญหาหรือไม่
                          </span>
                        <p>
                            ทาง FlowAccount ไม่มีนโยบายในการลบข้อมูลของลูกค้าถึงแม้จะเป็น Free Account ก็ตาม ทำให้สามารถใช้งานได้อย่างต่อเนื่อง
                        </p>

                        <span>
                            FlowAccount สามารถใช้ปิดงบได้หรือไม่
                          </span>
                        <p>
                            จะไม่สามารถทำได้ เพราะ FlowAccount ถูกออกแบบมาให้ใช้งานง่าย เพื่อให้ธุรกิจที่เพิ่งเริ่มต้น ช่วยให้ผู้ใช้งานสามารถจัดการเอกสารก่อนส่งสำนักงานบัญชี
                        </p>

                        <span>
                            แบบฟอร์มของ FlowAccount ถูกต้องตามมาตรฐานหรือไม่
                          </span>
                        <p>
                            ถูกต้องตามมาตรฐานตามที่กฎหมายกำหนด
                        </p>

                        <span>
                            ระบบ Security มีความปลอดภัยหรือไม่
                          </span>
                        <p>
                            ปลอดภัย FlowAccount มีระบบการรักษาความปลอดภัยในระดับมาตรฐานสากล
                        </p>

                        <span>
                            FlowAccount มีการขายข้อมูลหรือเปิดเผยข้อมูลกับบุคคลที่ 3 หรือไม่
                          </span>
                        <p>
                            ไม่มี FlowAccount ไม่มีนโยบายในการเปิดเผยข้อมูลของลูกค้าไม่ว่ากรณีใดๆ
                        </p>

                        <span>
                            FlowAccount มีการ Back up ข้อมูลหรือไม่
                          </span>
                        <p>
                            มี FlowAccount มีการ back up ข้อมูลอยู่อย่างสม่ำเสมอ
                        </p>

                        <span>
                            FlowAccount มีการสอนการใช้โปรแกรมหรือไม่
                          </span>
                        <p>
                            มี สามารถติดต่อข่าวสารการจัดเวิร์คช็อปผ่าน facebook และ youtube ของ flowaccount
                        </p>

                        <span>
                            ขนาดพื้นที่เก็บข้อมูลไฟล์เอกสารแนบ 1 Gb เพียงพอหรือไม่
                          </span>
                        <p>
                            เพียงพอ เนื่องจากพื้นที่ 1GB สามารถเก็บรูปภาพ File แนบเอกสารได้ถึง 2,000-2,500 ภาพ
                        </p>

                        <span>
                            สามารถขอเพิ่ม User มากกว่า 3 Users ได้หรือไม่
                          </span>
                        <p>
                            สามารถเพิ่มได้โดยติดต่อทีมงานผ่านทาง Livechat หรือ โทรศัพท์ 081-359-7000 เพื่อขอรายละเอียดต่างในการชำระค่าบริการในส่วนนี้
                        </p>

                        <span>
                            สามารถเปลี่ยนแปลงการออกเลขเอกสารได้หรือไม่
                          </span>
                        <p>
                            ได้ การเปลี่ยนแปลงวิธีการออกเลขเอกสาร มีขั้นตอนดังนี้ <br/>
                            เข้าไปที่เมนู >> เลือกการตั้งค่า >> เลือก แก้ไขวิธีรันเลขเอกสาร >> เลือกแก้ไขวิธีรันเลขเอกสาร หรือ ตั้งค่าเลขเริ่มต้น<br/>
                            หมายเหตุ : หากมีการออกเอกสารมาก่อนหน้านี้แล้ว การรีเซทและตั้งค่าเอกสารใหม่อาจมีผลกระทบกับเลขที่ออกมาก่อนหน้านี้แล้ว
                        </p>

                        <span>
                            สามารถออกใบเสร็จรับเงินเมื่อชำระเงินสมัครสมาชิก Premium Package ให้ได้หรือไม่
                          </span>
                        <p>
                            ได้ครับ ทางบริษัท สามารถออกใบกำกับภาษี ค่าบริการ Premium Package ตามชื่อที่อยู่ที่ลูกค้ากำหนด
                        </p>
                    </div>

                    <!-- หมวดที่ 2 การเริ่มต้นใช้งาน   -->
                    <div id="starting" class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 10px;">
                        <div class="headtitle text-center">
                            <h4>หมวดที่ 2 การเริ่มต้นใช้งาน</h4>
                            <hr class="header_underline" style="border:0px;margin: 0 auto;">
                        </div>
                        <span>
                            เริ่มต้นใช้งาน FlowAccount ได้อย่างไร
                          </span>
                        <p>
                            สามารถเริ่มต้นใช้งานได้ที่ <a href="https://www.flowaccount.com" target="_blank">www.flowaccount.com</a> หรือดาวน์โหลด Application จาก App Store เพื่อใช้งานผ่านมือถือ
                        </p>

                        <span>
                            วิธีการสมัครใช้งาน FlowAccount
                          </span>
                        <p>
                            สามารถสมัครใช้งานที่ <a href="https://app.flowaccount.com/th/Account/Register" target="_blank">https://app.flowaccount.com/th/Account/Register</a>
                        </p>

                        <span>
                            FlowAccount รองรับการใช้งานได้กี่ภาษา
                          </span>
                        <p>
                            2 ภาษา คือ ภาษาไทย และ ภาษาอังกฤษ
                        </p>

                        <span>
                            เอกสารของ FlowAccount สามารถ Print ออกมาได้หรือไม่
                          </span>
                        <p>
                            ได้ ผ่านเครื่อง Print Inkjet บนกระดาษ A4 และเครื่อง Print กระดาษต่อเนื่อง
                        </p>

                        <span>
                            สามารถเรียกดูรายงานสรุปรายรับรายจ่ายได้หรือไม่
                          </span>
                        <p>
                            ได้ สามารถเรียกดูได้ตลอดเวลา
                        </p>

                        <span>
                            รายงานของ FlowAccount มีทั้งหมดกี่รายงาน อะไรบ้าง
                          </span>
                        <p>
                            รายงานต่าๆงทั้งหมด 14 รายการ ประกอบด้วย รายงานยอดขาย รายงานค่าใช้จ่าย รายงานยอดขายของสินค้าแต่ละตัว รายงานลูกค้า รายงานสินค้าคงเหลือ รายงานหัก ณ ที่จ่าย ฯลฯ 
                        </p>

                        <span>
                            สามารถ Save เอกสารเก็บไว้บนคอมพิวเตอร์ได้หรือไม่
                          </span>
                        <p>
                            ได้ สามารถ Download เก็บไว้ในเครื่องได้ ในรูปแบบ PDF เก็บไว้ในเครื่องได้ รวมไปถึง Report ต่างๆ ที่สามารถ Download เป็น File Excel ได้เช่นกัน
                        </p>

                        <span>
                            อยากได้ฟีดเจอร์เพิ่มเติม FlowAccount มีแผนที่จะพัฒนาต่อหรือไม่
                          </span>
                        <p>
                            FlowAccount มีการเก็บข้อมูลของลูกค้าและพัฒนาฟีดเจอร์ใหม่อยู่อย่างต่อเนื่อง สามารถแจ้ง feedback มาให้ทีมงานได้ตลอดเวลา
                        </p>

                        <span>
                            แบบฟอร์มของ FlowAccount มีทั้งหมดกี่ประเภท อะไรบ้าง
                          </span>
                        <p>
                            แบบฟอร์มของ Flowaccount จะมีหลักๆ คือ ใบเสนอราคา ใบวางบิล ใบแจ้งหนี้ ใบเสร็จรับเงิน ใบส่งสินค้ ใบกำกับภาษี ใบสั่งซื้อ ใบรับสินค้ ใบหัก ณ ที่จ่าย 
                        </p>

                        <span>
                            หากมีปัญหาการใช้งานสามารถติดต่อ FlowAccount ได้อย่างไร
                          </span>
                        <p>
                            สามารถติดต่อ FlowAccount ได้ที่<br/>
                            Hotline : <span class="hidden-sm hidden-xs">081-359-7000</span> <a class="hidden-lg hidden-md" href="tel:0813597000">081-359-7000</a><br/>
                            E-mail : <span>support@flowaccount.com</span><br/>
                            ระบบ Live chat ผ่านทางโปรแกรม FlowAccount <br/>
                            โดยจะมีทีมงานคอยช่วยเหลือเกี่ยวกับปัญหาเกี่ยวกับการใช้งานต่างๆ
                        </p>

                        <span>
                            ลืมรหัสผ่านทำอย่างไร
                          </span>
                        <p>
                            สามารถคลิ๊ก “ลืมรหัสผ่าน” ได้ที่ <a href="https://app.flowaccount.com/th/ForgetPassword/Forget" target="_blank">https://app.flowaccount.com/th/ForgetPassword/Forget</a> <br/>
                            หลังจากนั้นสามารถตั้งรหัสผ่านใหม่ผ่าน Email ที่ลงทะเบียนไว้
                        </p>

                        <span>
                            สามารถ Save รายชื่อลูกค้า ทำได้หรือไม่
                          </span>
                        <p>
                            ได้ โดยไปที่เมนูสมุดรายชื่อ(Contacts)แล้วจะมีปุ่ม Download อยู่ที่มุมซ้ายล่างของตารางข้อมูล
                        </p>

                        <span>
                            สามารถ Save รายชื่อสินค้า ได้หรือไม่
                          </span>
                        <p>
                            ได้ โดยไปที่เมนูสินค้า(Product)แล้วจะมีปุ่ม Download อยู่ที่มุมซ้ายล่างของตารางข้อมูล
                        </p>

                        <span>
                            สามารถบันทึกตรายางบนเอกสาร ได้หรือไม่
                          </span>
                        <p>
                            ได้ สามารถเพิ่มตรายาง ด้วยวิธีการต่อไปนี้<br/>
                            เข้าไปที่ เมนู การตั้งค่า >> เลือกที่ เพิ่มตรายางบริษัท >> เลือกรูปที่จะ Upload
                        </p>

                        <span>
                            สามารถบันทึกลายเซ็นต์บนเอกสาร ได้หรือไม่
                          </span>
                        <p>
                            ได้ สามารถเพิ่มตรายาง ด้วยวิธีการต่อไปนี้</p>
                            เข้าไปที่ เมนู การตั้งค่า >> เลือกที่ เพิ่มลายเซ็นอิเล็กทรอนิกส์ >> เลือกรูปที่จะ Upload
                        </p>

                        <span>
                            สามารถดาวน์โหลดคู่มือการใช้งานได้จากไหน
                          </span>
                        <p>
                            สามารถ ดาวน์โหลดได้ที่ <a href="https://www.dropbox.com/s/1647h9ryr66imhf/Flowaccount%20User%20Manual.pdf?dl=0" target="_blank">https://www.dropbox.com/s/1647h9ryr66imhf/Flowaccount%20User%20Manual.pdf?dl=0</a>
                        </p>

                        <span>
                            หากมีหลายบริษัทสามารถใช้ e-mail เดียวกันในการสมัครได้หรือไม่
                          </span>
                        <p>
                            ไม่ได้ ระบบของ FlowAccount ยังไม่รองรับการบริหารหลายบริษัทใน Email เดียว ยังต้องสมัครโดยใช้ 1 Email ต่อ 1 บริษัท
                        </p>
                    </div>

                    <!-- หมวดที่ 3 Mobile   -->
                    <div id="mobile" class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 10px;">
                        <div class="headtitle text-center">
                            <h4>หมวดที่ 3 Mobile</h4>
                            <hr class="header_underline" style="border:0px;margin: 0 auto;">
                        </div>
                        <span>
                            Flowaccount มี Mobile App หรือไม่
                          </span>
                        <p>
                            FlowAccount มี Mobile App บนระบบ iOS สามารถใช้งานผ่าน iPhone โดยรองรับ iPhone5 ขึ้นไป
                        </p>
                        <span>
                            FlowAccount เหมาะกับ browser version / operating system รุ่นใด
                          </span>
                        <p>
                            FlowAccount เหมาะกับการใช้งานผ่าน browser / operating system เพื่อประสิทธิภาพในการใช้งานสูงสุด<br/>
                        </p>
                            <span style="font-weight: bold;">Browser</span><br/>                            
                            <li>Google Chrome เว่อร์ชั่น 45 ขึ้นไป</li>
                            <li>Firefox เว่อร์ชั่น 41 ขึ้นไป</li>
                            <li>Internet Explorer 10 เว่อร์ชั่น 11 ขึ้นไป</li>
                            <li>Safari เว่อร์ชั่น 9 ขึ้นไป</li>
                            <li>EDGE Version เว่อร์ชั่น 25 ขึ้นไป</li>

                            <span style="font-weight: bold;">Operating system</span><br/>
                            <li>Android เว่อร์ชั่น 4.4 ขึ้นไป (KitKat)</li>
                            <li>iOS เว่อร์ชั่น 8.3 ขึ้นไป</li><br/>
                        <span>
                            แอพพลิเคชั่นบน iOS สามารถใช้งานอะไรได้บ้าง
                          </span>
                        <p>
                            เปิดบิลใบเสร็จต่างๆ ใบสั่งซื้อ ใบรับสินค้า บันทึกค่าใช้จ่าย สร้างรายการสินค้า สร้างรายชื่อลูกค้า
                        </p>
                        <span>
                            FlowAccount สามารถใช้งานบนอุปกรณ์เคลื่อนที่อะไรได้บ้าง
                          </span>
                        <p>
                            Computer PC  โน๊ตบุ๊ค มือถือ Smartphone iPhone iPad ในส่วนของมือถือ Android Tablet จะสามารถใช้งานได้เร็วๆ นี้
                        </p>
                        <span>
                            สามารถบันทึกใบเสร็จต่างๆ ด้วยวิธีการถ่ายรูปผ่านมือถือได้หรือไม่
                          </span>
                        <p>
                            ได้ สามารถถ่ายรูปและ upload เข้าแฟ้มค่าใช้จ่ายได้ทันที
                        </p>
                    </div>

                    <!-- หมวดที่ 4 การตั้งค่าบัญชี  -->
                    <div id="settingaccount" class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 10px;">
                        <div class="headtitle text-center">
                            <h4>หมวดที่ 4 การตั้งค่าบัญชี</h4>
                            <hr class="header_underline" style="border:0px;margin: 0 auto;">
                        </div>
                        <span>
                            สามารถกำหนดสิทธิให้ผู้ใช้งาน (User) แต่ละคนเข้าถึงข้อมูลไม่เท่ากันได้หรือไม่
                          </span>
                        <p>
                            สามารถกำหนดได้โดยระบบของ FlowAccount จะกำหนดได้ตามตำแหน่ง
                        </p>
                        <span>
                            การกำหนดสิทธิผู้ใช้งาน (User)แต่ละประเภทมีความแตกต่างกันอย่างไร
                          </span>
                        <p>
                            แต่ละตำแหน่งของ User จะสามารถเข้าถึงข้อมูลของ User ได้แตกต่างกัน เช่น Sale Admin จะสามารถเปิดได้แค่ใบเสนอราคา กับ ลงบันทึกค่าใช้จ่ายของตนเองได้เท่านั้น จะไม่สามารถเห็นข้อมูลอื่นๆได้
                        </p>
                        <span>
                            การกำหนดสิทธิผู้ใช้งานในระบบทำได้อย่างไร
                          </span>
                        <p>
                            สามารถตั้งค่าผู้ใช้งานได้ด้วยตนเองที่ การตั้งค่า >> เลือก เพิ่มผู้ใช้งานในระบบ จากนั้นเลือกผู้ใช้งานที่ต้องการ หรือสร้างใหม่
                        </p>
                    </div>

                    <!-- หมวดที่ 5 การชำระเงินและการเอกสารต่างๆ ที่เกี่ยวข้อง  -->
                    <div id="price" class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 10px;">
                        <div class="headtitle text-center">
                            <h4>หมวดที่ 5 การชำระเงินและการเอกสารต่างๆ ที่เกี่ยวข้อง</h4>
                            <hr class="header_underline" style="border:0px;margin: 0 auto;">
                        </div>
                        <span>
                            สามารถชำระสมัคร Premium Package ปีละ 990 บาทได้อย่างไร
                          </span>
                        <p>
                            สามารถชำระเงินได้ 2 วิธี<br/>
                            &nbsp;&nbsp;&nbsp;1. ชำระผ่านบัตรเครดิจได้ที่หน้า Website<br/>
                            &nbsp;&nbsp;&nbsp;2. ชำระผ่านทางการโอนเงิน<br/>

                            สามารถโอนเงินเข้ามาได้ที่ บริษัทโฟลว์แอคเคาท์ จำกัด ธนาคาร กสิกรไทยเลขที่บัญชี 004-8-62000-0 สาขา สุขุมวิท 55 (ทองหล่อ 20) บัญชีออมทรัพย์ และแนบรายละเอียดดังนี้ครับ<br/>
                            &nbsp;&nbsp;&nbsp;1. รูปถ่ายของการโอนเงิน พร้อม<br/>
                            &nbsp;&nbsp;&nbsp;2. ระบุชื่อ ที่อยู่ ในการออกใบกำกับภาษี<br/>
                            &nbsp;&nbsp;&nbsp;3. ระบุชื่อ user ที่ใช้ใน FlowAccount ตอบกลับในอีเมล์ หรือ chat ได้เลยครับ<br/>
                        </p>
                        <span>
                            หลังจากชำระเงินค่าสมาชิก Premium Package ปีละ 990 บาท สามารถใช้งาน Premium Package ได้เมื่อใด
                          </span>
                        <p>
                            หากชำระผ่านบัตรเครดิตสามารถใช้งานได้ทันที หากเป็นชำระผ่านทางการโอนเงินภายใน 1ชั่วโมงสำหรับเวลาทำการ หากเป็นวันหยุดต่างๆภายใน 1 วันทำการ
                        </p>
                        <span>
                            สามารถขอใบเสนอราคาจาก FlowAccount ได้หรือไม่
                          </span>
                        <p>
                            ติดต่อสอบถามได้ผ่านทาง Live Chat หรือ ผ่านทาง Email support@flowaccount.com
                        </p>
                        <span>
                            การชำระเงินสมัคร Premium Package ต้องหัก ณ ที่จ่ายหรือไม่
                          </span>
                        <p>
                            ไม่ต้องหัก เนื่องจากยอดชำระไม่เกิน 1,000 บาท
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
