﻿<link href="css/job-v1.0.css?v=18112016-1" rel="stylesheet" type="text/css" />
<!-- ?v=23092016-1 -->
<section class="cover-photo">
    <img class="img-responsive center-block job-image">
</section>

<section id="features" class="section-job container">
    <br/>
    <div class="sectiontab sectioncontent">
        <h2 class="jobheader jobname">นักบัญชี Accountants</h2>
        <br/>
        <span class="text-justify">
                สำหรับพี่ๆ น้องๆ นักบัญชีทุกท่าน ที่กำลังมองหาประสบการณ์การทำงานใหม่ๆ ทาง FlowAccount กำลังขยายทีม และอยากขอเชิญชวนพี่ๆ น้องๆ นักบัญชี มาร่วมทีมกับเรา มาลองทำอะไรแปลกๆ ใหม่ๆ (แต่ไม่พ้นงานด้านบัญชีนะครับ) ได้ใช้ความรู้ทางด้านบัญชี ช่วยพัฒนาโปรแกรมดีๆ และช่วยเจ้าของกิจการขนาดเล็กไปด้วยกันกับเรา
        </span>
<!-- 
สำหรับพี่ๆ น้องๆ นักบัญชีทุกท่าน ที่กำลังมองหาประสบการณ์การทำงานใหม่ๆ ทาง #FlowAccount กำลังขยายทีม และอยากขอเชิญชวนพี่ๆ น้องๆ นักบัญชี มาร่วมทีมกับเรา มาลองทำอะไรแปลกๆ ใหม่ๆ ( #แต่ไม่พ้นงานด้านบัญชีนะครับ ) ได้ใช้ความรู้ทางด้านบัญชี ช่วยพัฒนาโปรแกรมดีๆ และช่วยเจ้าของกิจการขนาดเล็กไปด้วยกันกับเรา
 -->

        <span class="rootjob">Senior Accounting Manager / Project Manager 1 ตำแหน่ง</span><br/>
        <span>
            ช่วยรับผิดชอบ และพัฒนา บริการใหม่ๆ ของทางบริษัท<br/>
            ให้คำปรึกษา และแนะนำวิธีการทำบัญชีกับเจ้าของกิจการรุ่นใหม่
        </span>
        <br/>

        <span class="rootjob">Junoir Accountant (ฝ่ายดูแลลูกค้า) 1 ตำแหน่ง</span><br/>
        <span>
            - ให้บริการด้านข้อมูลผลิตภัณฑ์ แนะนำวิธีใช้งาน ผ่านทางโทรศัพท์ให้กับเจ้าของกิจการรุ่นใหม่<br/>
            - ติดต่อเรียนเชิญลูกค้าเข้าร่วมงาน Event ต่างๆ ของบริษัท<br/>
            - จัดเตรียมข้อมูลลูกค้า เพื่อนำเสนอสิทธิพิเศษ
        </span>
        <hr/>
    </div>
    <!-- Programmer -->
    <div class="sectiontab sectioncontent">
        <h2 class="jobheader jobname">Developers</h2>
        <span class="rootjob">Senior Developer x 1 position</span><br/>

        <span class="rootjob">Junoir Developer x 1 position</span><br/>

        <span class="rootjob">Front End Developer x 1 position</span><br/><br/>
        <span class="text-justify">
            <span class="footertext footercontact">Developers with passion and skills</span><br/>
            We are looking for developers, who are recently graduated or with work experiences. The most important part is that you have a passion for programming and technology.
            If you are creative, and like to program during free time or play around with new frameworks and technology do contact us because you fit the job description!<br/><br/>
            <span class="footertext footercontact">What are we looking for</span><br/>
            · Creative and positive<br/>
            · Adapts easily to new circumstances<br/>
            · Likes to work with other like-minded<br/><br/>
            <span class="footertext footercontact">Most important skills</span><br/>
            · ASP.NET MVC<br/>
            · Angularjs<br/>
            · Android/iOS<br/>
            · HTML/CSS<br/>
            · Javacript/jQuery<br/>
        </span>
    </div>

    <div class="sectiontab sectioncontent text-center">
        <span class="footertext">ส่ง ใบสมัครงาน Resume และ Portfolio มาหาเราได้ที่</span><br/>
        <span class="footertext footeremail">sek@flowaccount.com</span><br/>
        <span class="footertext footercontact">หรือ โทรหาเราได้ที่ 081-359-7000</span><br/>
    </div>
</section>



<!-- 

Developers with passion and skills
We are looking for developers, who are recently graduated or with work experiences.
The most important part is that you have a passion for programming and technology. If you are creative, and like to program during free time or play around with new frameworks and technology do contact us because you fit the job description!
What are we looking for:
· Creative and positive
· Adapts easily to new circumstances
· Likes to work with other like-minded
Most important skills:
· ASP.NET MVC
· Angularjs
· Android/iOS
· HTML/CSS
· Javacript/jQuery
Developer Positions
· Senior Developer x1
· Front End Developer x1
· Back End Developer x1
· Android Developer x1
Salary Range - Negotiable depending on experience

 -->