﻿<style>
    #CKBankImage {
        display: block;
        margin: 0px auto;
        max-width: 1024px;
        width: 100%;
        top: 50px;
        position: relative;
    }
    #Converdiant_modal{
        position:fixed !important;
    }
    .contactForm.holder
    {
        left: 50% !important;
        top: 30% !important;
    }
    @media screen and (max-width: 700px) {
        .contactForm.holder {
            left: 0% !important;
            -webkit-transform:none;
            transform:none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
        }
    }
</style>
<script>
    $(document).ready(function (e) {
        $('img[usemap]').rwdImageMaps();
    });
</script>


<style>
    #features {
        max-width: 1024px;
        width: 100%;
        height: 1680px;
        margin: 0 auto;
    }

    .kbank-cover {
        background-image: url('images/Kbank_K-cash-cardfor-website_yv_tk_20160418.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 1024px;
        max-height: 1680px;
        width: 100%;
        height: 100%;
        position: relative;
        top: 50px;
    }

        .kbank-cover #registerKCash {
            width: 38.5%;
            display: block;
            position: absolute;
            opacity: 0.5;
            margin-top: 66.5%;
            margin-left: 52.5%;
            padding-top: 6.5%;
        }

        .kbank-cover #downloandpdf {
            width: 53%;
            display: block;
            position: absolute;
            opacity: 0.5;
            margin-top: 132.5%;
            margin-left: 5.5%;
            padding-top: 3.5%;
        }
</style>
<section>&nbsp;</section>
<section id="features">
    <div class="kbank-cover">
        <a id="registerKCash" href="https://docs.google.com/a/flowaccount.com/forms/d/1umlkivSUck-9F_5WPPxsAU8jFEyD6LJZfLeA5myEBz0/viewform"  title="regiterKBank" target="_blank"></a>
        <a id="downloandpdf" alt="" title="downloand flie pdf" href="downloads/Application_K Cash Card.pdf" download="k-cash-card"></a>
    </div>
    <!--<img id="CKBankImage" src="images/Kbank_K-cash-cardfor-website_yv_tk_20160408.jpg" usemap="#KCashMap" alt="" />
    <map name="KCashMap" id="image-maps-2016-04-04-083239">
        <area id="registerKCash" alt="" title="regiterKBank" href="javascript:void(0);" ng-click="openForm();" shape="rect" coords="537,681,934,747" style="outline:none;" target="_self" />
        <area id="downloandpdf" alt="" title="downloandpdf" href="downloads/Application_K Cash Card.pdf" download shape="rect" coords="61,1362,608,1393" style="outline:none;" target="_self" />
    </map>-->
</section>
