﻿<script>
    $(function () {
        setTimeout(function () {
            $("#myCarousel").carousel();
            $("#myCarousel2").carousel();
            loadVideos();
        })    
    });

</script>

<style type="text/css">
    @media (min-width:995px) {
        .vdoReview .vdoReview-content {
            max-width: 940px;
        }
    }
    
    @media (min-width:670px) and (max-width: 994px) {
        .vdoReview .vdoReview-content {
            max-width: 620px;
        }
    }
    
    @media (max-width: 669px) {
        .vdoReview .vdoReview-content {
            max-width: 300px;
        }
    }
    
    .content-vdo .vdo {
        border: 1px solid #E9E9E9;
    }
    /* centered columns styles */
    
    .row-centered {
        text-align: center;
    }
</style>

<!-- enjoy top-bar-->
<!--<season>
    <img class="img-responsive" src="images/ChineseNewyear.jpg" alt="Techsauce" style="height:100%;margin: 0 auto;">
</season>-->

<section class="page-container container-fluid containerpadding" id="pagetop" style="overflow-x:hidden;">
    <section id="banner">
        <div class="banner-content-container">
            <div class="banner-content headpromote col-md-5 col-sm-12 col-xs-12" style="padding-top: 65px;" translate="{{'promote'}}">
                <div id="videoFlow" ng-controller="VideoPreview3Ctrl" style="background: url('images/FlowAccount_th_clip.jpg')center no-repeat;background-size: contain;height: 270px;">
                    <button id="play2" class="btn" ng-click="open()"></button>
                </div>
            </div>
            <div class="banner-content col-md-7 col-sm-12 col-xs-12 ">
                <div class="text-body">
                    <h1 id="headline" translate="{{ 'HEADLINE' }}"></h1>
                    <div class="btn-control" ng-controller="LangCtrl">
                        <!-- <a class="btn btn-create-invoice btn-toggle-cover" href="http://app.flowaccount.com/freeinvoice/{{'en' | translate}}" translate="{{ 'CREATEINVOICEBTN' }}" ></a> -->
                        <a style="font-size:20px !important;margin-bottom: 2px;" class="btn btn-create-invoice btn-toggle-cover " onclick="gaTrackEvent('button', 'register', 'register banner')"
                            href="https://app.flowaccount.com/{{ language }}/account/register" translate="{{ 'SIGNUPBTN2' }}"></a>
                        <div id="req" style="font-size:16px;text-align:center;padding-top: 5px;" translate="{{'SIGNUPLBL'}}"></div>
                        <!-- <div id="req" style="font-size:16px;text-align:center;" translate="{{ 'HEADLINEEASYBILLING' }}"> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 no-padding content__more-arrow hidden-sm hidden-xs">
            <a data-galabel="Find out more" href="#features" du-smooth-scroll offset="50" duration="2000">
                <div class="content__more-arrow__icon"></div>
            </a>
        </div>
    </section>

    <div class="opendoc-banner">
        <div class="opendoc-table">
            <div class="opendoc-table-content" translate="{{ '150mdoc'}}">
            </div>
        </div>
    </div>

    <section id="features" class="landingpage">
        <div class="container devices devices-bg">
            <div class="row">
                <div class="col-md-12 product-title">
                    <h2 class="head-h2" translate="{{'TAGLINE'}}"></h2>
                    <hr class="header_underline" />
                    <p translate="{{'TAGLINEDESCRIPTION'}}"></p>
                </div>
            </div>
        </div>
        <div class="container vdoReview text-center">
            <div>
                <h2 class="head-h2 heading news" translate="{{'Costumerfeedback'}}"></h2>
                <hr class="header_underline" style="border:0px;" />
            </div>
            <div class="vdoReview-content">
                <div class="row">
                    <div class="content-vdo">
                        <div class="youtube vdo" id="W4J5O_O23e0" name="เจคิว ปูม้านึ่ง - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'JQ - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/W4J5O_O23e0/maxresdefault.jpg);">
                        </div>
                        <p class="name">คุณสุรีรัตน์ ศรีพรหมคำ (โอ๋)</p>
                        <p class="company">เจ้าของธุรกิจ “เจคิว ปูม้านึ่ง” Delivery</p>
                        <p class="detail">"บัญชีออนไลน์ ทำให้เราสามารถทำงานที่ไหนก็ได้ และสามารถแบ่งงานกันทำได้"</p>
                    </div>
                    <div class="content-vdo">
                        <div class="youtube vdo" id="LP4IwGAHRsk" name="Wongnai - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'Wongnai - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/LP4IwGAHRsk/maxresdefault.jpg);">
                        </div>
                        <p class="name">ยอด ชินสุภัคกุล</p>
                        <p class="company" style="height: auto;">CEO & Co-founder <br/> Wongnai Media Co., Ltd.</p>
                        <p class="detail">"จากที่ไม่สามารถจัดการเรื่องบัญชี FlowAccount ช่วยในเรื่องการเก็บเอกสาร ไปจนถึง workflow ของเอกสารต่างๆ"</p>
                    </div>
                    <div class="content-vdo">
                        <div class="youtube vdo" id="YnkFOTpwBTc" name="Program Director, School of Finance - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'Program Director, School of Finance - ใช้ FlowAccount.com')"
                            style="background-image:url(https://i.ytimg.com/vi/YnkFOTpwBTc/maxresdefault.jpg);">
                        </div>
                        <p class="name">(ครูพิ้ง)ชมพูนุช โอฬารริกสุภัค, CFA</p>
                        <p class="company" style="height: auto;">Program Director, School of Finance</p>
                        <p class="detail">"ความครบถ้วนในการออกเอกสาร ช่วยให้ธรุกิจรายเล็กทำงานได้สะดวกมากขึ้น และ FlowAccount ยังช่วยวิเคราะห์ภาพรวมรายรับรายจ่ายอีกด้วย"</p>
                    </div>
                    <div class="content-vdo hidden667">
                        <div class="youtube vdo" id="HIg5lIdf2gU" name="FoodStory - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'FoodStory - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/HIg5lIdf2gU/maxresdefault.jpg);">
                        </div>
                        <p class="name">ฐากูร ชาติสุทธิผล / ชวิน ศุภวงศ์</p>
                        <p class="company" style="height: auto;">Founder & CEO / ฝ่ายพัฒนาธุรกิจ<br/>FoodStory (Living Mobile Co., Ltd)</p>
                        <p class="detail">"การสร้างเอกสารไม่ใช่เรื่องยากอีกต่อไป เพียงแค่หยิบมือถือขึ้นมาก็สามารถออกเอกสารได้เลย"</p>
                    </div>
                    <div class="content-vdo hidden667">
                        <div class="youtube vdo" id="MiTyyKvALZI" name="Phantom - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'Phantom - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/MiTyyKvALZI/maxresdefault.jpg);">
                        </div>
                        <p class="name">คุณกฤษณ์ เปลี่ยนแพ</p>
                        <p class="company">Co-founder, Phontom Thailand</p>
                        <p class="detail">"FlowAccount ช่วยให้การออกเอกสารมีความสะดวกรวดเร็ว และใช้งานง่าย"</p>
                    </div>
                    <div class="content-vdo hidden667">
                        <div class="youtube vdo" id="zqpW59nvGq4" name="VR ONLINE NETWORK - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'VR ONLINE NETWORK - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/zqpW59nvGq4/maxresdefault.jpg);">
                        </div>
                        <p class="name">อ.ศุภเดช สุทธิพงศ์คณาสัย (อ.โก๋) พิธีกรกูรูด้านไอที</p>
                        <p class="company" style="height: auto;">Founder & Network Engineer, VR Online Network </p>
                        <p class="detail">"ผมว่า FlowAccount มีฟีเจอร์ที่เหมาะสมกับบริษัทที่เพิ่งเริ่มต้น มีระบบการทำงานที่ไหลเลือน ช่วยให้มีเวลาไปดูแลบริษัท
                            และดูแลลูกค้าอย่างเต็มตัว"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-features">
            <div id="invoice" class="del-margin" style="margin-bottom: 25px; clear: both;">
                <div class="col-md-12 screenshot-container">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive img-inv" style="float:right;z-index:99;right: 10px;" src="images/newInvoice.png" />
                            <!--<img class="icon-bill" style=" right: 30px;z-index:100;" src="images/IconInvoice.png" />-->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width" style="max-width: 550px; padding-right: 0;">
                            <div class="text-margintop" ng-controller="VidoTutorialQuotation">
                                <p class="head-create" style="text-align:left;" translate="{{'featureshead1'}}"></p>
                                <p class="content-detail" translate="{{'featuresdt1'}}"></p>
                                <div class="download-document">
                                    <ul class="list-download">
                                        <li>
                                            <a href="#" class="vdo" onclick="gaTrackEvent('Video', 'View', 'Tutorial Quotation')" ng-click="open()">
                                                <i class="fl-playvdo"></i>
                                                <span class="text-pad" style="padding-left:13px;" translate="{{'Click to play tutorial'}}"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a translate translate-attr-href="linkQt" onclick="gaTrackEvent('DocumentLink', 'Download', 'Quotation')" target="_blank"
                                                class="color-download">
                                                <i class="fl-downloaddocument"></i>
                                                <span class="text-pad" translate="{{'DownloadQt'}}"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a translate translate-attr-href="linkBl" onclick="gaTrackEvent('DocumentLink', 'Download', 'BillingNote')" target="_blank"
                                                class="color-download">
                                                <i class="fl-downloaddocument"></i>
                                                <span class="text-pad" translate="{{'DownloadBl'}}"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a translate translate-attr-href="linkInv" onclick="gaTrackEvent('DocumentLink', 'Download', 'TaxInvoice')" target="_blank"
                                                class="color-download">
                                                <i class="fl-downloaddocument"></i>
                                                <span class="text-pad" translate="{{'DownloadInv'}}"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a translate translate-attr-href="linkPo" onclick="gaTrackEvent('DocumentLink', 'Download', 'PurchaseOrder')" target="_blank"
                                                class="color-download">
                                                <i class="fl-downloaddocument"></i>
                                                <span class="text-pad" translate="{{'DownloadPo'}}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-xs -->
            <div id="expense" style="margin-bottom: 25px; clear: both;" class="del-margin hidden-xs">
                <div class="col-md-12 screenshot-container" style="background-color:#fbfbfb;">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width clear-padd" style="max-width:920px; padding-right:0;">
                            <div class="text-margintop text-margintop2 expense-lg">
                                <p class="head-create headEx" style="text-align: right;" translate="{{'featureshead2'}}"></p>
                                <p class="content-detail textright" translate="{{'featuresdt2'}}"></p>
                                <!--<div class="list-download textright" style="margin-top: 15px;" ng-controller="VideoPreviewCtrl">
                                    <a href="#" style="border:0;" class="vdo" onclick="gaTrackEvent('Video', 'View', 'iOS Application Demo')" ng-click="open()"><i class="fl-playvdo" /><span class="text-pad" style="padding-left:13px;" translate="{{'FLOWACCOUNT IOS'}}"></span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6" style="padding-left:0;">
                            <img class="img-responsive newExMac" style="left:-55px; top:15px; z-index:99; right:-50px;" src="images/newExpenseMac.png"
                            />
                            <!--<img class="icon-bill" style=" left: 60px;top:230px;z-index:100;" src="images/IconExpense.png" />-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-sm hidden-md hidden-lg -->
            <div id="expense" style="margin-bottom: 25px; clear: both;" class="del-margin hidden-sm hidden-md hidden-lg">
                <div class="col-md-12 screenshot-container" style="background-color:#fbfbfb;">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6" style="padding-left:0;">
                            <img class="img-responsive newExMac" style="left:-55px;top:15px;z-index:99;" src="images/newExpenseMac.png" />
                            <!--<img class="icon-bill" style=" left: 60px;top:230px;z-index:100;" src="images/IconExpense.png" />-->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width clear-padd" style="max-width:920px; padding-right:0;">
                            <div class="text-margintop text-margintop2">
                                <p class="head-create headEx" style="text-align: right;" translate="{{'featureshead2'}}"></p>
                                <p class="content-detail" translate="{{'featuresdt2'}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-sm hidden-md hidden-lg -->
            <div id="dashboard" style="margin-bottom: 25px; clear: both;" class="del-margin">
                <div class="col-md-12 screenshot-container">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6" style="max-width:920px;">
                            <img class="img-responsive newExMac" style=" float:right; z-index:99; top:20px; right:-50px;" src="images/newDashBoard.png"
                            />
                            <!--<img class="icon-bill" style=" right: 50px;z-index:100;top:240px;" src="images/IconDashboard.png" />-->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width" style="max-width: 550px; padding-right: 0;">
                            <div class="text-margintop">
                                <p class="head-create" style="text-align:left;" translate="{{'featureshead3'}}"></p>
                                <p class="content-detail" translate="{{'featuresdt3'}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-xs -->
            <div id="Div1" style="margin-bottom: 25px; clear: both;" class="del-margin hidden-xs">
                <div class="col-md-12 screenshot-container" style="background-color:#fbfbfb;">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width clear-padd" style="max-width:920px; padding-right:0;">
                            <div class="text-margintop text-margintop2 wt-lg">
                                <p class="head-create headEx" style="text-align: right;" translate="{{'featureshead5'}}"></p>
                                <p class="content-detail textright" translate="{{'featuresdt5'}}"></p>
                                <div class="list-download textright" style="margin-top: 15px;">
                                    <a translate translate-attr-href="linkWth" style="margin-left: -20px;"  onclick="gaTrackEvent('DocumentLink', 'Download', 'WithholdingTax')" target="_blank"  class="color-download"><i class="fl-downloaddocument" /><span class="text-pad" translate="{{'DownloadWth'}}"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6" style="padding-left:0;">
                            <img class="img-wt img-responsive newExMac macpro" style="left:60px;top:-45px;z-index:99;margin:50px; width: 70%;" src="images/newWithholdingTax.png"
                            />
                            <!--<img class="icon-bill" style=" left: 60px;top:230px;z-index:100;" src="images/IconExpense.png" />-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-sm hidden-md hidden-lg -->
            <div id="Div2" style="margin-bottom: 25px; clear: both;" class="del-margin hidden-sm hidden-md hidden-lg">
                <div class="col-md-12 screenshot-container" style="background-color:#fbfbfb;">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6" style="padding-left:0;">
                            <img class="img-responsive newExMac macpro" style="left:60px;top:-45px;z-index:99;margin:50px;" src="images/newWithholdingTax.png"
                            />
                            <!--<img class="icon-bill" style=" left: 60px;top:230px;z-index:100;" src="images/IconExpense.png" />-->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width clear-padd" style="max-width:920px; padding-right:0;">
                            <div class="text-margintop text-margintop2">
                                <p class="head-create headEx" style="text-align: right;" translate="{{'featureshead5'}}"></p>
                                <p class="content-detail" translate="{{'featuresdt5'}}"></p>
                                <div class="list-download textright wth-sm">
                                    <a translate translate-attr-href="linkWth" target="_blank" class="color-download"><i class="fl-downloaddocument" /><span class="text-pad" translate="{{'DownloadWth'}}"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Inventory -->
            <div id="inventory" class="del-margin" style="margin-bottom: 25px; clear: both;">
                <div class="col-md-12 screenshot-container">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6" style="max-width: 920px;">
                            <img class="img-responsive img-inv" style="float:right; z-index:99; right:-25px;" src="images/Inventory.png" />
                            <!--<img class="icon-bill" style=" right: 30px;z-index:100;" src="images/IconInvoice.png" />-->
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-width" style="max-width:550px; padding-right:0;">
                            <div class="text-margintop">
                                <div id="inventory-header" style="margin-top:20px;">
                                    <p class="head-create" style="margin-top:0px !important; text-align:left; display:inline-table;max-width:80%" translate="{{'Inventory'}}"></p>
                                    <p class="icon-new">NEW!!</p>
                                </div>
                                <p class="content-detail" translate="{{'InventoryDetail'}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-xs -->
            <div id="expense" style="margin-bottom: 25px; clear: both;" class="del-margin hidden-xs">
                <div class="col-md-12 screenshot-container" style="background-color:#fbfbfb;">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6" style="max-width:920px; padding-right:0;">
                            <div class="text-margintop pull-right">
                                <p class="center-mobile head-create headEx" style="text-align:right; padding-top: 30px;" translate="{{'featureshead4'}}"></p>
                                <p class="content-detail" style="text-align:right;" translate="{{'featuresdt4'}}"></p>
                                <div class="list-download textright" style="margin-top: 15px;" ng-controller="VideoPreviewCtrl">
                                    <a href="#" style="border:0;" class="vdo" onclick="gaTrackEvent('Video', 'View', 'iOS Application Demo')" ng-click="open()"><i class="fl-playvdo" /><span class="text-pad" style="padding-left:13px;" translate="{{'FLOWACCOUNT IOS'}}"></span>
                                    </a>
                                </div>
                            </div>
                            <hr class="hr-feature" style="float: right; clear: both;" />
                            <div class="col-md-12 col-xs-12" style="padding:0;" ng-controller="VideoPreviewCtrl">
                                <a href="https://itunes.apple.com/us/app/flowaccount/id993095869?mt=8" target="_blank" id="AppStore" style="padding: 0; float: right;">
                                    <!-- border: 1px solid #0099CC; border-radius: 2px;-->
                                    <div class="img-mobile" style=""> </div>
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.flowaccount.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                                    target="_blank" id="PlayStore" style="padding: 0; float: right;">
                                    <!-- border: 1px solid #0099CC; border-radius: 2px;-->
                                    <div class="img-mobile-android" style="margin-right: 5px;"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive newMobile" style="position:static !important; z-index:99; margin-top:15px; max-width: 300px !important; min-width: initial !important;margin-left:20px; "
                                src="images/iPhone5S_Front_DashBoard.png" />
                            <!--<img class="icon-bill" style=" left: 60px;top:230px;z-index:100;" src="images/IconExpense.png" />-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- hidden-sm hidden-md hidden-lg -->
            <div style="margin-bottom: 25px; clear: both;" class="del-margin hidden-sm hidden-md hidden-lg">
                <div class="col-md-12 screenshot-container free-height" style="background-color:#fbfbfb;height:440px;">
                    <div class="container container-img">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <img class="img-responsive img-inv" style="float: left; left: 50px; top: 10px; z-index: 99; max-width: 300px !important; min-width: initial !important; "
                                src="images/iPhone5S_Front_DashBoard.png" />
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6 clear-padd" style="max-width:920px; padding-right:0;">
                            <div class="text-margintop">
                                <p class="head-create headEx" style="text-align: right; padding-top: 30px;" translate="{{'featureshead4'}}"></p>
                                <p class="content-detail" translate="{{'featuresdt4'}}"></p>
                                <div class="list-download textright" style="margin:0 auto;display:table;" ng-controller="VideoPreviewCtrl">
                                    <a href="#" class="vdo" ng-click="open()"><i class="fl-playvdo" style="border:0;" /><span class="text-pad" style="padding-left:13px;"
                                            translate="{{'FLOWACCOUNT IOS'}}"></span>
                                    </a>
                                </div>
                            </div>
                            <hr class="hr-feature" />
                            <div class="col-md-12 col-xs-12" style="padding:0;" ng-controller="VideoPreviewCtrl">
                                <div class="center-block" style="display: table; margin-bottom: 15px; ">
                                    <a href="https://itunes.apple.com/us/app/flowaccount/id993095869?mt=8" target="_blank" id="A1" style="padding: 0; float: left;">
                                        <!-- border: 1px solid #0099CC; border-radius: 2px;-->
                                        <div class="img-mobile" style="position: static !important; width: 125px; height: 43px; max-width: none !important; min-width: initial !important;">
                                        </div>
                                    </a>
                                    <a href="https://play.google.com/store/apps/details?id=com.flowaccount.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                                        target="_blank" id="PlayStore" style="padding: 0; float: right;">
                                        <!-- border: 1px solid #0099CC; border-radius: 2px;-->
                                        <div class="img-mobile-android" style="margin-left: 5px;width:149px;height: 43px;"> </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="pricing" class="container-fluid no-padding">
    <div class="col-md-12 text-center">
        <h2 class="head-h2" translate="{{'PRICING PlANS'}}"></h2>
        <hr class="header_underline" />
    </div>
    <div class="col-md-12 container box-lg">
        <div class="row" style="margin-bottom: 20px;">
            <!-- free -->
            <div class="col-content">
                <div id="pricing" class="box box-basic">
                    <div class="box-header" translate="pricing-BASIC"></div>
                    <div class="box-pricing" translate="pricing-FREE"></div>
                    <div class="box-detail" style="margin-top: 34px;" translate="pricing-free-permonth"></div>
                    <div class="box-detail2" translate="pricing-free-detail">
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
            </div>
            <!-- premium83 <premium> -->
            <div class="col-content">
                <div id="pricing" class="box box-premium premiumclick">
                    <div class="box-header" translate="pricing-PREMIUM"></div>
                    <div class="box-pricing">
                        <span>83</span>
                        <span class="pricing-thb" translate="THB"></span>
                        <span class="permonth" translate="pricing-permonth"></span>
                    </div>
                    <div class="box-detail" translate="pricing-pay990"></div>
                    <div class="box-detail2" translate="pricing-premium-detail">
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
            </div>
            <!-- premium <pro> -->
            <div class="col-content">
                <div id="pricing" class="box box-premium165 premiumclick">
                    <!--<div class="box-header" translate="pricing-PREMIUM"></div>-->
                    <div class="box-header" translate="pricing-pro"></div>
                    <div class="box-pricing">
                        <span>183</span>
                        <span class="pricing-thb" translate="THB"></span>
                        <span class="permonth" translate="pricing-permonth"></span>
                    </div>
                    <div class="box-detail" translate="pricing-pay2190"></div>
                    <div class="box-detail2" translate="pricing-pro-detail">
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
            </div>
            <!-- premium330 <plus> -->
            <div class="col-content">
                <div id="pricing" class="box box-premium330">
                    <!--<div class="box-header" translate="pricing-PREMIUMPLUS"></div>-->
                    <div class="box-header" translate="pricing-plus"></div>
                    <div class="box-pricing">
                        <span>275</span>
                        <span class="pricing-thb" translate="THB"></span>
                        <span class="permonth" translate="pricing-permonth"></span>
                    </div>
                    <div class="box-detail" translate="pricing-pay3300"></div>
                    <div class="box-detail2" translate="pricing-plus-detail">
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
            </div>
        </div>
        <!-- for click signup -->
        <div class="row">
            <!-- free -->
            <div class="col-content">
                <div id="pricing-btn" class="box">
                    <button class="btn btn-primary box-basic center-block basic" onclick="gaTrackEvent('button', 'register', 'registergreen' );window.open('https://app.flowaccount.com/th/account/register', '_blank')"
                        translate="SIGNUPBTN2"></button>
                </div>
            </div>
            <!-- premium -->
            <div class="col-content">
                <div id="pricing-btn" class="box">
                    <button class="btn btn-primary box-premium center-block free30trial" translate="30 DAYS FREE TRIAL" onclick="gaTrackEvent('button', 'register', 'registergreen' );window.open('https://app.flowaccount.com/th/account/register', '_blank')"></button>
                    <button class="btn btn-primary box-premium center-block free30trialshort" translate="30 DAYS FREE TRIAL.short" onclick="gaTrackEvent('button', 'register', 'registergreen' );window.open('https://app.flowaccount.com/th/account/register', '_blank')"></button>
                </div>
            </div>
            <!-- premium -->
            <div class="col-content">
                <div id="pricing-btn" class="box">
                    <button class="btn btn-primary box-premium165 center-block free30trial" translate="30 DAYS FREE TRIAL" onclick="gaTrackEvent('button', 'register', 'registergreen' );window.open('https://app.flowaccount.com/th/account/register', '_blank')"></button>
                    <button class="btn btn-primary box-premium165 center-block free30trialshort" translate="30 DAYS FREE TRIAL.short" onclick="gaTrackEvent('button', 'register', 'registergreen' );window.open('https://app.flowaccount.com/th/account/register', '_blank')"></button>
                </div>
            </div>
            <!-- premium plus -->
            <div class="col-content">
                <div id="pricing-btn" class="box">
                    <button class="btn btn-primary box-premium3300 center-block" translate="pricing-CONTACTUS"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 container box-md">
        <!-- free -->
        <div id="pricing" class="row box box-basic" ng-click="gotopricing()">
            <div class="col-content">
                <div class="box-detail">
                    <div class="box-header" translate="pricing-BASIC"></div>
                    <div class="box-detail2 box-xs" translate="pricing-free-detail">
                    </div>
                    <!--<div class="box-pricing box-xs" style="display: none;" translate="pricing-FREE"></div>-->
                    <div class="box-pricing box-xs" style="display: none;">
                        <span translate="pricing-FREE"></span>
                        <span class="detail" translate="pricing-free-permonth"></span>
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
                <!--<div class="box-pricing box-xs" translate="pricing-FREE"></div>-->
                <div class="box-pricing box-xs">
                    <span translate="pricing-FREE"></span>
                    <span class="detail" translate="pricing-free-permonth"></span>
                </div>
            </div>
        </div>

        <!-- premium83 <premium> -->
        <div id="pricing" class="row box box-premium" ng-click="gotopricing()">
            <div class="col-content">
                <div class="box-detail">
                    <div class="box-header" translate="pricing-PREMIUM"></div>
                    <div class="box-detail2 box-xs" translate="pricing-premium-detail">
                    </div>
                    <div class="box-pricing box-xs" style="display: none;">
                        <span>83</span>
                        <span class="pricing-thb" translate="THB"></span>
                        <span class="permonth" translate="pricing-permonth"></span>
                        <span class="detail" translate="pricing-pay990"></span>
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
                <div class="box-pricing box-xs">
                    <span>83</span>
                    <span class="pricing-thb" translate="THB"></span>
                    <span class="permonth" translate="pricing-permonth"></span>
                    <span class="detail" translate="pricing-pay990"></span>
                </div>
            </div>
        </div>

        <!-- premium <pro> -->
        <div id="pricing" class="row box box-premium165" ng-click="gotopricing()">
            <div class="col-content">
                <div class="box-detail">
                    <div class="box-header" translate="pricing-pro"></div>
                    <div class="box-detail2 box-xs" translate="pricing-pro-detail">
                    </div>
                    <div class="box-pricing box-xs" style="display: none;">
                        <span>183</span>
                        <span class="pricing-thb" translate="THB"></span>
                        <span class="permonth" translate="pricing-permonth"></span>
                        <span class="detail" translate="pricing-pay2190"></span>
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
                <div class="box-pricing box-xs">
                    <span>183</span>
                    <span class="pricing-thb" translate="THB"></span>
                    <span class="permonth" translate="pricing-permonth"></span>
                    <span class="detail" translate="pricing-pay2190"></span>
                </div>
            </div>
        </div>

        <!-- premium330 <plus> -->
        <div id="pricing" class="row box box-premium330" ng-click="gotopricing()">
            <div class="col-content">
                <div class="box-detail">
                    <div class="box-header" translate="pricing-plus"></div>
                    <div class="box-detail2 box-xs" translate="pricing-plus-detail">
                    </div>
                    <div class="box-pricing box-xs" style="display: none;">
                        <span>275</span>
                        <span class="pricing-thb" translate="THB"></span>
                        <span class="permonth" translate="pricing-permonth"></span>
                        <span class="detail" translate="pricing-pay3300"></span>
                    </div>
                    <a href="{{  '/' + language }}/pricing" class="box-more">
                        <span class="detail" translate="pricing-more-detail"></span>
                        <i class="fa fa-angle-right" />
                    </a>
                </div>
                <div class="box-pricing box-xs">
                    <span>275</span>
                    <span class="pricing-thb" translate="THB"></span>
                    <span class="permonth" translate="pricing-permonth"></span>
                    <span class="detail" translate="pricing-pay3300"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="register" class="hidden-mobile">
    <form id="registerForm" action="https://app.flowaccount.com/Account/Register2" method="POST" class="container" style="display:table;max-width:800px;">
        <div class="center-block text-center spbot" style="display: table-header-group;">
            <span class="" translate="{{'RegisterHeaderContent1'}}"></span>
            <br>
            <span class="" style="color:#f8e71c;" translate="{{'RegisterHeaderContent2'}}"></span>&nbsp<span class="spbot"
                translate="{{'RegisterHeaderContent3'}}"></span>
        </div>
        <div class="container-fluid mobile-register-bottom" style="position:relative;display:table-cell;">
            <div class="register-input row">
                <div class="text-register" style="padding-right:15px;">
                    <i class="fa fa-envelope fa-register" aria-hidden="true"></i>
                    <input id="input-email" class="textbox flow-register-validate" type="email" placeholder="Email" name="UserName" style="padding-left:30px;">
                    <p id="email-register" class="hidden lbl-valid">กรุณากรอกอีเมล์ให้ถูกต้อง</p>
                </div>
                <div class="text-register">
                    <i class="fa fa-lock fa-register" aria-hidden="true" style="left:8px;"></i>
                    <input id="input-password" class="textbox flow-register-validate" type="password" name="Password" placeholder="Password">
                    <p id="password-register" class="hidden lbl-valid">กรุณากรอกรหัสผ่านให้ถูกต้อง</p>
                </div>
            </div>
            <div class="button-register">
                <a class="registerbtn" translate="{{'SIGNUPBTN'}}">
                </a>
            </div>
            <div class="register-footer">
                <div class="squaredFour">
                    <input type="checkbox" value="false" id="squaredFour" name="check" style="display:none;" />
                    <label for="squaredFour"></label><span class="span-check" translate="{{'AgreeRegister'}}"></span>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="banner-event">
    <div>
        <h2 class="head-h2 heading news" style="text-align:center;" translate="{{'SeminarTitle'}}"></h2>
        <hr class="header_underline" style="border:0px;" />
    </div>
    <div class="container">
        <!--      <a href="{{  '/' + language }}/seminar">
            <img class="img-responsive center-block" src="images/event/Seminar851x315_C1R1_20160923.jpg">
        </a> -->
        <a href="{{  '/' + language }}/seminar">
            <img class="img-responsive center-block" src="images/seminar/FSeminar_20DEC_Website-EventCover_r2.jpg">
        </a>
    </div>
</section>
<section id="flowaccount-ads" class="container vdoReview text-center" style="margin-bottom: 0;display: table;">
    <div>
        <h2 class="head-h2 heading news" translate="{{'flowaccount-video-ads'}}"></h2>
        <hr class="header_underline" style="border:0px;" />
    </div>
    <div class="vdoReview-content">
        <div class="row">
            <div class="content-vdo">
                <div class="youtube vdo" id="8YcpTsulPCg" name="เจคิว ปูม้านึ่ง - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                    onclick="gaTrackEvent('Video', 'View', 'JQ - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/8YcpTsulPCg/maxresdefault.jpg);">
                </div>
                <p class="name">เปิดบริษัทใหม่...ใครคิดว่าง่าย?</p>
            </div>
            <div class="content-vdo">
                <div class="youtube vdo" id="FJ7XVOOtpUc" name="Wongnai - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                    onclick="gaTrackEvent('Video', 'View', 'Wongnai - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/FJ7XVOOtpUc/maxresdefault.jpg);">
                </div>
                <p class="name">47 วันอันยาวนาน...</p>
            </div>
            <div class="content-vdo hidden995">
                <div class="youtube vdo" id="lFgaoCR6M-o" name="FoodStory - ใช้ FlowAccount.com'" data-params="modestbranding=1&showinfo=0&vq=hd720"
                    onclick="gaTrackEvent('Video', 'View', 'FoodStory - ใช้ FlowAccount.com')" style="background-image:url(https://i.ytimg.com/vi/lFgaoCR6M-o/maxresdefault.jpg);">
                </div>
                <p class="name">แค่รับเช็ค...ทำไมถึงต้องยากขนาดนี้!</p>
            </div>
        </div>
    </div>
</section>
<section id="security" class="container-fluid no-padding">
    <div class="container top-security">
        <div style="text-align: center;">
            <h2 class="head-h2 heading news" translate="{{'SECURITY'}}"></h2>
            <hr class="header_underline" style="border:0px;" />
            <div class="container pricing-content">
                <div class="sucurity-container" style="color:#999999;" translate="{{'Is FLOWACCOUNT.COM safe and secure?2'}}">
                </div>
                <a class="a-lang" href="{{  '/' + language }}/term-of-use" target="_blank" translate="{{'Terms of Use'}}"></a>&nbsp<span style="color:#0481c0;">|</span>
                <a class="" href="{{  '/' + language }}/privacy-statement" target="_blank" translate="{{'Privacy Policy'}}"></a>
            </div>
        </div>
    </div>
    <div class="container text-center" style="margin-bottom: 20px;">
        <img class="center-block img-responsive" style="padding-top: 15px;max-height: 90px;display: inline-block;" src="images/security_logo/digicert-logo.png"
            alt="Thumbsup">
        <img class="center-block img-responsive" style="padding-top: 15px;max-height: 90px;display: inline-block;" src="images/security_logo/aws-logo.png"
            alt="Thumbsup">
    </div>
    <br />
</section>
<section id="aisPromotion" style="display: none;">
    <div style="text-align:center; margin-bottom:25px; margin-top:25px;">
        <a href="{{  '/' + language }}/ais" onclick="javascript: window.scrollTo(0, 0);gaTrackEvent('button','linktoimage','aisbanner');"><img src="images/promotion/Website_AIS-Banner_c1r3_20160614.png" style="max-width: 945px;width: 100%; cursor:pointer; padding-left:15px; padding-right:5px;"
            />
        </a>
    </div>
</section>
<div class="container text-center">
    <div>
        <h2 class="head-h2 heading news" translate="{{'INTHENEWSHEADING'}}"></h2>
        <hr class="header_underline" style="border:0px;" />
    </div>
    <div class="container" style="margin-bottom: 20px;">
        <div class="hidden-xs">
            <a href="http://www.ais.co.th/thestartup/en/" target="_blank" class="thumblink"><img class="img-responsive display-about" src="images/aboutus/Website_news_AIS.jpg" alt="AIS Startup">
            </a>
            <a href="http://www.bangkokpost.com/tech/local-news/796196/" target="_blank" class="thumblink"><img class="img-responsive display-about" src="images/aboutus/Website_news_Bangkokpost.jpg" alt="Bangkok Post">
            </a>
            <a href="http://e27.co/thai-cloud-accounting-startup-flowaccount-raising-tasty-seed-20150702/" target="_blank" class="thumblink"><img class="img-responsive display-about" src="images/aboutus/Website_news_Echelon.jpg" alt="Echelon">
            </a>
            <a href="http://techsauce.co/" target="_blank" class="thumblink"><img class="img-responsive display-about" src="images/aboutus/Website_news_techsauce.jpg" alt="Techsauce">
            </a>
        </div>
        <div class="hidden-lg hidden-md hidden-sm ">
            <div class="" style="margin-bottom: 20px;">
                <img class="img-responsive display-about" src="images/aboutus/Website_news_AIS.jpg" alt="AIS Startup">
                <img class="img-responsive display-about" src="images/aboutus/Website_news_Bangkokpost.jpg" alt="Bangkok Post">
            </div>
            <div class="">
                <img class="img-responsive display-about" src="images/aboutus/Website_news_Echelon.jpg" alt="Echelon">
                <img class="img-responsive display-about" src="images/aboutus/Website_news_techsauce.jpg" alt="Techsauce">
            </div>
        </div>
    </div>
</div>
<div class="container" style="display: none; text-align:center; margin-top:20px;">
    <div>
        <h2 class="heading news" translate="{{'promotion'}}"></h2>
        <hr class="header_underline" style="border:0px;" />
    </div>
    <div style="text-align:center; margin-bottom:25px; margin-top:5px;">
        <a href="{{  '/' + language }}/kcashcard" onclick="javascript: window.scrollTo(0, 0);gaTrackEvent('button','linktoimage','kcashcard');"><img src="images/KBANK_K-Cashcard_Banner.png" style="max-width: 945px;width: 100%; cursor:pointer; padding-left:15px; padding-right:5px;"
            />
        </a>
    </div>
</div>
<section id="contactus" style="margin: 0px;margin-bottom: -1px;">
    <div class="container text-center">
        <h2 class="head-h2 heading" translate="{{'WHERE YOU CAN FIND US'}}"></h2>
        <hr class="header_underline" />
    </div>
    <div class="detail">
        <div class="container" style="max-width: 980px;">
            <div class="row">
                <div class="center-block col-md-6 col col-detail">
                    <div class="contactus-heading">
                        <div>
                            <span translate="{{'call-us'}}"></span>
                            <i class="fa fa-smile-o"></i>
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <div>
                            <span>081.359.7000, </span>
                            <span>02.237.4777</span>
                        </div>
                        <span class="email" translate="{{'Email'}}"></span>
                        <div class="social">
                            <a class="ground" target="_blank" href="https://www.youtube.com/channel/UCPQ_g-oZBwyLPKk_1IWAWOg">
                                <i class="fa fa-youtube-play" />
                                <span>Youtube</span>
                            </a>
                            <a class="ground" target="_blank" href="https://www.facebook.com/flowaccount">
                                <i class="fa fa-facebook-official" />
                                <span>Facebook</span>
                            </a>
                            <a class="ground" href="#" ng-controller="LinePopupCtrl" ng-click="open()">
                                <i class="fa fa-commenting" aria-hidden="true" />
                                <span>LINE @Flowaccount</span>
                            </a>
                            <br/>

                        </div>
                    </div>

                    <div class="no-padding detail-bottom">
                        <div class="detail-top">
                            <span translate="{{'FlowaccountCompany'}}"></span>
                            <br/>
                            <span translate="{{'ADDRESSDETAILS'}}"></span>
                        </div>
                        <div class="social">
                            <a href="https://mixpanel.com/f/partner" rel="nofollow" target="_blank">
                                <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" style="width: 90px;margin-top: 10px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form center-block col-md-6 col col-send">
                    <div class="contactus-heading" style="margin-bottom: 23px;">
                        <span translate="{{'SEND MESSAGE'}}"></span>
                        <br />
                        <span translate="{{'toFlowAccount'}}"></span>
                    </div>
                    <form action="https://app.flowaccount.com/email/contactusemail" method="POST" id="mail">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 input-name">
                                <div class="form-group">
                                    <input class="flow-input form-control flow-validate" type="text" placeholder="{{'Your Name' | translate}}" id="name" name="name"
                                    />
                                    <p id="p1" class="hidden lbl-valid" translate="{{'Please enter your name'}}"></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 input-email">
                                <div class="form-group">
                                    <input class="flow-input form-control flow-validate" type="email" placeholder="{{'E-MAIL'  | translate}}" id="email" name="email"
                                    />
                                    <p id="p2" class="hidden lbl-valid" translate="{{'Please enter your email'}}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="flow-textarea form-control flow-validate" id="message" placeholder="{{'Enter message here...'  | translate}}"
                                        name="message"></textarea>
                                    <p id="p4" class="hidden lbl-valid" translate="{{'Please enter the Messege'}}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="flow-btn-submit" type="button" translate="{{'SEND MESSAGE'}}"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row text-center copyright no-padding">
                <p class="center-block">Copyright © 2016 FlowAccount Co., Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>
<div class="back-to-top">
    <a href="#pagetop" class="button-top hidden"></a>
</div>
<script>
    var _featuresSection = $('section#features').offset().top - $('.navbar').height();
    var scrollTimeout = null;
    $(document).ready(function () {
        var visible = 0;
        var offset = _featuresSection;
        var duration = 250;
        $(document).scroll(function () {
                //console.log(_featuresSection);
                //console.log($(this).scrollTop());
                clearTimeout(scrollTimeout);
                scrollTimeout = setTimeout(function(){
                    if ($(this).scrollTop() >= offset) {
                        if (visible == 0) {
                            $('.back-to-top').slideDown(duration);
                            visible = 1;
                        }
                    }

                    else {
                        visible = 0;
                        $('.back-to-top').slideUp(duration);
                    }

                    if ($(window).scrollTop() + window.innerHeight > ($(document).height() - 50)) {

                        $('.back-to-top').addClass('btn-go-to-top');
                    }
                    else
                    {
                        $('.back-to-top').removeClass('btn-go-to-top');
                    }
                },250);

            });

        $('.back-to-top').click(function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, duration);
            return false;
        })
    });

</script>