﻿<style>
    .privacy { top:50px;position: relative;}
</style>
<section>&nbsp;</section>
<section id="features" class="privacy">
    <div class="page-wrap container">
        <div class="col-md-12">
            <span class="col-md-2 col-sm-3 col-xs-3"></span>
            <h3 id="header-title" class="text-center  col-md-10 col-sm-9 col-xs-9 hidden-xs" style="color: #3398cc;">นโยบายคุ้มครองความเป็นส่วนตัว (Privacy Policy)</h3>
            <!-- tabs left -->
            <div class="tabbable">
                <ul id="nav-pill" class="nav nav-pills nav-stacked col-md-2 col-sm-3 col-xs-3">
                    <li id="li-TermofUse">
                        <a href="{{  '/' + language }}/term-of-use" data-toggle="tab">เงื่อนไขการใช้บริการ</a>
                    </li>
                    <li id="li-Privacy" class="active">
                        <a href="{{  '/' + language }}/privacy-statement" data-toggle="tab">นโยบายคุ้มครองความเป็นส่วนตัว</a>
                    </li>
                </ul>

                <h3 id="header-title2" class="text-center col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-md hidden-lg" style="color: #3398cc;">นโยบายคุ้มครองความเป็นส่วนตัว (Privacy Policy)</h3>

                <div id="tab1" class="tab-content col-md-10 col-sm-9 col-xs-9">
                    <div class="tab-pane active" id="Privacy" style="margin-top: 10px;padding: 0 10px;">

                        <p style="text-align: left;">การคุ้มครองความเป็นส่วนตัว และข้อมูลส่วนบุคคลเป็นสิ่งที่ FLOWACCOUNT ให้ความสำคัญเป็นอย่างยิ่ง</p>
                        <p style="text-align: left;">นโยบายฉบับนี้ บริษัท โฟลว์แอคเคาว์ จำกัด จัดทำขึ้น เพื่อให้ความเข้าใจถึงแนวทางปฏิบัติของเราในการจัดการข้อมูลส่วนบุคคล (Personal Information) ของผู้ใช้บริการทุกท่าน ที่ติดต่อเข้ามายังเว็บไซต์ <a href="https://flowaccount.com" target="_blank">flowaccount.com</a> หรือสมัครเข้าใช้บริการของ FLOWACCOUNT ดังนี้ เพื่อประโยชน์และความเข้าใจในการใช้บริการจากทางเรา ขอท่านได้โปรดอ่านและทำความเข้าใจเอกสารฉบับนี้โดยละเอียด</p>

                        <p style="text-align: left;">ทั้งนี้ การติดต่อเข้ามายังเว็บไซด์ หรือสมัครเข้าใช้บริการของ FLOWACCOUNT ถือว่าท่านยินยอมผูกพันตามนโยบายฉบับนี้ทุกประการ</p>
                        <p style="text-align: left;">
                            คำจำกัดความใดๆที่ปรากฏในนโยบายคุ้มครองความเป็นส่วนตัวนี้ให้เป็นไปตามที่กำหนดไว้ใน เงื่อนไขการใช้บริการ <a style="color: #0481c0;" href="https://www.flowaccount.com" target="_blank">FlowAccount</a>
                        </p>
                        <br />

                        <strong>1. การเก็บรวบรวมข้อมูลส่วนบุคคล</strong>
                        <p style="text-align: left;">FLOWACCOUNT ให้บริการซอฟต์แวร์ที่มีประสิทธิภาพเทียบเท่าระดับสากล ที่ช่วยให้เจ้าของธุรกิจ และที่ปรึกษาด้านการบัญชีสามารถตรวจสอบสถานะทางการเงินและบัญชีได้ด้วยความสะดวกรวดเร็วและปลอดภัย</p>
                        <p style="text-align: left;">เพื่อความสะดวกในการให้บริการดังกล่าว FLOWACCOUNTมีความจำเป็นต้องจัดเก็บรวบรวมข้อมูลส่วนบุคคลของท่านไว้ เช่น ชื่อ, อาชีพ, หมายเลขบัตรประชาชน, ที่อยู่, ที่ทำงาน, รหัสไปรษณีย์, หมายเลขโทรศัพท์, อีเมลล์, ข้อมูลทางด้านภาษี, ข้อมูลด้านการบัญชีและการเงิน, ข้อมูลการจดทะเบียนทางการค้า, ข้อมูลบัตรเครดิต และ อื่นๆ เป็นต้น</p>
                        <br />

                        <strong>2. FLOWACCOUNT จะเก็บข้อมูลส่วนบุคคลของท่านเมื่อ</strong>
                        <p style="text-align: left;">
                            2.1 สมัครใช้บริการ
                            <br /> 2.2 ใช้บริการ
                            <br /> 2.3 มีการติดต่อเข้ามายังหน่วยให้ความช่วยเหลือในการใช้งาน (Support team)
                            <br /> 2.4 มีการเข้าชมเว็บไซต์ ท่านมีสิทธิโดยชอบธรรมที่จะไม่ให้ข้อมูลส่วนบุคคลของท่านแก่ FLOWACCOUNT แต่การกระทำเช่นนั้นหมายความว่าท่านจะไม่สามารถใช้บริการใดๆของ FLOWACCOUNT ได้
                        </p>
                        <br />

                        <strong>3. การให้ความยินยอมในการใช้ข้อมูลส่วนตัวของท่าน</strong>
                        <p style="text-align: left;">3.1 เมื่อท่านสมัครใช้บริการใดๆของ FLOWACCOUNT ถือว่าท่านยินยอมให้ FLOWACCOUNT เก็บและใช้ข้อมูลดังกล่าวเพื่อวัตถุประสงค์ในการให้บริการตามที่กำหนดไว้ในเงื่อนไขการใช้บริการ และตามที่กำหนดไว้ในนโยบายคุ้มครองความเป็นส่วนตัวฉบับนี้เท่านั้น</p>
                        <p style="text-align: left;">3.2 FLOWACCOUNT จะใช้ข้อมูลส่วนตัวของท่านเพื่อประโยชน์แก่การดังต่อไปนี้</p>
                        <p style="text-align: left;">
                            • เพื่อระบุตัวตนของท่าน
                            <br /> • เพื่อประโยชน์ในการให้บริการ
                            <br /> • เพื่อประชาสัมพันธ์ในเรื่องการให้บริการ หรือการเปลี่ยนแปลงการให้บริการ
                            <br /> • เพื่อส่งเสริมการตลาด หรือ การอบรมใดๆที่เกี่ยวข้องกับการให้บริการ
                            <br /> • เพื่อให้ความช่วยเหลือ และแก้ปัญหาในด้านเทคนิคหรือปัญหาต่างๆอันเกี่ยวกับการบริการ
                            <br /> • เพื่อให้เป็นไปตามที่กฏหมายกำหนด
                            <br /> • เพื่อติดต่อสื่อสารกับท่าน
                        </p>
                        </br>

                        <strong>4. หน้าที่ของท่านในการดูแลรักษา Password</strong>
                        <p style="text-align: left;">เพื่อให้FLOWACCOUNT บรรลุวัตถุประสงค์สำเร็จลุล่วงในการเก็บรักษาข้อมูลส่วนบุคคลของท่าน ท่านมีหน้าที่ที่จะต้องเก็บ Password ของท่านไว้เป็นความลับ และท่านมีหน้าที่แจ้งให้ FLOWACCOUNT ทราบในทันทีที่ท่านพบหรือทราบว่ามีการใช้ Password ของท่านโดยไม่ได้รับอนุญาต</p>
                        <br />

                        <strong>5. การเก็บข้อมูลส่วนบุคคลของบุคคลภายนอก</strong>
                        <p style="text-align: left;">ในกรณีที่ท่านให้ข้อมูลที่เกี่ยวกับบุคคลภายนอกแก่ FLOWACCOUNT ถือว่าท่านให้การรับประกันว่าท่านกระทำไปโดยมีสิทธิ หรือได้รับอนุญาตโดยชัดแจ้งจากเจ้าของข้อมูลให้กระทำเช่นนั้น และท่านอนุญาตให้ FLOWACCOUNT จัดเก็บ ใช้ คัดลอก ข้อมูลดังกล่าวได้ภายในขอบเขตที่กำหนดไว้ในนโยบายคุ้มครองความเป็นส่วนตัวฉบับนี้ ทั้งนี้ท่านมีหน้าที่ในการแจ้งให้บุคคลภายนอกดังกล่าวทราบถึงการกระทำดังกล่าวและนโยบายคุ้มครองความเป็นส่วนตัว FLOWACCOUNT ด้วยตัวท่านเอง FLOWACCOUNT ไม่มีความรับผิดใดๆต่อบุคคลภายนอกและไม่มีหน้าที่ใดๆในการแจ้งให้บุคคลภายนอกทราบถึงเหตุดังกล่าว </p>
                        <br />

                        <strong>6. การเปิดเผยข้อมูลส่วนบุคคล</strong>
                        <p style="text-align: left;">ความลับและข้อมูลส่วนบุคคลของท่านถือเป็นสิ่งสำคัญยิ่ง FLOWACCOUNT จะไม่เปิดเผยความลับหรือข้อมูลส่วนบุคคลของท่านให้แก่บุคคลภายนอกหรือองค์กรอื่นใด ไม่ว่าเพื่อวัตถุประสงค์ใดๆ เว้นแต่</p>
                        <p style="text-align: left;">
                            • ได้รับความยินยอมจากท่าน หรือการทำตามคำร้องขอของท่าน
                            <br /> • ในกรณีที่กฏหมายบังคับ เช่น การทำตามคำสั่งศาล หรือหมายศาล เป็นต้น
                        </p>
                        <br />

                        <strong>7.การเก็บและใช้ข้อมูลประเภทที่ไม่ใช่ข้อมูลส่วนบุคคล</strong>
                        <p style="text-align: left;">การสมัครใช้บริการของ FLOWACCOUNT ถือว่าท่านอนุญาตให้ FLOWACCOUNT เข้าถึง หรือใช้ข้อมูลประเภทที่ไม่ใช่ข้อมูลส่วนบุคคลของท่านได้ ในการต่อไปนี้</p>
                        <p style="text-align: left;">
                            • เพื่อช่วยให้เราเข้าใจวิธีการที่ท่านใช้บริการของเรา
                            <br /> • เพื่อให้ข้อมูลเพิ่มเติมแก่ผู้ใช้บริการเกี่ยวกับการใช้งาน และประโยชน์ที่ผู้ใช้บริการจะได้รับเมื่อใช้บริการ
                            <br /> • เพื่อการช่วยเหลือ สนับสนุน และการเพิ่มประสิทธิภาพและประสิทธิผลของธุรกิจขนาดเล็ก
                        </p>
                        <br />

                        <strong>8. การเก็บข้อมูลของท่านไว้ในระบบฐานข้อมูล Cloud ที่ต่างประเทศ</strong>
                        <p style="text-align: left;">FLOWACCOUNT ใช้บริการของ Cloud ซึ่งเป็นผู้นำในการให้บริการด้านระบบฐานข้อมูลชั้นนำของโลก ประกอบการให้บริการของ FLOWACCOUNT เพื่อการเก็บรักษาข้อมูลส่วนบุคคล และข้อมูลอื่นๆของผู้ใช้บริการ ดังนั้น การสมัครเข้าใช้บริการของ FLOWACCOUNT ถือว่าท่านยอมรับว่าข้อมูลของท่านจะถูกเก็บไว้ในระบบฐานข้อมูล ของ Cloud ที่ตั้งอยู่ในต่างประเทศ</p>
                        <br />

                        <strong>9. มาตรฐานในการคุ้มครองข้อมูลส่วนบุคคล</strong>
                        <p style="text-align: left;">FLOWACCOUNT รักษามาตรฐานในการรักษาความปลอดภัยโดยเคร่งครัด ทั้งนี้ เพื่อวัตถุประสงค์ในการปกป้องความเสียหาย หรือการเข้าถึงข้อมูลส่วนบุคคลของท่านโดยไม่มีอำนาจ FLOWACCOUNT ใช้ระบบฐานข้อมูล Cloud ที่ได้มาตรฐานสากลของ ซึ่งมีการป้องกันความปลอดภัยของข้อมูลเทียบเท่าระดับสากล เว็บไซต์มีการเข้ารหัส SSL เพื่อความปลอดภัยในการส่งข้อมูลระหว่างเว็บไซต์กับระบบฐานข้อมูล</p>
                        <br />
                        <strong>10. FLOWACCOUNT ใช้ “คุกกี้” (Cookies)</strong>
                        <p style="text-align: left;">“คุกกี้” คือ ไฟล์คอมพิวเตอร์ขนาดเล็กที่ติดตั้งอยู่บนคอมพิวเตอร์ของท่านเพื่อความสะดวกในการจดจำเว็บไซต์ ที่ท่านเคยเข้าชม “คุกกี้” ไม่สามารถใช้เพื่อระบุถึงตัวท่านหรือมีข้อมูลที่เกี่ยวข้องกับตัวท่านแต่ประการใด แต่ “คุกกี้” นั้นสามารถใช้เพื่อระบุถึงเครื่องคอมพิวเตอร์ของท่านเท่านั้น</p>
                        <p style="text-align: left;">FLOWACCOUNT ใช้ “คุกกี้” และเมื่อ “คุกกี้” ได้ถูกติดตั้งลงในระบบคอมพิวเตอร์ของผู้ใช้บริการแล้ว ก็จะทำให้ผู้ใช้บริการได้รับความสะดวกสบายในการใช้ประโยชน์จากเว็บไซต์FLOWACCOUNT เนื่องจาก “คุกกี้” จะจดจำรูปแบบลักษณะการใช้งานของผู้ใช้บริการเอาไว้ นอกจากนี้ FLOWACCOUNT จะนำข้อมูลที่ “คุกกี้” ได้บันทึกหรือเก็บรวบรวมไว้ ไปใช้ในการวิเคราะห์เชิงสถิติ หรือในกิจกรรมอื่นของ เว็บไซต์ เพื่อปรับปรุงคุณภาพการให้บริการต่อไป</p>
                        <p style="text-align: left;">ท่านมีสิทธิปฎิเสธที่จะไม่ใช้ “คุกกี้”ได้ แต่ทั้งนี้ ท่านจะต้องตระหนักว่าการปฎิเสธการใช้งาน “คุกกี้” อาจทำให้ท่านไม่สามารถใช้ประโยชน์จากฟังชั่นหรือการใช้งานบางอย่างบนเว็บไซต์ของ FLOWACCOUNT ได้</p>
                        <br />

                        <strong>11. สิทธิในการควบคุมข้อมูลส่วนบุคคล</strong>
                        <p style="text-align: left;">เพื่อประโยชน์ในการรักษาความเป็นส่วนตัว ท่านมีสิทธิเลือกที่จะให้มีการใช้หรือแชร์ข้อมูลส่วนบุคคลของท่าน หรืออาจเลือกที่จะไม่รับข้อมูลหรือสื่อทางการตลาดใดๆ จาก เว็บไซต์ ก็ได้ โดยเพียงแต่กรอกความจำนงดังกล่าวเพื่อแจ้งให้ FLOWACCOUNT ทราบตามช่องทางต่างๆที่ปรากฏบนหน้าเว็บไซต์</p>
                        <br />

                        <strong>12. การร้องเรียนปัญหาเรื่องความเป็นส่วนตัว</strong>
                        <p style="text-align: left;">ในกรณีที่ท่านมีปัญหา ข้อสงสัย ข้อเสนอแนะ หรือข้อติชมใดๆ เกี่ยวกับนโยบายคุ้มครองความเป็นส่วนตัว หรือการปฏิบัติตามนโยบายความเป็นส่วนตัวฉบับนี้ FLOWACCOUNT ยินดีที่จะตอบข้อสงสัย รับฟังข้อเสนอแนะ และคำติชมทั้งหลาย อันจะเป็นประโยชน์ต่อการปรับปรุงการให้บริการต่อไป โดยท่านสามารถติดต่อกับ FLOWACCOUNT ได้ผ่านทางช่องทางต่างๆตามที่ปรากฏบนหน้าเว็บไซต์</p>
                        <br />

                        <p style="text-align: left;">
                            13. นโยบายคุ้มครองความเป็นส่วนตัวฉบับนี้อยู่ภายใต้บังคับของเงื่อนไขการใช้บริการ
                            <br /> การจำกัดความรับผิด หรือยกเว้นความรับผิดของ FLOWACCOUNT ให้ถือตามที่กำหนดไว้ใน <a href="{{  '/' + language }}/term-of-use" data-toggle="tab">เงื่อนไขการใช้บริการ</a>
                        </p>
                        <br />

                        <p style="text-align: left;">14. FLOWACCOUNT ขอสงวนสิทธิในการปรับปรุงหรือแก้ไขนโยบายคุ้มครองความเป็นส่วนตัว โดยไม่ต้องแจ้งให้ทราบล่วงหน้า ทั้งนี้ เพื่อความเหมาะสมและมีประสิทธิภาพในการให้บริการ ดังนั้น จึงขอแนะนำให้ผู้ใช้บริการอ่านนโยบายความเป็นส่วนตัวทุกครั้งที่แวะชม หรือเยี่ยมชม หรือมีการใช้บริการจากเว็บไซต์ของ FLOWACCOUNT</p>
                        <p style="text-align: left;">แก้ไขครั้งล่าสุดเมื่อวันที่ 31 ตุลาคม 2558</p>
                    </div>


                    <div class="tab-pane" id="TermofUse" style="overflow-y: auto;margin-top: 10px;">

                        <p style="text-align: left;">ขอต้อนรับสู่FLOWACCOUNTผู้ให้บริการด้านการจัดการบัญชีออนไลน์และการเงินส่วนบุคคลที่ออกแบบเฉพาะสำหรับผู้ประกอบธุรกิจขนาดเล็กเหมาะสำหรับบริษัทที่เจ้าของกิจการต้องทำบัญชีเองเบื้องต้นและจ้างสำนักงานบัญชีมาดูแลเป็นรายเดือน เงื่อนไขการใช้บริการฉบับนี้มีวัตถุประสงค์เพื่อแจ้งถึงสิทธิและหน้าที่ตามกฏหมายระหว่าง “เรา” “บริษัท โฟลว์แอคเคาท์ จำกัด” ในฐานะ “ผู้ให้บริการ” และ “ท่าน” ในฐานะ “ผู้ใช้บริการ” ดังนั้น โปรดอ่านเงื่อนไขการใช้บริการโดยละเอียดเพื่อประโยชน์ในการรับบริการจากเรา</p>
                        <p style="text-align: left;">การตกลงสมัครเข้าใช้บริการทุกประเภทของ FLOWACCOUNT นั้นถือว่าผู้ใช้บริการยอมรับว่าได้อ่านและทำความเข้าใจเงื่อนไขการใช้บริการโดยละเอียดถี่ถ้วนแล้ว และผู้ใช้บริการยอมรับเงื่อนไขการใช้บริการทุกประการ เงื่อนไขฉบับนี้มีผลผูกพันผู้ใช้บริการตามกฏหมาย</p>
                        <br />

                        <strong>1. คำจำกัดความ</strong>
                        <p style="text-align: left;">“ข้อตกลง” หมายความถึง เงื่อนไขการใช้บริการ, สัญญา</p>
                        <p style="text-align: left;">“คู่สัญญา” หมายความถึง บริษัท โฟลว์แอคเคาท์ จำกัด และ ผู้ใช้บริการที่สมัครเข้าใช้บริการผ่านทาง flowaccount.com</p>
                        <p style="text-align: left;">“ค่าบริการ” หมายความถึง ค่าบริการรายปีที่ผู้ใช้บริการมีหน้าที่ต้องชำระตามรอบที่กำหนดตามสัญญา ตามอัตราที่ปรากฏบนหน้าเว็บไซต์</p>
                        <p style="text-align: left;">“ข้อมูล” หมายความถึง ข้อมูลใดๆที่ผู้ใช้บริการหรือผู้ที่ได้รับมอบอำนาจจากผู้ใช้บริการให้ทำการแทนได้ให้ไว้แก่ทางเว็บไซต์</p>
                        <p style="text-align: left;">“ข้อมูลลับ” หมายความถึง ข้อมูลต่างๆที่คู่สัญญาได้ให้ไว้แก่กัน ไม่ว่าจะโดยทางวาจา, ลายลักษณ์อักษร หรือข้อมูลอิเลคทรอนิคส์ แต่ไม่รวมถึงข้อมูลใดๆที่ได้ถูกเผยแพร่สู่สาธารณชนเป็นที่เรียบร้อยแล้ว</p>
                        <p style="text-align: left;">“สิทธิในทางทรัพย์สินทางปัญญา” หมายความถึง สิทธิบัตร, เครื่องหมายการค้า, เครื่องหมายบริการ, ลิขสิทธิ, สิทธิโดยธรรม, สิทธิในแบบผลิตภัณฑ์ ไม่ว่าจะได้จดทะเบียนไว้แล้วหรือไม่ก็ตาม</p>
                        <p style="text-align: left;">“การให้บริการ” หมายความถึง การให้บริการซอฟต์แวร์สำหรับการจัดการบัญชีออนไลน์ และการเงินส่วนบุคคล</p>
                        <p style="text-align: left;">“ผู้ใช้งานในระบบ” หมายความถึง บุคคล หรือบริษัทอื่นใด ที่มิใช่ผู้ใช้บริการที่เป็นคู่สัญญากับFLOWACCOUNT แต่ได้รับมอบอำนาจจากผู้ใช้บริการให้สามารถเข้าใช้บริการในนามของตัวผู้ใช้บริการ</p>
                        <p style="text-align: left;">“ท่าน” หมายความถึง ผู้ใช้บริการผู้เป็นคู่สัญญากับ FLOWACCOUNT ไม่รวมถึง ผู้ใช้งานในระบบ</p>
                        <p style="text-align: left;">“เรา” หมายความถึง บริษัท โฟลว์แอคเคาท์ จำกัด</p>
                        <p style="text-align: left;">“เว็บไซต์” หมายความถึง flowaccount.com</p>
                        <p style="text-align: left;">“FLOWACCOUNT” หมายความถึง บริษัท โฟลว์แอคเคาท์ จำกัด</p>
                        <p style="text-align: left;">“เหตุสุดวิสัย” หมายความถึง เหตุใด ๆ อันจะเกิดขึ้นก็ดี จะให้ผลพิบัติก็ดี เป็นเหตุที่ไม่อาจป้องกันได้แม้ทั้งบุคคลผู้ต้องประสบหรือใกล้จะต้องประสบเหตุนั้น จะได้จัดการระมัดระวังตามสมควรอันพึงคาดหมายได้จากบุคคลในฐานะและภาวะเช่นนั้น</p>
                        <br />
                        <strong>2. การให้บริการ</strong>
                        <p style="text-align: left;">2.1 แพคเกจและรูปแบบการให้บริการต่างๆนั้นไปไปตามที่ปรากฏบนหน้าเว็บไซต์</p>
                        <p style="text-align: left;">2.2 การให้บริการของ FLOWACCOUNT สามารถเปลี่ยนแปลงได้ตลอดเวลาเพื่อให้สอดคล้องกับความต้องการของผู้ใช้บริการและตามสภาพสถานการณ์ที่เปลี่ยนแปลงไป และ FLOWACCOUNT ขอสงวนสิทธิในการเปลี่ยนแปลงเงื่อนไขการใช้บริการไม่ว่าเวลาใด โดยถือว่าการเปลี่ยนแปลงมีผลทันทีเมื่อทำการแก้ไขบนหน้าเว็บไซต์ ทั้งนี้ FLOWACCOUNT จะดำเนินการอย่างเต็มความสามารถเพื่อแจ้งให้ผู้ใช้บริการทุกท่านทราบถึงการเปลี่ยนแปลงเช่นว่าผ่านช่องทางอีเมลล์ หรือหน้าเว็บไซต์ โดยถือเป็นหน้าที่ของท่านในการอ่านและทำความเข้าใจเงื่อนไขการบริการล่าสุดที่ปรากฎบนหน้าเว็บไซต์</p>
                        <p style="text-align: left;">2.3 FLOWACCOUNT ให้สิทธิท่านในการใช้บริการซอฟต์แวร์ ผ่านทางเว็บไซต์ตามแพคเกจการใช้บริการที่ท่านได้เลือกไว้ โดยสิทธิดังกล่าวนี้มิใช่สิทธิเด็ดขาด และไม่สามารถโอนได้ และอยู่ภายใต้เงื่อนไขการใช้บริการฉบับนี้</p>
                        <p style="text-align: left;">2.4 ท่านมีสิทธิมอบหมายให้บุคคลหรือบริษัทใดๆเป็นผู้ใช้งานในระบบเพื่อเข้าจัดการบัญชีออนไลน์ได้ตามจำนวนที่สอดคล้องกับแพคเกจการให้บริการที่ท่านเลือกโดยท่านจะต้องรับผิดชอบต่อการใดๆที่ผู้ใช้งานในระบบได้กระทำลงเสมือนกับเป็นการกระทำของท่านเอง ไม่ว่าการกระทำดังกล่าวจะอยู่ในความรับรู้ของท่านหรือไม่ก็ตาม และหากการปฏิบัติของผู้ใช้งานในระบบก่อให้เกิดความเสียหายหรือการเสียผลประโยชน์แก่ท่าน FLOWACCOUNT จะไม่รับผิดชอบใดๆทั้งสิ้น</p>
                        <p style="text-align: left;">2.5 ท่านมีสิทธิเด็ดขาดในการเปลี่ยนแปลง จำกัด หรือยกเลิกการใช้งานของผู้ใช้งานในระบบได้ตามที่ท่านเห็นสมควร ในกรณีที่มีข้อพิพาทเกิดขึ้นระหว่างท่านและผู้ใช้งานในระบบ FLOWACCOUNT จะปฎิบัติตามคำร้องขอหรือคำสั่งของท่านแต่เพียงผู้เดียวในฐานะคู่สัญญา</p>
                        <p style="text-align: left;">2.6 FLOWACCOUNT ขอสงวนสิทธิในการไม่ปฎิบัติตามคำร้องขอหรือคำสั่งใดๆจากบุคคลภายนอก ไม่ว่าจะเป็น ผู้ใช้งานในระบบที่ท่านเลือก หรือ ตัวแทนผู้รับมอบอำนาจของท่าน ที่มิใช่คู่สัญญากับบริษัท เว้นแต่ จะปรากฏว่าท่านได้ให้ความยินยอมชัดแจ้งแก่ทาง FLOWACCOUNTเป็นลายลักษณ์อักษร</p>
                        <p style="text-align: left;">2.7 FLOWACCOUNT ให้บริการซอฟต์แวร์เพื่อให้ความสะดวกสบายในการจัดการบัญชีของท่านเท่านั้น โดยFLOWACCOUNT มิได้ให้บริการในฐานะผู้เชี่ยวชาญด้านการบัญชี ดังนั้นหากมีปัญหาเกี่ยวกับบัญชีโปรดติดต่อใช้บริการนักบัญชีผู้มีวิชาชีพโดยตรง FLOWACCOUNT ขอสงวนสิทธิในการไม่ตอบคำถามหรือให้คำแนะนำใดๆเกี่ยวกับปัญหาเรื่องดังกล่าว</p>
                        <br />

                        <strong>3. การสมัครใช้บริการ การต่อสัญญา และการเลิกสัญญา</strong>
                        <strong><p style="text-align: left;">3.1 การสมัครใช้บริการ</strong>: การสมัครใช้บริการนั้นสามารถทำได้โดยส่งคำขอใช้บริการผ่านทางหน้าเว็บไซต์ FLOWACCOUNT ขอสงวนสิทธิในการปฎิเสธคำขอใช้บริการใดๆที่ ไม่ผ่านหลักเกณท์การประเมินของ FLOWACCOUNT ทั้งนี้ FLOWACCOUNT ไม่มีหน้าที่ที่ต้องเปิดเผยหลักเกณท์การประเมินดังกล่าว</p>
                        <strong><p style="text-align: left;">3.2 การต่อสัญญา</strong>: ระยะเวลาขั้นต้นในการใช้บริการแพคเกจการให้บริการประเภทมีค่าบริการของ FLOWACCOUNT นั้นมีระยะเวลาหนึ่งปี เว้นแต่จะกำหนดไว้เป็นอย่างอื่นบนหน้าเว็บไซต์ หากลูกค้าไม่แสดงเจตนาเลิกสัญญาตามวิธีการที่ FLOWACCOUNT กำหนด (ตามข้อกำหนดข้อที่3.3.1) ก่อนสิ้นสุดระยะเวลาในการใช้บริการ ระยะเวลาในการใช้บริการจะขยายออกไปโดยอัตโนมัติอีกหนึ่งปีและจะขยายออกไปโดยอัตโนมัติคราวละหนึ่งปีด้วยวิธีการเดียวกัน</p>
                        <p style="text-align: left;">
                            <strong>3.3 การเลิกสัญญา</strong>
                        </p>
                        <p style="text-align: left;">
                            <strong>3.3.1 สิทธิในการเลิกสัญญาของผู้ใช้บริการ</strong>
                        </p>

                        <p style="text-align: left;"><strong>3.3.1.1 กรณีเลิกสัญญาประเภทที่ไม่มีค่าบริการ</strong>: ท่านมีสิทธิเลิกสัญญาได้โดยการส่งคำขอเลิกใช้บริการมายัง support@flowaccount.com</p>
                        <p style="text-align: left;"><strong>3.3.1.2 กรณีเลิกสัญญาประเภทมีค่าบริการรายปี</strong>: ท่านมีสิทธิเลิกสัญญาได้โดยการส่งคำขอเลิกใช้บริการมายัง support@flowaccount.com การยื่นคำขอดังกล่าวจะทำในเวลาใดก็ได้ก่อนสิ้นสุดระยะเวลาการใช้บริการโดยมีผลเป็นการเลิกสัญญาในวันสุดท้ายของระยะเวลาการใช้บริการในปีที่ได้ยื่นคำขอเลิกการใช้บริการดังกล่าว ในกรณีที่ท่านมีความประสงค์จะเลิกสัญญาโดยให้มีผลในทันที (ปิด Account ก่อนสิ้นสุดระยะเวลาการใช้บริการ) FLOWACCOUNT จะไม่คืนเงินค่าบริการที่ท่านได้ชำระไว้แล้วไม่ว่ากรณีใดๆ</p>
                        <p style="text-align: left;">
                            <strong>3.3.2 สิทธิในการเลิกสัญญาของFLOWACCOUNT</strong>
                        </p>
                        <p style="text-align: left;">3.3.2.1 FLOWACCOUNT มีสิทธิบอกเลิกสัญญาไม่ว่าเวลาใดๆ เมื่อ FLOWACCOUNT ทำการบอกเลิกสัญญาแล้วให้ถือว่าการเลิกสัญญา มีผลในวันสุดท้ายของระยะเวลาการใช้บริการในปีที่ได้ทำการบอกเลิกสัญญา</p>
                        <p style="text-align: left;">3.3.2.2 ข้อกำหนด ตาม 3.3.2.1 นั้นมิใช้บังคับกับกรณีเลิกสัญญาในกรณีที่ผู้ใช้บริการกระทำผิดเงื่อนไขการใช้บริการฉบับนี้ รายละเอียดเป็นไปตาม ข้อกำหนดข้อที่ 4.4.9</p>
                        <br />


                        <strong>4. หน้าที่ของผู้ใช้บริการ</strong>
                        <p style="text-align: left;">
                            <strong>4.1 การชำระค่าบริการ</strong>: ท่านมีหน้าที่ชำระค่าบริการรายปีหรือตามอัตราที่กำหนดไว้ในแพคเกจที่ท่านเลือกใช้บริการ โดย FLOWACCOUNT จะทำการเรียกเก็บเงินในทุกรอบปีหรือตามอัตราที่กำหนดไว้ในแพคเกจดังกล่าว จนกว่าจะมีการเลิกสัญญา(ตามข้อกำหนดที่ 3.3) ในกรณีที่ผู้ใช้บริการไม่ชำระค่าบริการหรือชำระล่าช้าทางบริษัทขอสงวนสิทธิในการระงับการใช้บริการของท่านชั่วคราวจนกว่าจะมีการชำระราคาโดยสิ้นเชิง ทั้งนี้ FLOWACCOUNT ไม่มีความรับผิดใดๆในความเสียหายที่เกิดจากการระงับการใช้บริการด้วยเหตุดังกล่าว
                        </p>
                        <p style="text-align: left;">
                            <strong>4.2 การให้ข้อมูล</strong>: ท่านมีหน้าที่ให้ข้อมูลที่ถูกต้องเป็นจริงทุกประการแก่ FLOWACCOUNT ในกรณีที่มีการเปลี่ยนชื่อ, ชื่อบริษัท, ชื่อทางการค้า, ตัวแทน, ที่อยู่หรือข้อมูลอื่นในการติดต่อ ท่านจะต้องแจ้งการเปลี่ยนแปลงดังกล่าวให้ FLOWACCOUNT ทราบเป็นลายลักษณ์อักษรโดยทันที ตามวิธีการแจ้งข้อมูลที่ FLOWACCOUNT กำหนด โดย FLOWACCOUNT อาจขอให้ท่านส่งเอกสารเพื่อยืนยันการเปลี่ยนแปลงข้อมูลดังกล่าว และท่านยอมรับว่าจะปฏิบัติตามคำร้องขอดังกล่าวของ FLOWACCOUNT
                        </p>
                        <p style="text-align: left;">
                            <strong>4.3 ข้อห้ามในการใช้บริการ:</strong>
                        </p>
                        <p style="text-align: left;">
                            4.3.1 ท่านมีสิทธิใช้บริการของ FLOWACCOUNT เพื่อจัดการบัญชีออนไลน์หรือการเงินส่วนบุคคลตามปกติธรรมดาการค้าของท่านโดยสุจริต และชอบด้วยกฏหมายเท่านั้น ทั้งนี้ท่านจะต้องไม่ใช้บริการของ FLOWACCOUNT เพื่อสนับสนุน หรือใช้ในทางที่เกี่ยวข้องกับการหรือกิจการใดๆอันมีวัตถุประสงค์ต้องห้ามชัดแจ้งตามกฏหมายไทย หรือขัดต่อศีลธรรมอันดีของประชาชนชาวไทย หรือที่สร้างความเสื่อมเสีย หรือทำลายความมั่นคง ต่อประเทศชาติ ศาสนา และ สถาบันพระมหากษัตริย์ ทั้งนี้ หากมีการตรวจพบการกระทำดังกล่าว FLOWACCOUNT ขอสงวนสิทธิในการบอกเลิกสัญญาโดยมิต้องแจ้งล่วงหน้าและไม่คืนค่าบริการใดๆทั้งสิ้น และ ไม่มีความรับผิดต่อความเสียหายใดๆต่อตัวผู้ฝ่าฝืนหรือบุคคลภายนอก
                        </p>
                        <p style="text-align: left;">
                            4.3.2 ท่านจะต้องไม่ส่งข้อมูลใดๆเข้ามาในระบบของ FLOWACCOUNT อันเป็นความผิดตาม พ.ร.บ คอมพิวเตอร์ พ.ศ. 2550 มาตรา 14 ที่บัญญัติไว้ว่า
                            <br /> “ผู้ใดกระทำความผิดที่ระบุไว้ดังต่อไปนี้ ต้องระวางโทษจำคุกไม่เกินห้าปี หรือปรับไม่เกินหนึ่งแสนบาท หรือทั้งจำทั้งปรับ
                            <br /> (๑) นำเข้าสู่ระบบคอมพิวเตอร์ซึ่งข้อมูลคอมพิวเตอร์ปลอมไม่ว่าทั้งหมดหรือบางส่วน หรือข้อมูลคอมพิวเตอร์อันเป็นเท็จโดยประการที่น่าจะเกิดความเสียหายแก่ผู้อื่นหรือประชาชน
                            <br /> (๒)นำเข้าสู่ระบบคอมพิวเตอร์ซึ่งข้อมูลคอมพิวเตอร์อันเป็นเท็จ โดยประการที่น่าจะเกิดความเสียหายต่อความมั่นคงของประเทศหรือก่อให้เกิดความตื่นตระหนกแก่ประชาชน
                            <br /> (๓) นำเข้าสู่ระบบคอมพิวเตอร์ซึ่งข้อมูลคอมพิวเตอร์ใดๆ อันเป็นความผิดเกี่ยวกับความมั่นคงแห่งราชอาณาจักรหรือความผิดเกี่ยวกับการก่อการร้ายตามประมวลกฎหมายอาญา
                            <br /> (๔) นำเข้าสู่ระบบคอมพิวเตอร์ซึ่งข้อมูลคอมพิวเตอร์ใดๆ ที่มีลักษณะอันลามกและข้อมูลคอมพิวเตอร์นั้นประชาชนทั่วไปอาจเข้าถึงได้
                            <br /> (๕) เผยแพร่หรือส่งต่อซึ่งข้อมูลคอมพิวเตอร์โดยรู้อยู่แล้วว่าเป็นข้อมูลคอมพิวเตอร์ตาม (๑)(๒) (๓) หรือ (๔)”
                        </p>
                        <p style="text-align: left;">
                            <strong>4.4 หน้าที่ทั่วไปในการใช้บริการ</strong>
                        </p>
                        <p style="text-align: left;">4.4.1 ท่านจะต้องเก็บรักษา User name และ Password ของท่านไว้ด้วยความระมัดระวังและเป็นความลับ โดยท่านจะเป็นฝ่ายรับความเสี่ยงในกรณีที่บุคคลภายนอกใช้รหัสผ่านโดยฉ้อฉลหรือโดยมิได้รับอนุญาต FLOWACCOUNT จะถือว่าการใช้รหัสผ่านที่ลงทะเบียนใดๆ เป็นการกระทำของท่านในฐานะคู่สัญญาที่ถือรหัสผ่านดังกล่าว ในกรณีที่มีการใช้ User name และ Password ของท่านโดยบุคคลภายนอกที่ปราศจากอำนาจ ท่านมีหน้าที่ที่จะต้องแจ้งเหตุดังกล่าวให้ FLOWACCOUNT ทราบโดยทันที เพื่อที่ทางเราจะได้ใช้มาตราการเพื่อทำการยับยั้งและแก้ไขปัญหาดังกล่าวได้อย่างทันท่วงที ทังนี้มาตรการดังกล่าวมีขึ้นเพื่อให้ความช่วยเหลือแก่ท่านเท่านั้น FLOWACCOUNT ไม่มีความรับผิดใดๆต่อท่านหรือผู้อื่นในความบกพร่องหรือผลใดๆของการใช้มาตรการเช่นว่า เมื่อท่านสมัครใช้บริการ ถือว่าท่านให้ความยินยอมล่วงหน้าแก่ FLOWACCOUNT ในการดำเนินมาตราการดังกล่าว</p>
                        <p style="text-align: left;">4.4.2 ท่านจะต้องไม่พยายามหรือกระทำการใดๆที่เป็นอันตรายต่อความปลอดภัยของระบบคอมพิวเตอร์หรือระบบเน็ตเวิร์คของ FLOWACCOUNT และของบุคคลภายนอกที่ FLOWACCOUNT ได้ใช้ประกอบการให้บริการ</p>
                        <p style="text-align: left;">4.4.3 ท่านจะต้องไม่พยายามหรือกระทำการใดๆเพื่อเข้าถึงส่วนใดๆของเว็บไซต์โดยปราศจากอำนาจในการกระทำเช่นว่า เว้นแต่ท่านได้รับอนุญาตโดยชัดแจ้งให้ทำได้</p>
                        <p style="text-align: left;">4.4.4 ท่านจะต้องไม่ส่งหรือป้อนข้อมูล หรือเอกสารใดๆเข้ามาในเวบไซด์โดยประการที่อาจทำให้เกิดความเสียหายแก่อุปกรณ์ ฮาร์ดแวร์ หรือ ซอฟท์แวร์ ของ FLOWACCOUNT หรือ ของบุคคลภายนอกที่ FLOWACCOUNT ได้ใช้ประกอบการให้บริการ หรือของสมาชิกท่านอื่น ข้อความนี้ให้รวมถึง การส่งหรือป้อนข้อมูลหรือเอกสารใดที่ละเมิดต่อกฏหมาย หรือ ที่ท่านไม่มีสิทธิจะใช้ตามกฏหมาย</p>
                        <p style="text-align: left;">4.4.5 ในกรณีที่มีบุคคลอื่นใช้สิทธิเรียกร้องหรือมีข้อเรียกร้องต่อท่าน หรือท่านถูกฟ้องร้องดำเนินคดีเกี่ยวกับหรือมีสาเหตุมาจากการใช้บริการของ FLOWACCOUNT ท่านจะยุติข้อเรียกร้องด้วยค่าใช้จ่ายและความรับผิดชอบของท่านเอง และท่านจะไม่ให้ FLOWACCOUNT เข้าไปเกี่ยวข้องในการยุติข้อเรียกร้องดังกล่าว</p>
                        <p style="text-align: left;">4.4.6 ในกรณีที่ FLOWACCOUNT มีค่าเสียหายหรือค่าใช้จ่ายไม่ว่าโดยตรงหรือโดยอ้อม (รวมทั้งค่าทนายความ) เกี่ยวกับหรือมีสาเหตุมาจากการใช้บริการของท่าน ท่านยอมรับว่าจะชดใช้ค่าเสียหายหรือค่าใช้จ่ายดังกล่าวให้แก่ FLOWACCOUNTโดยสิ้นเชิง</p>
                        <p style="text-align: left;">4.4.7 หากท่านกำหนดให้ผู้ใช้บริการรายอื่นหรือบุคคลภายนอกเข้ามีส่วนร่วมในการดูแลจัดการบัญชีของท่าน บริษัทจะถือว่าการปฏิบัติของบุคคลภายนอกดังกล่าวคือการปฏิบัติของท่าน หากการปฏิบัติของบุคคลดังกล่าวก่อให้เกิดความเสียหายหรือการเสียผลประโยชน์แก่ท่าน บริษัทจะไม่รับผิดชอบใดๆทั้งสิ้น</p>
                        <p style="text-align: left;">4.4.8 ในกรณีที่ท่านประสบปัญหาด้านเทคนิค หรือการใช้งาน ท่านมีหน้าที่ในการตรวจสอบ วิเคราะห์และแก้ไขปัญหาในเบื้องต้น หากท่านมีข้อสงสัย หรือต้องการความช่วยเหลือเพิ่มเติมประการใด ให้ติดต่อ หน่วยสนับสนุนให้ความช่วยเหลือ (Help support) ของ ทาง FLOWACCOUNT ตามช่องทางการติดต่อที่แสดงไว้บนหน้าเว็บไซต์</p>
                        <p style="text-align: left;">
                            4.4.9 การผิดหน้าที่ใดๆตามที่ระบุไว้ FLOWACCOUNT มีสิทธิเด็ดขาดในการระงับการให้บริการชั่วคราว หรือมีสิทธิบอกเลิกสัญญาโดยไม่ต้องแจ้งให้ทราบล่วงหน้าและไม่ต้องคืนค่าบริการใดๆทั้งสิ้น
                        </p>
                        <br />

                        <strong>5. การโอนสิทธิ</strong>
                        <p style="text-align: left;">5.1 FLOWACCOUNT ไม่อนุญาตให้ท่านโอนสิทธิและหน้าที่ที่เกิดขึ้นที่เกิดขึ้นภายใต้สัญญา ให้แก่บุคคลอื่นโดยมิได้รับความยินยอมเป็นลายลักษณ์อักษรจาก FLOWACCOUNT</p>
                        <p style="text-align: left;">5.2 ในกรณีที่ FLOWACCOUNT มีความประสงค์ที่จะโอนบริการ ไม่ว่าทั้งหมดหรือบางส่วนให้แก่บริษัทอื่น หรือ บริษัทในกลุ่มบริษัทของ FLOWACCOUNT หรือบุคคลอื่น FLOWACCOUNT อาจโอนสถานะทางสัญญาภายใต้สัญญาให้บริษัทอื่น หรือ บริษัทในกลุ่มบริษัทของFLOWACCOUNT หรือบุคคลอื่น หลังจากที่ได้แจ้งให้ท่านทราบ และเมื่อท่านสมัครเข้าใช้บริการ จะถือว่าท่านได้ให้ความเห็นชอบในการโอนดังกล่าวแล้วเป็นการล่วงหน้า</p>
                        <br />

                        <strong>6. ความลับ และข้อมูลส่วนบุคคล</strong>
                        <p style="text-align: left;">ความลับและข้อมูลส่วนบุคคลของท่านถือเป็นสิ่งสำคัญยิ่ง FLOWACCOUNT จะไม่เปิดเผยความลับหรือข้อมูลส่วนบุคคลของท่านให้แก่บุคคลภายนอกหรือองค์กรอื่นใดไม่ว่าเพื่อวัตถุประสงค์ใดๆ เว้นแต่</p>
                        <p style="text-align: left;">
                            • ได้รับความยินยอมจากท่าน หรือกระทำตามคำร้องขอของท่าน
                            <br /> • ในกรณีที่กฏหมายบังคับ เช่น การทำตามคำสั่งศาล หรือหมายศาล เป็นต้น
                            <br /> โปรดศึกษาเพิ่มเติม ในส่วน <a href="{{  '/' + language }}/privacy-statement" data-toggle="tab">นโยบายความเป็นส่วนตัว</a>
                        </p>
                        <br />

                        <strong>7. ทรัพย์สินทางปัญญา</strong>
                        <p style="text-align: left;">7.1 FLOWACCOUNT เป็นเจ้าของลิขสิทธิ์ และ ทรัพย์สินทางปัญญาในข้อมูลที่แสดง รูปภาพ และ รูปแบบการแสดงผล ตามที่ปรากฏในเว็บไซต์ทั้งหมด ยกเว้นจะมีการระบุอย่างชัดเจนเป็นอื่น ห้ามมิให้ผู้ใดทำการคัดลอก ทำซ้ำ มีสำเนา สำรองไว้ ทำเลียนแบบ ทำเหมือน ดัดแปลง ทำเพิ่ม เพื่อนำไปเผยแพร่ด้วยวัตถุประสงค์อื่นใด โดยปราศจากความยินยอมเป็นหนังสือจากFLOWACCOUNT ทั้งนี้เว้นแต่จะได้มีการระบุกำหนดไว้ในข้อตกลงและ เงื่อนไขในเว็บไซต์</p>
                        <p style="text-align: left;">7.2 ข้อมูล หรือเอกสารอิเลคทรอนิคส์ใน Account (บัญชีผู้ใช้งาน) ของท่านถือเป็นทรัพย์สินของท่าน อย่างไรก็ตามการเข้าถึงข้อมูล หรือ เอกสารอิเลคทรอนิคส์ดังกล่าวจะต้องอยู่ในเงื่อนไขที่ว่าท่านได้ชำระค่าบริการรายปีโดยสิ้นเชิงแล้ว และถือว่าท่านได้อนุญาตให้ FLOWACCOUNT ใช้ คัดลอก ส่ง จัดเก็บ หรือ ทำการสำรอง(Backup) ข้อมูล หรือเอกสารอิเลคทรอนิคส์ ดังกล่าวเพื่อวัตถุประสงค์ในการให้บริการของFLOWACCOUNTเพื่อประโยชน์ของท่านในการเข้าถึงข้อมูลต่างๆด้วยความสะดวกรวดเร็ว</p>
                        <p style="text-align: left;">7.3 การสำรองข้อมูล (Backup) และ การเก็บรักษาข้อมูลของท่านถือเป็นนโยบายและทางปฎิบัติที่สำคัญอย่างยิ่งในการให้บริการของFLOWACOOUNT FLOWACCOUNT มีมาตราการรักษาข้อมูลของท่านตามมาตรฐานสากลเพื่อป้องกันการสูญหายหรือเสียหายของข้อมูล อย่างไรก็ดี FLOWACCOUNT ไม่สามารถให้การรับรองได้ว่าข้อมูลของท่านจะไม่มีทางสูญหายหรือเสียหายไม่ว่าประการใดๆ ซึ่งอาจเกิดขึ้นได้ด้วยเหตุสุดวิสัยหรือด้วยเหตุปัจจัยที่ไม่อาจคาดถึงได้ ดังนั้น ท่านมีหน้าที่ที่จะต้องสำรองข้อมูลหรือทำการคัดลอกข้อมูลหรือเอกสารใดๆที่ท่านต้องการส่งเข้ามาในระบบด้วยตัวท่านเองอีกทางหนึ่ง เพื่อประโยชน์สูงสุดในการเก็บรักษาข้อมูลของท่าน FLOWACCOUNT ไม่มีความรับผิดใดๆ ในกรณีข้อมูลสูญหายหรือเสียหาย</p>
                        <br />

                        <strong>8. การรับมอบอำนาจจากผู้อื่น และ การใช้บริการของ FLOWACCOUNT เพื่อประโยชน์ของบุคคลภายนอก</strong>
                        <p style="text-align: left;"><strong>8.1 การรับมอบอำนาจจากผู้อื่น</strong> ในกรณีที่ท่านสมัครเข้ารับบริการของFLOWACCOUNT ในฐานะตัวแทนของผู้อื่น ถือว่าท่านให้การรับประกันว่าท่านมีสิทธิและได้รับมอบอำนาจชัดแจ้งจากตัวการในการตกลงเข้าผูกพันตามเงื่อนไขการใช้บริการนี้ และไม่ว่าประการใดท่านยอมรับว่าท่านเข้าผูกพันตามเงื่อนไขการใช้บริการนี้เฉกเช่นเดียวกับตัวการ กล่าวคือท่านไม่อาจอ้างความเป็นตัวแทนเพื่อหลุดพ้นความรับผิดใดๆตามข้อตกลงนี้</p>
                        <p style="text-align: left;">
                            <strong>8.2 การใช้บริการของ FLOWACCOUNT เพื่อประโยชน์ของบุคคลภายนอก</strong>
                        </p>
                        <p style="text-align: left;">ในกรณีที่ท่านใช้บริการของ FLOWACCOUNT เพื่อประโยชน์ของบุคคลภายนอก ให้ถือว่า ท่านรับประกันว่าท่านมีสิทธิตามกฏหมายที่จะดำเนินการดังกล่าว แต่ทั้งนี้ FLOWACCOUNT จะไม่ปฏิบัติตามคำร้องขอ หรือตามคำสั่งใดๆจากบุคคลภายนอกที่มิใช่คู่สัญญากับ FLOWACCOUNT</p>
                        <p style="text-align: left;">ในกรณีที่มีบุคคลอื่นใช้สิทธิเรียกร้องหรือมีข้อเรียกร้องต่อท่าน หรือท่านถูกฟ้องร้องดำเนินคดีเกี่ยวกับหรือมีสาเหตุมาจากการใช้บริการของ FLOWACCOUNT ท่านจะยุติข้อเรียกร้องด้วยค่าใช้จ่ายและความรับผิดชอบของท่านเอง และท่านจะไม่ให้ FLOWACCOUNT เข้าไปเกี่ยวข้องในการยุติข้อเรียกร้องดังกล่าว</p>
                        <p style="text-align: left;">FLOWACCOUNT ไม่มีความรับผิดต่อบุคคลภายนอกไม่ว่ากรณีใดๆ</p>
                        <br />

                        <strong>9. การระงับการให้บริการ</strong>
                        <p style="text-align: left;">9.1 FLOWACCOUNT อาจระงับการให้บริการเป็นการชั่วคราว ด้วยเหตุจำเป็นบางประการ (ตามข้อกำหนดที่ 9.2) และในกรณีที่มีการระงับบริการประเภทที่มีค่าบริการ FLOWACCOUNT ขอสงวนสิทธิในการไม่คืนค่าบริการสำหรับระยะเวลาที่ระงับบริการดังกล่าว และถือว่า FLOWACCOUNT ไม่มีความรับผิดในการระงับบริการดังกล่าวไม่ว่าประการใด</p>
                        <p style="text-align: left;">9.2 เหตุแห่งการระงับการให้บริการอาจรวมถึงแต่ไม่จำกัดเป็นการเฉพาะ</p>
                        <p style="text-align: left;">9.2.1 การบำรุงรักษาอุปกรณ์ที่จำเป็นสำหรับการให้บริการ</p>
                        <p style="text-align: left;">9.2.2 อุปกรณ์ที่จำเป็นในการให้บริการไม่สามารถใช้งานได้</p>
                        <p style="text-align: left;">9.2.3 เกิดเหตุในด้านการปฏิบัติการหรือด้านเทคนิคซึ่งส่งผลต่อการให้บริการ</p>
                        <p style="text-align: left;">9.2.4 การขัดข้องของระบบของบุคคลภายนอกที่ FLOWACCOUNT ใช้ประกอบการให้บริการของ FLOWACCOUNT</p>
                        <p style="text-align: left;">9.2.5 การเกิดเหตุการณ์ที่เป็นอุปสรรคในการให้บริการ ยกตัวอย่างเช่นไฟฟ้าขัดข้อง, ไฟไหม้, น้ำท่วม, ภัยธรรมชาติ, ภับพิบัติต่างๆ, ความไม่สงบของเหตุการณ์บ้านเมือง, การนัดหยุดงาน หรือ เหตุสุดวิสัยอื่นใด</p>
                        <br />

                        <strong>10. การยกเลิกการให้บริการ</strong>
                        <p style="text-align: left;">FLOWACCOUNT ขอสงวนสิทธิในการยกเลิกการให้บริการทั้งหมดหรือแต่บางส่วน โดยไม่ต้องแจ้งล่วงหน้า และไม่มีความรับผิดใดๆต่อคู่สัญญาและบุคคลภายนอก</p>
                        <br />

                        <strong>11. ข้อจำกัดความรับผิด</strong>
                        <p style="text-align: left;">11.1 แม้ FLOWACCOUNT จะมีความตั้งใจและพยายามอย่างยิ่งในการให้บริการอย่างเต็มประสิทธิภาพแต่อย่างไรก็ตาม FLOWACCOUNT ไม่สามารถให้การรับประกันได้ว่าการใช้บริการของท่านจะปราศจากข้อบกพร่อง (ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ ความเสถียร, ความเชื่อถือได้, ความแม่นยำ, ความสมบูรณ์, ประสิทธิผล, ความเหมาะสมกับวัตถุประสงค์บางประการ, ความบกพร่องเกี่ยวกับความปลอดภัย, ข้อผิดพลาด, จุดบกพร่องของคอมพิวเตอร์ (bug) หรือ ไวรัส (virus)) ทั้งนี้เนื่องด้วยเป็นที่ทราบกันดีว่า ระบบที่เกี่ยวข้องกับการให้บริการ ไม่ว่าจะเป็น ระบบการสื่อสาร ระบบคอมพิวเตอร์ หรือ อินเตอร์เน็ตนั้นย่อมมีความไม่แน่นอน อาจทำให้เกิดการรบกวน หรือเป็นอุปสรรค์แก่ท่านในการใช้บริการของเรา</p>
                        <p style="text-align: left;">11.2 FLOWACCOUNT ไม่รับผิดชอบต่อความเสียหายใดๆที่เกิดจากการใช้บริการ หรือที่เกิดขึ้นจากความบกพร่องในการใช้บริการไม่ว่าด้วยเหตุใดๆ เว้นแต่ความเสียหายเกิดจากการจงใจหรือความประมาทประมาทเลินเล่ออย่างร้ายแรงของ FLOWACCOUNT ทั้งนี้ ในกรณีดังกล่าว FLOWACCOUNT จำกัดความรับผิดต่อค่าเสียหายที่แท้จริงที่เกิดขึ้นแก่ท่านไม่ว่าโดยตรงหรือโดยอ้อมสุงสุดไม่เกินอัตราค่าบริการรายปีหรือตามอัตราที่กำหนด ที่ FLOWACCOUNT ได้รับชำระจากท่าน ในปีที่เกิดเหตุการณ์ซึ่งทำให้เกิดค่าเสียหายนั้น</p>
                        <br />

                        <strong>12. ความสมบูรณ์ของเงื่อนไขการใช้บริการ</strong>
                        <p style="text-align: left;">หากมีข้อกำหนดหรือข้อความใดในเงื่อนไขการใช้บริการ FLOWACCOUNT ฉบับ นี้เป็นโมฆะหรือใช้บังคับไม่ได้ตามกฏหมายไทย ให้ถือว่าข้อกำหนดหรือข้อความที่ตกเป็นโมฆะหรือใช้บังคับไม่ได้นั้นไม่มีผลกระทบต่อความสมบูรณ์หรือการบังคับใช้ข้อกำหนดอื่นที่เหลือหรือกฎเกณฑ์อื่นที่เกี่ยวข้อง</p>
                        <br />

                        <strong>13. การขัดกันของเงื่อนไขการใช้บริการ</strong>
                        <p style="text-align: left;">ในกรณีที่มีความแตกต่างระหว่างข้อกำหนดในการใช้บริการ FLOWACCOUNT ฉบับภาษาไทยและฉบับคำแปล เงื่อนไขการใช้บริการ FLOWACCOUNT ฉบับภาษาไทยจะมีผลเหนือเงื่อนไขฉบับภาษาอื่น</p>
                        <br />

                        <strong>14. กฎหมายที่ใช้บังคับ และเขตอำนาจศาล</strong>
                        <p style="text-align: left;">เงื่อนในการใช้บริการ FLOWACCOUNT ฉบับนี้ อยู่ภายใต้บังคับของกฏหมายไทย โดยไม่คำนึงถึงกฎหรือบทบัญญัติว่าด้วยการเลือกกฎหมายหรือการขัดกันของกฎหมาย และให้ศาลในราชอาณาจักรไทยเป็นศาลที่มีเขตอำนาจในการพิจารณาชี้ขาดตัดสินข้อพิพาทที่เกิดขึ้นภายใต้เงื่อนไขการใช้บริการฉบับนี้</p>
                        <br />

                        <p style="text-align: left;">15. FLOWACCOUNT ขอสงวนสิทธิในการเปลี่ยนแปลงเงื่อนไขการใช้บริการไม่ว่าเวลาใด โดยถือว่าการเปลี่ยนแปลงมีผลทันทีเมื่อทำการแก้ไขบนหน้าเวบไซต์ ทั้งนี้ FLOWACCOUNT จะดำเนินการอย่างเต็มความสามารถเพื่อแจ้งให้ผู้ใช้บริการทุกท่านทราบถึงการเปลี่ยนแปลงเช่นว่าผ่านช่องทางอีเมล์ หรือหน้าเว็บไซต์ โดยถือเป็นหน้าที่ของลูกค้าในการอ่านและทำความเข้าใจเงื่อนไขการบริการล่าสุดที่ปรากฎบนหน้าเว็บไซต์</p>
                        <p style="text-align: left;">แก้ไขครั้งล่าสุดเมื่อวันที่ 31 ตุลาคม 2558</p>

                    </div>

                </div>
                <!-- /tabs -->
            </div>

        </div>
        <div class="col-md-12">
        </div>
    </div>
</section>