﻿<link href="css/seminar-v1.0.css?v=02122016-1" rel="stylesheet" type="text/css" />

<section>&nbsp;</section>
<section id="features" class="section-seminar container">

	<div class="sectiontab sectioncontent text-center environment" style="max-width: 851px;margin-bottom: 30px;">
		<!--     <a href="http://bit.ly/2ccbHBv" target="_blank">
            <img class="img-responsive center-block" src="images/event/Seminar851x315_C1R1_20160923.jpg">
        </a> -->
		<!--<a   target="_blank" href="javascript:void(0);" onclick="window.location = url;">
			<img class="img-responsive center-block" src="images/event/Seminar851x315_C1R1_20160930-c3.jpg">
		</a>-->
		<a target="_blank" href="javascript:void(0);" onclick="window.location = url;">
			<img class="img-responsive center-block" src="images/seminar/FSeminar_20DEC_Website-EventCover_r2.jpg">
		</a>
	</div>

	<div class="sectiontab">
		<h2 class="seminarheader">เรียนรู้การทำบัญชีเบื้องต้น รอบสุดท้ายก่อนสิ้นปี!
		</h2>
		<h2 class="seminarheader" style="margin-top: -12px;font-size: 25px;">เพื่อเตรียมพร้อม สำหรับปี 2560
		</h2>
	</div>

	<!--     <div class="sectiontab detaildatetime">
        <div class="detail-cell"><i class="fa fa-calendar-o"></i><span>2 ตุลาคม 2559 เวลา 13.00 - 16.00 น.</span></div> 
        <div class="detail-cell"><i class="fa fa-map-marker"></i><span class="table-cell">NE8T Coworking Space, BTS ราชเทวี
        <a class="table-cell" href="https://www.google.co.th/maps/dir/''/ne8t/@13.7521622,100.4613501,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x30e29ecb641c9eff:0x57ddb4941054dce2!2m2!1d100.5313906!2d13.7521721" target="_blank">(View Map)</a></span></div>
    </div> -->
	<div class="sectiontab detaildatetime">
		<div class="detail-cell"><i class="fa fa-calendar-o"></i><span>20 ธันวาคม 2559</span></div>
		<div class="detail-cell"><i class="fa fa-clock-o"></i><span>13:00 - 18:00 น.</span></div>
		<div class="detail-cell"><i class="fa fa-map-marker"></i><span class="table-cell">อาคาร Knowledge Exchange, BTS วงเวียนใหญ่ (ทางออก 4)<br/><a class="table-cell" style="color: #2898CB;font-size: 18px;font-weight: bold;" href="https://goo.gl/maps/Xn2FMc1uVVL2" target="_blank">(แผนที่)</a></span></div>
	</div>

	<div class="sectiontab text-center" style="margin-bottom: 40px;">
		<a target="_blank" href="javascript:void(0);" onclick="window.location = url;" class="btn btn-buy">
			<i class="fa fa-ticket"></i><span>ลงทะเบียน Workshop</span>
		</a>
		<div>
			<span class="text-green">หากพบปัญหา หรือมีข้อสงสัยในการซื้อบัตร ติดต่อ 081-359-7000</span>
		</div>
	</div>
	<div class="sectiontab text-center" style="margin-bottom: 15px;">
		<div class="content-vdo">
			<div class="youtube vdo big seminar" id="kzoDBlJfN9M" data-params="modestbranding=1&showinfo=0&vq=hd720" style="background-image:url(https://i.ytimg.com/vi/kzoDBlJfN9M/maxresdefault.jpg);">
			</div>
		</div>
	</div>

	<div class="sectiontab text-justify sectioncontent" style="margin-bottom: 50px;">
		<pg></pg><span>เวิร์คช็อปของ FlowAccount.com จะเป็นการสอนแบบ step by step เน้นการปูพื้นฐานสำหรับลูกค้าทุกท่านที่เพิ่งเริ่มทำธุรกิจ ที่อาจยังไม่เข้าใจถึงระบบเอกสาร และงานทางด้านบัญชี รวมไปถึงเรียนรู้วิธีการใช้งาน FlowAccount ให้ได้ประสิทธิภาพสูงสุด เพื่อช่วยให้งานด้านเอกสารของท่านเป็นเรื่องที่ง่ายมากขึ้น  ตั้งแต่ขั้นตอนการเปิดเอกสาร รวมไปถึงการดูรายงานต่างๆ</span>
		<br/>
		<pg></pg><span>สำหรับเวิร์คช็อปประจำเดือนธันวาคม พบกับกูรูทางด้านภาษี คุณถนอม เกตุเอม บล็อกเกอร์เจ้าของบล็อก TaxBugNoms อันโด่งดัง ที่จะมาให้ความรู้ด้านการเตรียมพร้อมภาษีของผู้ประกอบการ เพื่อก้าวสู่ปี 2560 อย่างมั่นใจ</span>
		<br/>
	</div>
	<div class="sectiontab sectioncontent" style="margin-bottom: 50px;">
		<h2 style="margin-bottom: 0;">รายละเอียด Workshop ของเราคือ</h2>
		<span><span style="color:#2898CB">วันที่ :</span> อังคารที่ 20 ธันวาคม 2559</span><br/>
		<span><span style="color:#2898CB">เวลา :</span> 13:00 - 18:00 น. <span style="font-style: italic;">(เริ่มลงทะเบียนเวลา 12:30 - 13:00 น.)</span></span><br/>
		<span><span style="color:#2898CB">สถานที่ :</span> อาคาร Knowledge Exchange, BTS วงเวียนใหญ่ (ทางออก 4)</span><br/>
		<span><span style="color:#2898CB">บัตรราคา : </span><br/>
		<span>1,390 บาท พร้อม Premium Package ฟรี 1 ปี จำนวน 1 ที่นั่ง</span> <br/>
		<span>1,790 บาท พร้อม Premium Package ฟรี 1 ปี จำนวน 2 ที่นั่ง</span> <br/>
		<span>2,190 บาท พร้อม Premium Package ฟรี 1 ปี จำนวน 3 ที่นั่ง</span>
		</span><br/>
		<br/>
		<p><span>
			*สำหรับลูกค้า Premium Package สามารถสำรองที่นั่งราคา 400 บาทต่อที่นั่ง โดยใส่รหัส <span style="font-weight: bold;">FLOWDEC</span><br />
			**กรุณาสำรองที่นั่งด้วย อีเมล์ที่ใช้ในระบบ FlowAccount.com และกรุณานำคอมพิวเตอร์ส่วนตัวมาในวันเวิร์คช็อป</span>
		</p>
		<h2 style="margin-top: 35px;">ผู้เข้าอบรมจะได้เรียนรู้</h2>
		<i class="fl-circlecorrect" /> <span>พื้นฐานการทำบัญชีเบื้องต้นที่จำเป็นต่อการจัดการธุรกิจ</span><br/>
		<i class="fl-circlecorrect" /> <span>วิธีใช้เครื่องมือต่างๆ ของ FlowAccount ได้อย่างถูกต้อง และมีประสิทธิภาพ</span><br/>
		<i class="fl-circlecorrect" /> <span>สามารถวิเคราะห์สถานะของกิจการผ่าน Dashboard และรายงานต่าง ๆ เพื่อให้สามารถจัดการธุรกิจได้</span><br/>
		<i class="fl-circlecorrect" /> <span>เข้าใจภาพรวมของการทำงานกับสำนักงานบัญชี และข้อควรระวัง</span>
		<br/>
	</div>
		<div class="sectiontab text-center">
		<a target="_blank" href="javascript:void(0);" onclick="window.location = url;" class="btn btn-buy">
			<i class="fa fa-ticket"></i><span>ลงทะเบียน Workshop</span>
		</a>
		<div>
			<span class="text-green">หากพบปัญหา หรือมีข้อสงสัยในการซื้อบัตร ติดต่อ 081-359-7000</span>
		</div>
		<hr style="margin-top: 30px;margin-bottom: 35px;"/>
	</div>

	<div class="sectiontab sectioncontent">
		<h2 style="margin-bottom: 15px;">เนื้อหา Workshop</h2>
		<div style="margin-bottom: 15px;">
			<span class="text-blue text-head-small">การบริหารรายรับ และรายจ่าย</span> <br/>
			<span class="text-blue text-head-small">โดย คุณกฤษฎา ชุตินธร</span><br/>
		</div>
		<span class="text-head-small"><b>การบริหารรายรับ</b></span><br/>
		<ul>
			<li><span>การเปิดใบเสนอราคา,ใบวางบิล, ใบกำกับภาษี และใบเสร็จ</span></li>
			<li><span>การเช็คยอดขาย และยอดค้างรับของบริษัท</span></li>
			<li><span>การบริหารสต็อกสินค้าเบื้องต้น ด้วยใบสั่งซื้อ และใบรับสินค้า</span></li>
			<!-- <li><span>รู้จัก FlowAccount.com และทำความเข้าใจกับขั้นตอนการทำงาน</span></li>
              <li><span>การเปิดใบเสนอราคา</span></li>
              <li><span>วิธีการเปิดใบวางบิล และการเก็บเงินลูกค้า</span></li>
              <li><span>การเปิดใบกำกับภาษี และใบเสร็จ ที่ถูกต้อง</span></li>
              <li><span>การเช็คยอดขาย และบริหารยอดค้างรับของบริษัท</span></li>
              <li><span>การเปิดใบสั่งซื้อ และใบรับสินค้า</span></li>
              <li><span>ระบบการบริหารสต็อกสินค้าเบื้องต้น</span></li> -->
		</ul>
		<span class="text-head-small"><b>การบริหารรายจ่าย</b></span><br/>
		<ul>
			<li><span>การบันทึกค่าใช้จ่าย โดยแยกหมวดหมู่ผ่าน FlowAccount.com</span></li>
			<li><span>การออกใบหัก ณ ที่จ่าย</span></li>
			<li><span>การดูรายงานต่างๆ เพื่อทราบความเคลื่อนไหวของธุรกิจ เช่น รายงานยอดขาย ลูกค้า กำไร-ขาดทุน เป็นต้น</span></li>
			<!--   <li><span>เรียนรู้วิธีการสร้างหมวดหมู่ และการบันทึกค่าใช้จ่าย</span></li>
              <li><span>การออกใบหัก ณ ที่จ่าย</span></li>
              <li><span>รายงานต่างๆ เพื่อบริหารกิจการ เช่น รายงานยอดขาย ลูกค้า กำไร-ขาดทุน</span></li>
              <li><span>การเตรียมเอกสารเบื้องต้นเพื่อนำส่งสำนักงานบัญชี</span></li> -->
		</ul>
		<br/>

		<div style="margin-bottom: 15px;">
			<span class="text-blue text-head-small">ภาษีที่เจ้าของกิจการควรรู้</span> <br/>
			<span class="text-blue text-head-small">โดย คุณถนอม เกตุเอม (TaxBugnoms)</span><br/>
		</div>
		<ul>
			<li><span>ความรู้ความเข้าใจภาษีเบื้องต้นสำหรับธุรกิจ</span></li>
			<li><span>ประเภทของภาษีต่างๆ ภาษีเงินได้ ภาษีหัก ณ ที่จ่าย, ภาษีมูลค่าเพิ่ม</span></li>
			<li><span>การเตรียมพร้อมภาษีของผู้ประกอบธุรกิจขนาดเล็ก เพื่อก้าวสู่ปี 2560</span></li>
		</ul>
		<br/>

		<!--  <span class="text-blue text-head-small">ภาษีที่เจ้าของกิจการควรรู้</span> <br/>
            <span class="text-blue text-head-small">โดย คุณถนอม เกตุเอม (TaxBugnoms)</span><br/><br/>
            <ul>
              <li><span>ความรู้ความเข้าใจภาษีเบื้องต้นสำหรับธุรกิจ</span></li>
              <li><span>ประเภทของภาษีต่างๆ ภาษีเงินได้, ภาษีหัก ณ ที่จ่าย, ภาษีมูลค่าเพิ่ม</span></li>
            </ul> -->

		<p><span><b>ดาวน์โหลดกำหนดการ</b> : <a href="http://bit.ly/2gOvKGq" id="register-link-ads">http://bit.ly/2gOvKGq</a></span></p>


		<!--
            <span class="text-blue text-head-small">การทำการตลาดออนไลน์สำหรับธุรกิจที่เพิ่งเริ่มต้น</span> <br/>
            <span class="text-blue text-head-small">โดย คุณเดฟ มาโลตรา</span><br/><br/>
            <ul>
              <li><span>ความรู้ความเข้าใจเรื่องการขายและการประชาสัมพันธ์ออนไลน์</span></li>
              <li><span>เครื่องมือพืนฐานสำหรับการทำธุรกิจออนไลน์ เช่น SEO, Google Ads, Facebook Ads</span></li>
              <li><span>เทคนิคในการประชาสัมพันธ์ออนไลน์ เพิ่มยอดขายสูงสุดด้วยเงินจำกัด</span></li>
              <li><span>กรณีศึกษาการทำธุรกิจออนไลน์</span></li>
            </ul>

            <span class="text-blue text-head-small">ภาษีที่เจ้าของกิจการควรรู้</span> <br/>
            <span class="text-blue text-head-small">โดย คุณถนอม เกตุเอม (TaxBugnoms)</span><br/><br/>
            <ul>
              <li><span>ความรู้ความเข้าใจภาษีเบื้องต้นสำหรับธุรกิจ</span></li>
              <li><span>ภาษีเงินได้</span></li>
              <li><span>ภาษีหัก ณ ที่จ่าย</span></li>
              <li><span>ภาษีมูลค่าเพิ่ม</span></li>
            </ul>
    -->
		<hr style="margin-top: 40px;margin-bottom: 40px;"/>
	</div>

	<div class="sectiontab sectioncontent" style="margin-bottom: 30px;">
		<h2>ประวัติวิทยากร</h2>

		<div class="table">
			<div class="table-row">
				<div class="table-cell">
					<img src="images/seminar/img_webpage-seminar_speaker-Kridsada.png" />
				</div>
				<div class="seminar-cell">
					<span class="text-blue text-head-small">คุณกฤษฎา ชุตินธร</span> <br/>
					<ul style="padding-left: 25px;">
						<li><span>ผู้ร่วมก่อตั้ง บริษัท โฟลว์แอคเคาท์ จำกัด</span></li>
						<li><span>FlowAccount เป็นบริษัท Startup ไทย ที่ได้รับรางวัลชนะเลิศโครงการ AIS The Startup  จาก บริษัทแอดวานซ์ อินโฟร์ เซอร์วิส จำกัด (มหาชน) และรางวัลชนะเลิศ  Top 10 Echelon Asia Summit รวมถึงได้รับเงินลงทุนสนับสนุนจากนักลงทุน VC ทั้งไทยและต่างประเทศ</span></li>
					</ul>
				</div>
			</div>
			<div class="table-row" style="height: 10px;">
			</div>
			<div class="table-row">
				<div class="table-cell">
					<img src="images/seminar/img_webpage-seminar_speaker-Taxbugnoms.png" />
				</div>
				<div class="seminar-cell">
					<span class="text-blue text-head-small">คุณถนอม เกตุเอม</span> <br/>
					<ul style="padding-left: 25px;">
						<li><span>เจ้าของแฟนเพจ TAXBugnoms (แถก-บัก-หนอม) ที่มีผู้ติดตามกว่า 200,000 คน</span></li>
						<li><span>บล็อกเกอร์ วิทยากรและอาจารย์พิเศษ ด้านบัญชี ภาษี และการเงิน</span></li>
						<li><span>นักเขียน และ คอลัมน์นิสต์</span></li>
					</ul>
				</div>
			</div>
		</div>
		<hr/>
	</div>

	<div class="sectiontab sectioncontent" style="margin-bottom: 10px;">
		<div class="sectiontab" style="margin-bottom: 10px;">
			<h2 class="seminarheader">เวิร์คช็อป ราคา 1,390 บาท<br/> พร้อมรับ Premium Package ฟรี 1 ปี
			</h2>
		</div>
	</div>
	<!--     <div class="sectiontab detaildatetime">
        <div class="detail-cell"><i class="fa fa-calendar-o"></i><span>2 ตุลาคม 2559 เวลา 13.00 - 16.00 น.</span></div> 
        <div class="detail-cell"><i class="fa fa-map-marker"></i><span class="table-cell">NE8T Coworking Space, BTS ราชเทวี
        <a class="table-cell" href="https://www.google.co.th/maps/dir/''/ne8t/@13.7521622,100.4613501,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x30e29ecb641c9eff:0x57ddb4941054dce2!2m2!1d100.5313906!2d13.7521721" target="_blank">(View Map)</a></span></div>
    </div> -->
	<div class="sectiontab detaildatetime">
		<div class="detail-cell"><i class="fa fa-calendar-o"></i><span>20 ธันวาคม 2559</span></div>
		<div class="detail-cell"><i class="fa fa-clock-o"></i><span>13:00 - 18:00 น.</span></div>
		<div class="detail-cell"><i class="fa fa-map-marker"></i><span class="table-cell">อาคาร Knowledge Exchange, BTS วงเวียนใหญ่ (ทางออก 4)<br/>
			<a class="table-cell" style="font-size: 18px;font-weight: bold;" href="https://goo.gl/maps/Xn2FMc1uVVL2" target="_blank">(แผนที่)</a></span>
		<br />
		<br />
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15503.865869769168!2d100.498353!3d13.72048!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2511ae461733d57!2sThe+Knowledge+Exchange%3A+KX!5e0!3m2!1sth!2sth!4v1481171306769" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	</div>
	<div class="sectiontab text-center" style="margin-bottom: 40px;">
		<a target="_blank" href="javascript:void(0);" onclick="window.location = url;" class="btn btn-buy">
			<i class="fa fa-ticket"></i><span>ลงทะเบียน Workshop</span>
		</a>
		<div>
			<span class="text-green">หากพบปัญหา หรือมีข้อสงสัยในการซื้อบัตร ติดต่อ 081-359-7000</span>
		</div>
	</div>
	<div class="sectiontab sectioncontent text-center environment" style="margin-bottom: 30px;">
		<a target="_blank" href="javascript:void(0);" onclick="window.location = url;">
			<img class="img-responsive center-block" src="images/seminar/img_webpage-seminar_July.png" />
		</a> <br/>
		<span>ภาพบรรยากาศการสัมมนาครั้งที่ 8 วันที่ 14 กรกฎาคม 2559</span>
	</div>
</section>

<script>
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
var utm_source = getUrlParameter('utm_source');
var utm_medium = getUrlParameter('utm_medium');
var utm_campaign = getUrlParameter('utm_campaign');
var utm_content = getUrlParameter('utm_content');
var ref = getUrlParameter('ref');
var pc = getUrlParameter('pc');
if (utm_source === undefined) {
    utm_source = ""
}
if (utm_medium === undefined) {
    utm_medium = ""
}
if (utm_campaign === undefined) {
    utm_campaign = ""
}
if (utm_content === undefined) {
    utm_content = ""
}
if (ref === undefined) {
    ref = ""
}
if (pc === undefined) {
    pc = ""
}
var url = "http://event.flowaccount.com/workshop15/register?utm_source="+utm_source+"&utm_medium="+utm_medium+"&utm_campaign="+utm_campaign+"&utm_content="+utm_content+"&ref="+ref+"&pc="+pc;
$(document).on('click', '.elButton', function(e) {
     e.preventDefault(); 
     myContainer.load(url);
});
</script>