﻿<!-- facebook plugin-->
<!-- <div id="fb-root"></div> -->
<script>
    // (function (d, s, id) {
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //     if (d.getElementById(id)) return;
    //     js = d.createElement(s); js.id = id;
    //     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    //     fjs.parentNode.insertBefore(js, fjs);
    // }(document, 'script', 'facebook-jssdk'));


        
        //if (/iPad|iPhone/i.test(navigator.userAgent)) {
        //    var url = confirm("Would you like to download our mobile application?");
        //    if (url == true) {
        //        var url = window.location.href = 'https://itunes.apple.com/us/app/flowaccount/id993095869';
        //        url.show();
        //    }
        //    else {
        //    }
        //}
        //document.location = 'appCustomScheme://';
        //setTimeout(function () {
        //    if (confirm('Would you like to download our mobile application?')) {
        //        document.location = 'https://itunes.apple.com/us/app/flowaccount/id993095869';
        //    }
        //}, 300);
 
        $(document).ready(function(){

            loadVideos();

        });
</script>
<style type="text/css">
    .vdo{
        border: 1px solid #E9E9E9;
    }
    @media (min-width:1620px){
        .vdoReview .vdoReview-content{
            max-width: 1570px;
        }
    }
    @media (min-width:1300px) and (max-width: 1619px){
        .vdoReview .vdoReview-content{
            max-width: 1250px;
        }

    }
    @media (min-width:975px) and (max-width: 1299px){
        .vdoReview .vdoReview-content{
            max-width: 930px;
        }
    }
    @media (min-width:655px) and (max-width: 974px){
        .vdoReview .vdoReview-content{
            max-width: 610px;
        }
    }
    @media (max-width: 654px){
        .vdoReview .vdoReview-content{
            max-width: 280px;
        }
    }
</style>
<!-- end plugin-->
<!-- enjoy top-bar-->
<!--<season>
    <img class="img-responsive" src="images/ChineseNewyear.jpg" alt="Techsauce" style="height:100%;margin: 0 auto;">
</season>-->
<!-- LANDING PAGE -->
<section class="page-container container-fluid containerpadding" id="pagetop" data-spy="scroll" data-target=".navbar-scrollpy" style="overflow-x:hidden;">
    <section id="bfvideos"> &nbsp
    </section>

    <section id="features" class="container-fluid no-padding">

        <div class="container-fluid vdoReview text-center">
            <div>
                <h2 class="heading news" translate="{{'TutorialTitle'}}"></h2>
                <hr class="header_underline" style="border:0px;" />
            </div>
            <div class="vdoReview-content">

                <!-- <div class="row hidden-md hidden-sm hidden-xs"> -->
                <div class="row">

                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="vS8EdXO09zs" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                        <p class="name">แนะนำ FlowAccount.com</p>
                        <p class="detail">โปรแกรมบัญชี ออนไลน์ ที่ออกแบบเพื่อเจ้าของธุรกิจที่เพิ่งเริ่มต้น - FlowAccount</p>
                    </div>
                    <div class=" content-vdo">
                            <div class="youtube vdo"
                             id="z_NzaTewux8" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                             >
                        </div>
                      
                        <p class="name">แนะนำภาพรวมฟังก์ชั่นภายในระบบ</p>
                        <p class="detail">สอนวิธีการทำบัญชีแบบง่ายๆด้วยระบบ FlowAccount.com - แนะนำภาพรวมระบบบัญชี</p>
                    </div>

                        <div class="content-vdo">
                             <div class="youtube vdo" 
                             id="fm1n9PXvQ98" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                             >
                            </div>
                            <p class="name">วิธีสมัครและเริ่มใช้งาน</p>
                            <p class="detail">สอนวิธีการทำบัญชีแบบง่ายๆด้วยระบบ FlowAccount.com - สมัครเข้าใช้งาน</p>
                        </div>
                        <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="g6Q1Khg3Ynw" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div>                          
                            <p class="name">ใบส่งสินค้า/ใบกำกับภาษี</p>
                            <p class="detail">วิธีการเปิดใบส่งสินค้า/ใบกำกับภาษี - FlowAccount.com</p>
                        </div>
                        <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="HxwbpEibAgI" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                            <p class="name">ใบวางบิล/ใบแจ้งหนี้</p>
                            <p class="detail">วิธีการเปิดใบวางบิล/ใบแจ้งหนี้ - FlowAccount.com</p>
                        </div>
                        <div class="content-vdo">
                                <div class="youtube vdo" 
                                 id="FwBI8UITgFc" 
                                 data-params="modestbranding=1&showinfo=0&vq=hd720"
                                  >
                                </div> 
                            <p class="name">เปิดตัวฟังก์ชั่นใหม่ สำหรับการ Share Link </p>
                            <p class="detail">เปิดตัวฟังก์ชั่นใหม่ สำหรับการ Share Link เอกสาร - FlowAccount.com</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section id="video" class="container-fluid no-padding">

        <div class="container-fluid vdoReview text-center">
            <div>
                <h2 class="heading news" translate="{{'OtherVideo'}}"></h2>
                <hr class="header_underline" style="border:0px;" />
            </div>
            <div class="vdoReview-content">

                <div class="row">
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="gdJit15AcVQ" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                            onclick="gaTrackEvent('Video', 'View', 'Wongnai - ใช้ FlowAccount.com')"
                              >
                            </div> 
                        <p class="name">Ekaluck Viriyakovithya</p>
                        <p class="company">COO Wongnai Media Co., Ltd.</p>
                        <p class="detail">"ใช้งานง่าย และฟังก์ชั่นครบต่อการใช้งาน"</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="RLaTPEd9_Z8" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                             onclick="gaTrackEvent('Video', 'View', 'JOBNISIT - ใช้ FlowAccount.com')" 
                              >
                            </div> 
                        <p class="name">Jens Pold</p>
                        <p class="company">CEO & Co Founder JOBNISIT Co., Ltd.</p>
                        <p class="detail">"การทำบัญชีเคยเป็นเรื่องยุ่งยาก FlowAccount ทำให้บัญชีเป็นเรื่องง่าย ช่วยให้หายเครียดเรื่องการทำบัญชี"</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="tDOeOHPX3sQ" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                             onclick="gaTrackEvent('Video', 'View', 'TakeMeTour - ใช้ FlowAccount.com')"
                              >
                            </div> 
                        <p class="name">Taro Amornched</p>
                        <p class="company">CEO & Co Founder TakeMeTour Co., Ltd.</p>
                        <p class="detail">"เริ่มใช้งานมาตั้งแต่เริ่มต้น ช่วยให้ประหยัดเวลา และทำงานได้อย่างเป็นระบบ ทำให้ชีวิตง่ายขึ้น"</p>
                    </div>

                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="fBe-9Wc8r4Y" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                             onclick="gaTrackEvent('Video', 'View', 'Drivebot - ใช้ FlowAccount.com')"
                              >
                            </div> 
                        <p class="name">Natt Winitthumkul</p>
                        <p class="company">Co-founder Drivebot Co., Ltd.</p>
                        <p class="detail">"FlowAccount ช่วยให้การออกเอกสารถูกต้อง
                            <br/>และสามารถใช้งานได้จริง ช่วยทำให้ทุกๆอย่างง่ายขึ้น"</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="onTMKtXNZ7Q" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720&cc_load_policy=0"
                             onclick="gaTrackEvent('Video', 'View', 'LivingMobile - ใช้ FlowAccount.com')" 
                              >
                            </div> 
                        <p class="name">Thagoon Chartsutipol</p>
                        <p class="company">Founder & CEO Living Mobile Co., Ltd.</p>
                        <p class="detail">"ทำให้เราจัดการเรื่องการบัญชีได้อย่างสะดวกรวดเร็ว สามารถทำงานได้ทุกที่ทุกเวลา"</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="WS8NdkjxvPw" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                             onclick="gaTrackEvent('Video', 'View', 'HUBBA - ใช้ FlowAccount.com')" 
                              >
                            </div> 
                        <p class="name">Amrit Charoenphan</p>
                        <p class="company">Co Founder / CEO - HUBBA</p>
                        <p class="detail">"โปรแกรมบัญชีที่ดีที่สุดในประเทศไทย"</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="VUTtaIc77TI" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                        <p class="name">Oravee Smithiphol</p>
                        <p class="company">Content Specialist / Freelance Writer</p>
                        <p class="detail">"FlowAccount ช่วยให้การออกเอกสารถูกต้อง"</p>
                    </div>

                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="NY9P6H8xBw4" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                        <p class="name">อารยา บุญขจาย</p>
                        <p class="company">Senoir Account Executive - ShopSpot</p>
                        <p class="detail">"ทำให้เราจัดการเรื่องการบัญชีได้ง่ายขึ้น"</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="jWEGXr81zT4" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                        <p class="name">ประสบการณ์จากลูกค้าที่ใช้จริง</p>
                        <p class="detail">โปรแกรมบัญชีออนไลน์อันดับ 1 ที่มี Startup ไทยใช้งานมากที่สุด - FlowAccount.com</p>
                        <p class="company">&nbsp</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="K8b_nilRDco" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                        <p class="name">ภาพรวมภายในงาน Startup Thailand 2016</p>
                        <p class="detail">FlowAccount Startup Thailand 2016</p>
                        <p class="company">&nbsp</p>
                    </div>
                    <div class="content-vdo">
                            <div class="youtube vdo" 
                             id="GYpT4n0HXCs" 
                             data-params="modestbranding=1&showinfo=0&vq=hd720"
                              >
                            </div> 
                        <!-- <ut translate="{{'VideoContent1'}}"></ut> -->
                        <p class="name">ทำให้บัญชีเป็นเรื่องง่าย</p>
                        <p class="detail" translate="VideosIntroTitle1"></p>
                        <p class="company">&nbsp</p>
                    </div>
            </div>
            <!-- end lg -->



        </div>
    </section>
</section>
<div class="back-to-top">
    <a href="#pagetop" class="button-top hidden"></a>
</div>

<script>
        var _featuresSection = $('section#features').offset().top - $('.navbar').height();
        var scrollTimeout = null;
        $(document).ready(function () {
            var visible = 0;
            var offset = _featuresSection;
            var duration = 250;
            $(document).scroll(function () {
                //console.log(_featuresSection);
                //console.log($(this).scrollTop());
                clearTimeout(scrollTimeout);
                scrollTimeout = setTimeout(function(){
                    if ($(this).scrollTop() >= offset) {
                        if (visible == 0) {
                            $('.back-to-top').slideDown(duration);
                            visible = 1;
                        }
                    }

                    else {
                        visible = 0;
                        $('.back-to-top').slideUp(duration);
                    }

                    if ($(window).scrollTop() + window.innerHeight > ($(document).height() - 50)) {

                        $('.back-to-top').addClass('btn-go-to-top');
                    }
                    else
                    {
                        $('.back-to-top').removeClass('btn-go-to-top');
                    }
                },250);

            });

            $('.back-to-top').click(function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, duration);
                return false;
            })
        });

</script>
<script>
        /* Replace 'APP_ID' with your app ID */
        //window.intercomSettings = {
        //    app_id: 'v8m0o18j'
        //};
        /* Replace 'APP_ID' with your app ID */
        //(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/v8m0o18j'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
</script>