<script>
    $(document).ready(function() {


    });
</script>
<style type="text/css">
    body {
        line-height: 23px;
    }
    
    .header_underline {
        max-width: 300px;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .container-video .heading .name {
        line-height: 1.42857143;
    }
    
    .container-video ul li,
    .container-video ol li {
        margin-left: 35px;
    }
    
    .container-video .vdo {
        height: 100%;
        width: 100%;
        background-size: cover
    }
    
    .container-video i.fa-step-forward,
    .container-video i.fa-step-backward {
        vertical-align: text-bottom;
        color: #2898CB;
        font-size: 15px;
        text-decoration: none !important;
    }
    
    .container-video .video-menu {
        max-width: 640px;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        display: table;
        width: 100%;
    }
    
    .container-video .video-menu a:first-child {
        text-align: left;
        display: table-cell;
        width: 25%;
    }
    
    .container-video .video-menu a:not(:first-child):not(:last-child) {
        display: table-cell;
        text-align: center;
    }
    
    .container-video .video-menu a:last-child {
        text-align: right;
        display: table-cell;
        width: 25%;
    }
    
    .container-video .vdoReview {
        margin-top: 64px;
    }
    
    .container-video .vdoReview .name {
        height: initial;
        max-width: initial;
        min-width: initial;
        font-size: 30px;
    }
    
    .container-video .vdoReview .all-detail {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    
    .container-video .vdoReview .detail {
        text-indent: 30px;
        max-width: 800px;
        min-width: 220px;
        text-align: justify;
        min-height: 0;
        margin-bottom: 10px;
    }
    
    .container-video .video-list .vdo-content {
        width: 300px;
        margin: 0 auto;
        padding-bottom: 56.25% !important;
    }
    
    .container-video .video-list .name {
        font-size: 16px;
    }
    
    .container-video .video-list .detail {
        text-indent: inherit;
        text-align: inherit;
        /* min-height: 0; */
    }
    
    .vdo {
        border: 1px solid #E9E9E9 !important;
    }
    
    .container-video .video-menu span.menu-text {
        color: #2898CB;
    }
    
    .container-video .video-menu span.menu-text.left {
        padding-left: 2px;
    }
    
    .container-video .video-menu span.menu-text.right {
        padding-right: 2px;
    }
    
    @media all and (max-width: 675px) {
        .container-video .video-menu span.menu-text.right,
        .container-video .video-menu span.menu-text.left {
            display: none;
        }
        .container-video .video-menu {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    
    @media all and ( min-width: 690px) {
        .container-video .vdo-content {
            max-width: 640px;
            padding-bottom: 360px !important;
            margin: 0 auto;
        }
    }
</style>
<section class="page-container container-fluid containerpadding" id="pagetop" data-spy="scroll" data-target=".navbar-scrollpy"
    style="overflow-x:hidden;">
    <section id="bfvideos"> &nbsp
    </section>
    <section id="features" class="container-fluid no-padding">
        <div class="container-fluid container-video text-center">
            <div ng-if="videoId == 'vS8EdXO09zs'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น</p>
                            <p class="name">ด้วยระบบบัญชี ออนไลน์ FlowAccount.com – แนะนำระบบโดยรวม</p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="vS8EdXO09zs" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/sitTtVtCRV0">
                                        <span class="menu-text right">แนะนำ APP บัญชี</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        FlowAccount เป็นระบบบัญชีใช้งานง่าย ๆ สำหรับธุรกิจที่เพิ่งเริ่มต้น เราช่วยทำให้งานเอกสารที่สุดแสนจะยุ่งยากของเจ้าของกิจการขนาดเล็กทุกคน
                                        เป็นเรื่องที่ง่ายขึ้น ช่วยประหยัดเวลา และทำให้ท่านสามารถทำงานได้ทุกที่ทุกเวลา เพราะระบบเราเป็นระบบ
                                        webbase สามารถใช้ได้ผ่านคอมพิวเตอร์ทุกเครื่องที่มีอินเตอร์เน็ต และยังสามารถใช้ผ่านสมาร์ทโฟนได้เช่นกัน</p>
                                    <p class="detail">
                                        เรามาดูกันก่อนว่า FlowAccount สามารถช่วยธุรกิจของคุณอย่างไรได้บ้าง เพียงแค่สมัครสมาชิก และล็อคอินเข้าสู่ระบบก็จะสามารถเข้าสู่ฟังก์ชั่นหลัก
                                        ๆ ในการประกอบกิจการได้ทันที ทั้งในส่วนของรายรับ ไม่ว่าจะเป็น การเปิดใบเสนอราคา การเปิดใบวางบิล
                                        ใบแจ้งหนี้ ใบกำกับภาษี ใบเสร็จรับเงิน รวมไปจนถึงการเปิดใบสั่งซื้อ และการบริหารสต็อกสินค้าด้วยเช่นกัน
                                        ในส่วนของรายจ่ายนั้นระบบของเราก็สามารถจดรายจ่ายได้ โดยใช้ตัวเว็บไซต์ของเรา หรือว่าหยิบโทรศัพท์มือถือขึ้นมา
                                        ถ่ายรูปภาพบิลใบเสร็จ และใส่ข้อมูลของบิลนั้น อัพโหลดขึ้น Cloud ได้ทันที เพียงเท่านี้คุณก็จะมีรายรับ
                                        รายจ่าย สามารถช่วยได้การประกอบกิจการได้ทันที
                                    </p>
                                    <p class="detail">
                                        หน้าภาพรวม เมื่อเราเข้ามาในหน้านี้ เราก็จะเห็นภาพรวมของกิจการของเรา ทำให้เราสามารถเห็นได้ว่า เรามียอดค้างรับเท่าไหร่ มียอดค้างจ่ายเท่าไหร่
                                        และรายได้ของแต่ละเดือนเป็นอย่างไรบ้าง ข้อมูลง่าย ๆ เหล่านี้ เป็นข้อมูลจำเป็นที่จะช่วยให้สามารถประกอบกิจการได้ง่ายขึ้น
                                        สามารถตัดสินใจได้ดีขึ้น และสามารถทำให้ประกอบธุรกิจได้มั่นคงขึ้น</p>
                                    <p class="detail">
                                        ระบบของเรายังมีกฟังก์ชั่นการเปิดใบหัก ณ ที่จ่าย เมื่อเวลาที่เราจ่ายออกไป เราก็จะมีข้อมูลเก็บไว้บน Cloud สามารถเข้ามาดูย้อนหลังได้
                                        ทำให้สะดวกสบายในการบริหารมากขึ้น
                                    </p>
                                    <p class="detail">
                                        เมื่อเราจดรายรับ และรายจ่ายแล้ว เราก็มีรายงานสรุปต่างๆโดย FlowAccount เองมีรายงานทั้งหมด 14 รายงาน ช่วยให้คุณดูรายงานยอดขาย
                                        ย้อนหลังปีที่แล้ว สามเดือนที่แล้ว หรือว่า 20 วันที่แล้วได้ ช่วยเตรียมรายงานภาษีขาย
                                        และภาษีหัก ณ ที่จ่าย ทั้งภงด.3 และภงด. 53 รวมถึงรายงานจากลูกค้า หรือ เราสามารถเข้ามาดูได้ว่า
                                        ปีที่แล้วลูกค้าคนไหนสั่งซื้อสินค้าจากเรามากที่สุด รวมไปถึงยังมีรายงานเกี่ยวกับสินค้า
                                        รายงานเกี่ยวกับใบเสนอราคา ค่าใช้จ่าย และยอดขายตามตัวพนักงาน เพื่อคำนวณคอมมิชชั่นของพนักงานอีกด้วย
                                    </p>
                                    <p class="detail">
                                        ในหมวดหมู่ของสินค้า FlowAccount มีระบบการบริหารสต็อกสินค้าอัตโนมัติ ซึ่งจะช่วยในการบริหาร เมื่อสั่งซื้อสินค้าเข้ามา และเปิดใบรับสินค้าของจะเข้าสต๊อกอัตโนมัติ
                                        และตัดออกเมื่อมีการขายสินค้าออกไป
                                    </p>
                                    <p class="detail">
                                        สำหรับสมุดรายชื่อ เราสามารถใส่รายชื่อข้อมูลลูกค้าที่เราเคยขายไปก่อนหน้านี้ หรือว่าสร้างล่วงหน้าก็ได้ เพื่อความสะดวกสบายในการสร้างเอกสารการซื้อ/ขายต่าง
                                        ๆ
                                    </p>
                                    <p class="detail">
                                        รวมถึงทางทีมงาน FlowAccount ยังให้ความสำคัญกับข้อมูลของลูกค้าเป็นอย่างสูง เรามีการเข้ารหัสเว็บไซต์ และการใช้ server ที่มีมาตรฐานสากลของ
                                        amazon web service รวมถึงไม่มีนโยบายการเปิดเผยข้อมูลการเงินของลูกค้าให้กับบุคคลที่สามทราบ
                                        โดยไม่ได้รับอนุญาต
                                    </p>
                                    <p class="detail">
                                        สนใจสมัครใช้งาน สามารถสมัครได้ที่ www.FlowAccount.com หรือหากท่านใดใช้สมาร์ทโฟ สามารถ ค้นหาแอพ FlowAccount ได้จาก Appstore
                                        และ Google Play Store
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'sitTtVtCRV0'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น</p>
                            <p class="name">ด้วยระบบบัญชี ออนไลน์ FlowAccount.com – แนะนำ APP บัญชี</p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="sitTtVtCRV0" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/vS8EdXO09zs">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">แนะนำระบบโดยรวม</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/fm1n9PXvQ98">
                                        <span class="menu-text right">ตอนที่ 1</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        ตอนนี้เราจะมาแนะนำแอพโทรศัพท์มือถือ ของ FlowAccount ซึ่งสามารถใช้ได้บนระบบ iOS และ Android โดย สามารถดาวน์โหลดได้ฟรีบน AppStore
                                        และ Google Play Store เพียงแค่ค้นหาคำว่า FlowAccount ก็สามารถดาวน์โหลดได้ทันที ลูกค้าที่ใช้ระบบ
                                        FlowAccount ผ่านหน้าเว็บไซต์สามารถใช้ username และ password เดิม ล็อกอินผ่านโทรศัพท์มือถือได้เลย
                                    </p>
                                    <p class="detail">
                                        เมื่อเราล็อกอินเข้ามาสู่หน้าหลักของโทรศัพท์มือถือของเราแล้ว จะแสดงหน้าภาพรวม ซึ่งจะแสดงกราฟรายได้ที่ผ่านมา สามารถดูได้ตามเดือน
                                        ตามปีที่ผ่านมาว่าในแต่ละเดือนมียอดรายได้เท่าไหร่ มียอดที่เก็บได้แล้วเท่าไหร่ และมียอดที่ค้างไว้เท่าไหร่
                                        และจะมีปุ่มสร้างเอกสาร และปุ่มสร้างค่าใช้จ่ายอยู่ด้านล่าง
                                    </p>
                                    <p class="detail">
                                        เมนูหลัก ๆ จะอยู่ด้านซ้ายมือ ซึ่งจะมีเมนูที่เกี่ยวภาพรวม ใบเสนอราคา ใบแจ้งหนี้ ใบวางบิล ใบส่งสินค้า ใบกำกับภาษี ใบรับสินค้า
                                        ใบสั่งซื้อสินค้า รวมถึงการบันทึกรายจ่ายด้วยการถ่ายรูป
                                    </p>
                                    <p class="detail">
                                        แอพโทรศัพท์มือถือ สามารถทำฟังก์ชั่นเบื้องต้นของระบบ FlowAccount ได้ และฟังก์ชั่นอื่น ๆ ขอแนะนำให้ใช้ผ่านหน้าเว็บไซต์ของเรา
                                        ทั้งแอพโทรศัพท์มือถือ และเว็บไซต์จะเข้าถึงฐานข้อมูลแบบเรียลไทม์ ซึ่งจะทำให้เราสามารถอัพเดทการทำงานได้ตลอดเวลา
                                    </p>
                                    <p class="detail">
                                        การสร้างใบเสนอราคาผ่านโทรศัพท์มือถือ
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul style="list-style-type: decimal;">
                                            <li>กดที่เมนู “ใบเสนอราคา”</li>
                                            <li>กดปุ่ม “+” ที่อยู่ด้านบน</li>
                                            <li>เลือก “ผู้ติดต่อ” หรือหากยังไม่มีก็สามารถสร้างชื่อผู้ติดต่อได้จากหน้านี้ทันที</li>
                                            <li>เลือก “สินค้า” จากรายการสินค้าที่เคยสร้างไว้ หรือหากยังไม่มีก็สามารถสร้างรายการสินค้าใหม่ได้ทันที</li>
                                            <li>ในส่วนยอดรวมท้ายเอกสาร ระบบก็จะคำนวณให้ตาม Setting ของบริษัทเรา หากบริษัทเราจดทะเบียนภาษีมูลค่าเพิ่มแล้ว
                                                ก็จะคำนวณภาษีออกมาให้ทันที
                                            </li>
                                            <li>เมื่อเลือกเรียบร้อยแล้วก็กดเครื่องหมาย ✓ เท่านี้ก็เซฟเข้าระบบได้เลย</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        หลังจากที่สร้างใบเสนอราคาเรียบร้อยแล้ว เราสามารถเปลี่ยนสถานะเพื่อแสดงให้เห็นว่า ใบเสนอราคานี้อนุมัติเรียบร้อย เพียงแค่สไลด์ไปทางซ้าย
                                        และกดที่สถานะ และเลือก “อนุมัติ” เหมือนกับที่เราใช้บนเว็บไซต์ และหลังจากนั้นเราสามารถอัพเกรดใบเสนอราคาเป็นใบกำกับภาษี
                                        และเมล์ไปเก็บเงินลูกค้าได้ทันที เช่นเดียวกับการใช้งานบนเว็บไซต์ โดยสไลด์ เลือกสถานะ
                                        และคำสั่ง “เปิดใบกำกับภาษี” ระบบก็จะดึงข้อมูลทั้งหมดมาให้อัตโนมัติ จากนั้นเราก็สามารถกดเซฟเอกสารได้ทันที
                                    </p>
                                    <p class="detail">
                                        หลังจากที่เราเปิดใบกำกับภาษีและใบเสนอราคาเรียบร้อย เราก็สามารถเลือกเพื่อพรีวิวเอกสารของเราว่า ถูกต้องหรือไม่ รวมถึงดาวน์โหลดเก็บไว้
                                        หรือจะส่งอีเมล์หาลูกค้าก็สามารถทำได้ทันที
                                    </p>
                                    <p class="detail">
                                        และอีกฟังก์ชั่นหนึ่งที่สำคัญ และมีประโยชน์มาก ๆ สำหรับแอพของเราก็คือการบันทึกค่าใช้จ่ายด้วยรูปภาพ โดยเข้าฟังก์ชั่นถ่ายรูปของแอพ
                                        FlowAccount และกดถ่ายรูปเพื่อถ่ายบิลค่าใช้จ่ายได้ทันที หรือเลือกภาพบิลค่าใช้จ่ายที่เคยถ่ายไว้
                                        จากนั้นสามารถพิมพ์รายละเอียดได้ทันที เช่น คอมพิวเตอร์ ราคา 21,000 บาท เลือก Category
                                        และกดอัพโหลด เพียงเท่านี้ข้อมูลนี้ก็จะไปอยู่ในฐานข้อมูลในบัญชีของเรา ทำให้เราสามรถลงค่าใช้จ่าย
                                        ณ ตอนที่เราจ่ายเงินจริง ๆ ทำให้ประหยัดเวลา และสะดวกสบายเป็นอย่างมาก
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'fm1n9PXvQ98'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 1)</p>
                            <p class="name">เริ่มสมัครใช้งาน โปรแกรมบัญชีออนไลน์ FlowAccount.com</p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="fm1n9PXvQ98" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/sitTtVtCRV0">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">แนะนำ APP บัญชี</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/z_NzaTewux8">
                                        <span class="menu-text right">ตอนที่ 2</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        FlowAccount ระบบบัญชีออนไลน์ที่ใช้งานง่าย เหมาะสำหรับธุรกิจที่เพิ่งเริ่มต้น ระบบ FlowAccount ช่วยให้การทำเอกสารเป็นเรื่องง่าย
                                        การเปิดในเสนอราคา ใบกำกับภาษี ใบวางบิล ใบเสร็จรับเงิน ทั้งหมดนี้เป็นการบันทึกรายได้ผ่านระบบของเราตามขั้นตอน
                                    </p>
                                    <p class="detail">
                                        อย่างที่สองเราช่วยบันทึกรายจ่าย การบันทึกรายจ่ายเพียงหยิบโทรศัพท์มือถือขึ้นมา ถ่ายรูปใบเสร็จ ก็สามารถอัพโหลดขึ้นคลาวด์ได้ทันที
                                        เท่านี้เราก็จะมีทั้งรายรับ รายจ่าย สิ้นเดือนเราก็จะรู้แล้วว่าเรามีงบกำไรขายทุนมากน้อยแค่ไหน
                                        เท่านี้เองเราก็สามารถนำข้อมูลต่าง ๆ ไปประกอบการตัดสินใจได้ง่ายยิ่งขึ้น
                                    </p>
                                    <p class="detail">
                                        เรามาดูกันว่าขั้นตอนการสมัครต้องทำอย่างไร และฟังก์ชั่นหลัก ๆ ในการใช้งานมีอะไรบ้าง ทำไมต้องใช้ และ FlowAccount สามารถช่วยให้การทำงานง่ายขึ้นอย่างไรบ้าง
                                    </p>
                                    <p class="detail">
                                        เริ่มต้นการสมัคร
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul style="list-style-type: decimal;">
                                            <li>เข้ามาที่เว็บไซต์ www.FlowAccount.com</li>
                                            <li>คลิกปุ่มสีเขียว “สมัครใช้งาน ฟรี” โดยระบบของเราแบ่งออกเป็น 2 แบบ คือ แบบเบสิค(ฟรี)
                                                และแบบพรีเมี่ยม แบบเบสิคจะสามารถใช้งานฟรีได้ สามารถใช้งานในส่วน การเปิดเอกสารซื้อขาย
                                                ส่วนระบบพรีเมี่ยมจะสามารถช่วยในการบันทึกรายจ่าย ทำใบหัก ณ ที่จ่าย รวมถึงดูรายงานต่าง
                                                ๆ ได้ และ ระบบบริหารสต็อคสินค้าได้ด้วยเช่นกัน เพราะฉะนั้นการสมัครใช้งานไม่ต้องใช้บัตรเครดิต
                                                ก็สามารถเริ่มต้นใช้งานได้ทันที และสามารถใช้ระบบพรีเมี่ยมของเราได้ทันที ฟรี
                                                30 วัน</li>
                                            <li>ใส่อีเมล์ รหัสผ่าน และหมายเลขโทรศัพท์มือถือ จากนั้นติ๊กถูกที่ Terms of Agreement
                                                เพื่อให้เรามั่นใจว่า เป็นการทำธุรกิจแบบตรงไปตรงมา หรือทำการสมัครผ่าน Fackbook
                                                หรือ Gmail ระบบของเราให้ความสำคัญกับข้อมูลของลูกค้าเป็นอย่างสูง นโยบายของ
                                                FlowAccount คือ จะไม่นำข้อมูลของลูกค้าไปเปิดเผยให้บุคคลที่ 3 ทราบ โดยไม่ได้รับอนุญาต
                                                ข้อมูลของลูกค้าจะอยู่บนระบบคลาวด์ซึ่งได้รับมาตรฐานสูง ของ AWS (Amazon web
                                                serive) ซึ่งตัวนี้เองมีความเสถียร และสามารถทำให้ลูกค้าทุกคนสามารถใช้งานได้ทุกที่ทุกเวลาจริง
                                                ๆ
                                            </li>
                                            <li>เมื่อสมัครเข้าใช้งาน จะพบกับหน้าตั้งค่าบริษัท ซึ่งเราต้องเก็บข้อมูลของท่านในส่วนนี้
                                                เพื่อเป็นข้อมูลมูลที่จำเป็ยในการเปิดเอกสารต่าง ๆ เช่นชื่อบริษัท ที่อยู่ และเลขประจำตัวผู้เสียภาษีของบริษัท</li>
                                            <li>เลือกว่าเราทำธุรกิจประเภทไหน โดยหลัก ๆ แล้วธุรกิจในบ้านเราจะมีหลายแบบ มีทั้ง
                                                หจก. ทะเบียนพานิชย์ บริษัทจำกัด ทั้งแบบจด VAT และไม่จด VAT รวมไปถึงการทำธุรกิจแบบฟรีแลนซ์ด้วย
                                                จริง ๆ ระบบ FlowAccount รองรับทุกรูปแบบ ในที่นี้เรามีให้เลือก 3 แบบหลัก เป็น
                                                บริษัท ห้างหุ้นส่วน หรือบุคคลธรรมดา แล้วจึงมาดูว่าได้จดVAT หรือเปล่า เพราะฉะนั้นถ้าคุณเป็นนิติบุคคลที่จดภาษีมูลค่าเพิ่มแล้วให้เลือกข้อหนึ่ง
                                                คือ บริษัท/หจก – จดภาษีมูลค่าเพิ่มแล้ว เมื่อเราเลือกตรงนี้แล้ว เอกสารต่างๆจะมีการคำนวณภาษีมูลค่าเพิ่มให้อัตโนมัติ
                                                ถ้าเราเลือกเป็นฟรีแลนซ์หัวเอกสารที่เขียนว่าใบกำกับภาษี และไม่มีการคำนวณภาษีมูลค่าเพิ่มให้
                                                ส่วนชื่อบริษัทก็กรอกได้เลย จากนั้นกดปุ่ม ”ถัดไป”</li>
                                            <li>ใส่ที่อยู่บริษัท การเป็นนิติบุคคลการกรอกเอกสาร การใส่ข้อมูลให้ถูกต้องเป็นสิ่งที่สำคัญ
                                                เพราะว่า เวลาที่เราออกเอกสารต่างๆให้กับลูกค้า หากข้อมูลไม่ถูกต้องชัดเจจนฝ่ายบัญชีของคู่ค้าจะส่งกลับมา
                                                เพราะว่าหาเลขภาษี หาที่อยู่ที่ชัดเจน ไม่ได้ อันนี้จึงเป็นสิ่งที่สำคัญที่ต้องมี
                                                โดยที่ข้อมูลให้กรอกตามเอกสารที่เราจดทะเบียนนิติบุคคล ถ้าเป็นบุคคลธรรมดาก็แนะนำให้กรอกตามที่อยู่บนบัตรประชาชน
                                                เพราะเวลาหัก ณ ที่จ่าย จะหักไปตามที่อยู่ของบัตรประชาชน</li>
                                            <li>กรอกเลขประจำตัวผู้เสียภาษี หากเป็นฟรีแลนซ์ หรือบุคคลธรรมดาก็สามารถกรอกเลขประจำตัวบัตรประชาชนของท่าน</li>
                                            <li>เสำนักงานสาขา หากไม่มีสาขา ส่วนใหญ่จะเป็นสำนักงานใหญ่ แล้วกด “ถัดไป”</li>
                                            <li>เราสามารถแนบโลโก้ได้ โดยโลโก้ตัวนี้จะไปอยู่บนหัวของเอกสารตอนที่เราปริ้นท์ออกมา
                                                จากนั้นกด “ถัดไป”</li>
                                            <li>เลือกประเภทสินค้า มีประเภท ซื้อ-ขายสินค้า คือ ซื้อมาขายไป ธุรกิจการให้บริการ
                                                เช่น ช่างภาพ หรือ ศิลปิน หรือทำธุรกิจทั้ง 2 ประเภท</li>
                                            <li>เพียงเท่านี้เราก็สามารถเริ่มต้นใช้งานได้ทันที เรามากด “เริ่มทำงาน
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        หน้าแรกเราจะเห็นว่ามีไอคอนหลักอยู่ 8 ปุ่ม ซึ่งเป็นฟังก์ชั่นหลักที่จำเป็นต่อการทำธุรกิจขนาดเล็ก เรานำข้อมูลทั้งหมดมาอยู่บนคลาวด์เพื่อที่จะสามารถสร้างเอกสารได้อย่างเป็นระบบ
                                        และมีเอกสารทั้งหมดเก็บไว้เป็นสต็อกก๊อปปี้บนระบบคลาวด์ของเรา ไม่ว่าจะอยู่ที่ไหน หรือว่ามีโทรศัพท์มือถือก็สามารถเข้าสู่ระบบได้ทันที
                                    </p>
                                    <p class="detail">
                                        และถ้าต้องการเปลี่ยนเมนูต่างๆ เป็นภาษาอังกฤษ ด้านบนของหน้าจอจะมีรูปธงชาติ เพียงกดที่ธงชาติระบบทั้งหมดก็จะเปลี่ยนเป็นภาษาอังกฤษ
                                        ระบบเอกสารทั้งหมดที่ปรินท์ออกมาจะเป็นภาษาอังกฤษทั้งหมดด้วยเช่นกัน ถ้าเปลี่ยนเป็นภาษาไทย
                                        เอกสารทั้งหมดก็จะกลายเป็นภาษาไทย ระบบของเราจะเป็นแบบ Bilingual แต่ทำมาเพื่อคนไทยโดยเฉพาะ
                                        ซึ่งเราอาจจะต้องทำงานกับบริษัทต่างชาติที่ต้องการเอกสารเป็นภาษาอังกฤษ เราก็กดปุ่มธงชาติเป็นภาษาอังกฤษ
                                        เราก็สามารถสร้างเอกสาร โดยที่ไม่ต้องกรอกข้อมูลใหม่ เมื่อปริ้นท์ออกมารายละเอียดต่าง
                                        ๆ ก็จะเป็นภาษาอังกฤษได้ทันที
                                    </p>
                                    <p class="detail">
                                        ส่วนใครที่สนใจอัพเกรดเป็นพรีเมี่ยมก็สามารถกดที่ “สมัครพรีเมี่ยม” ที่อยู่ด้านข้างธงชาติได้เลย แต่ก็ยังไม่จำเป็นต้องรีบอัพเกรด
                                        เพราะระบบของเรามอบสิทธิพิเศษให้กับลูกค้าได้ทดลองใช้พรีเมี่ยมแพคเกจฟรี 30 วัน ถ้าชื่นชอบระบบของเราก็สามารถอัพเกรดได้
                                        เพียงปีละ 990 บาท หรือเพียงเดือนละ 83 บาท ถูกกว่ากาแฟ 1 แก้วด้วยซ้ำไป
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'z_NzaTewux8'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 2)</p>
                            <p class="name">ด้วยโปรแกรมบัญชีออนไลน์ FlowAccount.com</p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="z_NzaTewux8" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/fm1n9PXvQ98">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 1</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/zYIlI7s9Xew">
                                        <span class="menu-text right">ตอนที่ 3</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        ตอนนี้เรามาดูกันว่า FlowAccount สามารถช่วยทำอะไรได้บ้าง เริ่มต้นเมื่อเข้ามาในหน้าหลักของเราจะเห็นว่ามีไอคอนหลักอยู่ 8 ปุ่ม
                                        โดย 8 ปุ่มนี้คือฟังก์ชั่นหลัก สำหรับการทำธุรกิจขนาดเล็ก เริ่มต้นด้วยการทำใบเสนอราคา
                                        ซึ่งเราสามารถทำส่งให้ลูกค้า เมื่อลูกค้าอนุมัติใบเสนอราคาแล้ว ก็สามารถเปลี่ยนแปลงสถานะของเอกสารได้ทันที
                                    </p>
                                    <p class="detail">
                                        หลังจากใบเสนอราคาอนุมัติ เราสามารถใช้ฟังก์ชั่นส่วนที่ 2 คือการวางบิล หลังจากวางบิลแล้ว เราสามารถทำฟังก์ชั่นส่วนที่ 3 คือส่งใบกำกับภาษี
                                        และเก็บเงินพร้อมกับใบเสร็จรับเงิน สามส่วนนี้จะเป็นฟังก์ชั่นเกี่ยวกับการขาย
                                    </p>
                                    <p class="detail">
                                        หากเราต้องการสั่งซื้อสินค้าเพื่อมาขายต่อก็สามารถเปิดใบสั่งซื้อ และเมื่อสินค้ามาถึงก็จะสามารถเปิดใบรับสินค้าสำหรับนำสินค้าเข้าสต็อกได้ทันที
                                        กรณีที่บริษัทเราไม่ได้ทำสต็อกก็ไม่จำเป็นต้องใช้ใบรับสินค้าก็ได้
                                    </p>
                                    <p class="detail">
                                        หลังจากนั้นจะเป็นการบันทึกรายจ่าย ซึ่งอยู่ตรงด้านล่างซ้าย วิธีบันทึกรายจ่ายของเราทำให้ง่าย สามารถลงได้จากทั้งโทรศัพท์มือถือ
                                        และคอมพิวเตอร์จากเว็บเบราว์เซอร์ เราเอาทั้งหมดให้มาอยู่บนระบบคลาวด์ และเอกสารทั้งหมดจะเก็บเป็นสต๊อกก๊อปปี้บนระบบคลาวด์อยู่ที่ไหน
                                        หรือว่ามีโทรศัพท์มือถือก็สามารถเข้าถึงเข้ามูลของเราได้ทันที
                                    </p>
                                    <p class="detail">
                                        ใบหัก ณ ที่จ่าย หลายครั้งเราต้องจ่ายเงินให้กับฟรีแลนซ์ กฎหมายจะบอกว่าเมื่อไหร่ที่เราซื้อบริการ เราต้องทำใบหัก ณ ที่จ่ายเมื่อนั้น
                                        เมื่อเวลาผ่านไป บางทีคนที่เราจ้าง เขาก็จะโทรมาหาเราเพื่อขอใบหัก ณ ที่จ่ายในการไปยื่นภาษี
                                        บางทีเอกสารไม่ได้อยู่กับตัวเรา เราต้องโทรไปหาสำนักงานบัญชีเพื่แทำการค้นหาให้ การที่ระบบ
                                        FlowAccount มีฟังก์ชั่นใบหัก ณ ที่จ่าย ทำให้ใบหัก ณ ที่จ่ายทั้งหมดของเราที่เคยเปิดมาในรอบปีที่ผ่านมามีบันทึกไว้
                                        และสามารถนำกลับไปดูย้อนหลังของเก่าได้ และอีกส่วนที่สำคัญของใบหัก ณ ที่จ่าย คือทุกวันที่
                                        7 ของเดือน เราต้องนำตัวใบหัก ณ ที่จ่าย และยอดเงินทั้งหมดที่หักไปนำส่งกรมสรรพากร ซึ่งระบบของเราจะมีรายงานในเรื่องของตัวหัก
                                        ณ ที่จ่ายตัวนี้ด้วย เพื่อทำให้การยื่น และการเตรียมเช็คยอดจ่ายของใบหัก ณ ที่จ่ายเป็นเรื่องง่ายขึ้น
                                    </p>
                                    <p class="detail">
                                        อย่างที่ 7 จะเป็นเมนูสำหรับลูกค้า จะรวบรวมลิสต์รายชื่อลูกค้าของเราซึ่งข้อมูลตรงนี้ทำให้เราไม่ต้องคีย์ข้อมูลลูกค้าใหม่ทุกครั้งเมื่อจะเปิดเอกสาร
                                        ที่สำคัญไปกว่านั้น เราจะมีรายงานของลูกค้า ที่จะดึงรายงานของลูกค้าทั้งหมด เพื่อที่จะมาดูว่าปีที่ผ่านมาลูกค้าแต่ละคนมียอดสั่งซื้อกับเรามากน้อยแค่ไหน
                                    </p>
                                    <p class="detail">
                                        สุดท้าย เมนูที่ 8 จะเป็นเมนูสต็อกสินค้า สินค้าหลัก ๆ ในเมนู FlowAccount จะมี 3 แบบ คือ สินค้าที่เป็นบริการ สินค้าที่แบบไม่เก็บสต็อก
                                        และสินค้าแบบเก็บสต็อก ทั้ง 3 แบบจะขึ้นอยู่กับธุรกิจของเราและการใช้งาน ถ้าเราเป็นกิจการที่เป็นบริการอย่างเดียว
                                        อาจจะไม่ต้องใช้งานส่วนที่เป็นสต็อกเลย และไม่จำเป็นต้องใช้ใบรับสินค้าด้วย ดังนั้นถ้าเป็นบริการแนะนำให้เป็นสินค้าที่เป็นบริการ
                                        สามารถขายได้ตลอด ไม่ต้องกังวลเรื่องสต็อก ส่วนใครที่ทำสต็อกสินค้าต้องจำไว้ก่อนว่าเราต้องซื้อสินค้าเข้ามาก่อน
                                        แล้วถึงจะขายออกไปได้ ถ้าเรายังไม่รับของเข้ามาก็จะยังขายออกไปไม่ได้ ตัวนี้เองจะช่วยให้การบริหารสต็อกได้ง่ายขึ้น
                                    </p>
                                    <p class="detail">
                                        หลังจากนี้เราจะมาดูเป็นโมดูลไป ว่าแต่ละโมดูลถูกสร้างมาใช้งานอะไร และสำหรับแก้ไขปัญหาอะไรได้บ้าง อย่างอื่นคือหน้าจอของเรา
                                        เมนูหลักจะอยู่ด้านซ้าย จะมีหน้าแรก ภาพรวม เมนูขาย ในเมนูขายจะมีใบเสนอราคา ใบวางบิล
                                        ใบกำกับภาษี ส่วนเมนูเกี่ยวกับการซื้อจะมีใบสั่งซื้อ และใบรับสินค้า ส่วนค่าใช้จ่ายจะมี
                                        2 อย่าง คือ ค่าใช้จ่ายทั่วไป เช่น ซื้อ กระดาษ เครื่องเขียน อุปกรณ์สำนักงานก็จะอยู่ในเมนูนี้
                                        จ่ายค่าเช่า จ่ายเงินเดือนพนักงาน จะอยู่ในหมวดค่าใช้จ่าย ส่วนใบหัก ณ ที่จ่าย จะเอาไว้ทำเสริมต่อจากระบบต่อให้เมื่อเราชำระเงินจากการซื้อบริการเพื่อจ่ายให้กับซัพพลายเออร์ของเรา
                                        เมนูต่อไปจะเป็นเมนูเกี่ยวกับรายงานจะมีรายงานหลายแบบสามารถดูได้ เมนูสินค้า เมนูสมุดรายชื่อลูกค้า
                                        และการตั้งค่าต่าง ๆ
                                    </p>
                                    <p class="detail">
                                        การตั้งค่าต่าง ๆ เราสามารถตั้งค่าได้หลายต่อหลายอย่าง เช่น เลขเริ่มต้นของเอกสาร วิธีรันเลขของเอกสาร เราต้องการรันเป็นวัน เดือน
                                        ปี หรือว่า ปีเลข หรือว่าเลขรันอย่างเดียว เราก็สามารถเลือกได้ในนี้ ยิ่งไปกว่านั้นก็สามารถแนบตรายางกับลายเซ็นเพื่อจะสามารถทำเอกสารอิเล็กทรอนิกส์จากโทรศัพท์มือถือ
                                        และส่งให้ไปลูกค้าได้ทันที
                                    </p>
                                    <p class="detail">
                                        อีกส่วนหนึ่งคือเราสามารถบริหารยูสเซอร์ในระบบของเราได้ เช่น เรามีเซลล์ 3 คน เราสามารถ assign ได้ว่าเซลล์แต่ละคนสามารถใช้งานอะไรได้บ้าง
                                        เป็นเซลล์แอดมิน เซลล์แมเนเจอร์ นักบัญชี หรือเป็นเจ้าของกิจการเลย โดยแต่ละคนจะมีสิทธิ์ในการเข้าถึงข้อมูลของ
                                        FlowAccount ที่ไม่เหมือนกัน ก็สามารถตั้งค่าจากตรงนี้ได้
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'zYIlI7s9Xew'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 3)</p>
                            <p class="name">การเปิดใบเสนอราคา ด้วยระบบบัญชีออนไลน์ FlowAccount.com</p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="zYIlI7s9Xew" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/z_NzaTewux8">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 2</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/ebNMFtChAko">
                                        <span class="menu-text right">ตอนที่ 4</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        หลังจากที่เราได้ดูโปรแกรมโดยรวมไปแล้ว ตอนนี้เราจะมาดูฟังก์ชั่นหลัก ๆ ว่ามีการใช้งานอะไรได้บ้าง และจะได้เสริมด้วยว่าจะทำงานอย่างไรให้มีประสิทธิภาพสูงสุด
                                    </p>
                                    <p class="detail">
                                        เริ่มจากการทำใบเสนอราคา กดปุ่ม “เปิดใบเสนอราคา” เปิดใบเสนอราคาเราก็สามารถใส่ชื่อของลูกค้าเราไปได้เลย เวลาพิมพ์ระบบจะบันทึกข้อมูลลูกค้าเข้าไปทันที
                                        ครั้งหน้าเมื่อเรากลับมาใช้งานในระบบ เราก็จะเห็นชื่อลูกค้าในระบบก็จะได้ไม่ต้องพิมพ์ซ้ำ
                                        ๆ อีกที จากนั้นใส่ที่อยู่บริษัท เลขที่ผู้เสียภาษีแล้ว ข้อมูลชื่อผู้ติดต่อ อีเมล์
                                        หมายเลขโทรศัพท์ ชื่อโปรเจ็ค ทั้งหมดนี้จะเป็นข้อมูลเสริม แต่ว่าที่ชื่อบริษัท ที่อยู่สำนักงาน
                                        เลขภาษี ของผู้ขายและผู้รับ และผู้ซื้อบริการต้องมีทั้งคู่ ไม่อย่างนั้นในเอกสารก็จะถือว่าไม่ถูกต้องตามหลักการ
                                    </p>
                                    <p class="detail">
                                        ส่วนวันที่ และจำนวนวันเครดิต ธุรกิจที่ซื้อขายเงินสดก็ไม่จำเป็นต้องกรอก สามารถกรอกเป็น 0 ได้เลย เช่น เราขายเครดิต 30 วัน เรากรอก
                                        30 วัน ระบบจะช่วยคำนวณให้ว่าครบกำหนด 30 วันในการชำระเงินเป็นวันไหน อันนี้ไม่ต้องห่วง
                                        เมื่อเรานำใบเสนอราคาไปปรับเป็นใบวางบิลหรือใบกำกับภาษี เราก็สามารถปรับจำนวนวันเครดิตได้ใหม่
                                        ให้เหมาะสมกับวันที่เราวางบิล
                                    </p>
                                    <p class="detail">
                                        ถ้ามีเลข PO ของลูกค้าก็ใส่ได้ สามารถใส่ชื่อพนักงานขายได้เช่นกัน ถ้าหากเราใส่ชื่อพนักงานขายตรงนี้ก็จะทำให้สามารถดูยอดขาย การเปิดใบเสนอราคา
                                        ใบวางบิล ใบกำกับภาษี ของพนักงานแต่ละคนได้ว่าเป็นอย่างไรบ้าง เพื่อนำเอาข้อมูล และยอดขายของแต่ละคน
                                        ไปคำนวณคอมมิชชั่น เพื่อจ่ายให้กับพนักงานสิ้นเดือนได้
                                    </p>
                                    <p class="detail">
                                        หลังจากเรากรอกข้อมูลลูกค้าทั้งหมดแล้ว เราก็สามารถกรอกข้อมูลเกี่ยวกับบริการทั้งหมดที่เราต้องการขายได้เลย เช่น สินค้า คือ ดีไซน์โลโก้
                                        รายละเอียด 3 แบบให้เลือก จำนวน 1 ชิ้น ราคาต่อหน่วย 5,000 บาท เพราะว่าบริษัททดลองของเราเป็นบริษัทที่จดภาษีมูลค่าเพิ่มแล้ว
                                        ระบบจะนำไปคำนวณภาษีมูลค่าเพิ่มให้ทันทีเลย จะดูได้จากด้านบนมุมขวาของหน้าจอ ถ้าหากต้องการขายอะไรเพิ่ม
                                        เช่น สินค้า ดีไซน์เว็บไซต์ รายละเอียด HTML + Shopping Cart เป็น E-Commerce จำนวน
                                        1 เว็บไซต์ ราคา 20,000 บาท ระบบก็จะรวมยอดและคำนวณภาษีมูลค่าเพิ่มให้เราคือ 26,750
                                        บาท ซึ่งเป็นยอดที่ลูกค้าต้องจ่ายเรา
                                    </p>
                                    <p class="detail">
                                        ถ้าหากมีส่วนลด สามารถใส่ได้ที่ช่องส่วนลด เช่น 10% ก็จะลดไป 2,500 บาท หรือเราเปลี่ยนส่วนลดเป็นจำนวนเงิน ก็สามารถคีย์จำนวนเงินเข้าไปได้เลย
                                        แล้วระบบก็จะคำนวณยอดเงินรวมทั้งสิ้นหลังหักส่วนลดคือ 24,075 บาท เพื่อการทำธุรกิจที่ง่ายขึ้น
                                        เรามีปุ่มด้านล่าง คือ ปุ่ม หัก ณ ที่จ่าย เพื่อคำนวณว่าลูกค้าของเราควรจะหัก ณ ที่จ่ายเรากี่บาท
                                        โดยทั่วไปบริการของเราจะอยู่ที่ 3%
                                    </p>
                                    <p class="detail">
                                        การหัก ณ ที่จ่ายจะมีเปอร์เซ็นต์หลายแบบ เรามาดูกันว่าแต่ละแบบใช้อย่างไรบ้าง เช่น 1% สำหรับขนส่ง 2% สำหรับโฆษณา 3% สำหรับการบริการ
                                        5% สำหรับลูกค้าเช่า ของเราเป็นเว็บไซต์ การทำโลโก้ ก็จะถือว่าเป็นงานบริการ จะอยู่ที่
                                        3% สรุปแล้วยอดที่จ่ายจริง คือ ยอดชำระหลังจากที่หักเปอร์เซ็นต์ คือ 23,400 บาท
                                    </p>
                                    <p class="detail">
                                        ส่วนด้านล่าง เราสามารถใส่หมายเหตุในเอกสารได้ โดยหมายเหตุในที่นี้เราสามารถเซ็ตในการตั้งค่าบริษัท และสามารถตั้งค่าหมายเหตุหรือที่เรียกว่าหมายเหตุ
                                        Default ซึ่งก็คือหมายเหตุที่เราใช้อยู่เป็นประจำ หรืออาจะใส่เลขที่บัญชีก็ได้
                                    </p>
                                    <p class="detail">
                                        ส่วนด้านล่างซ้ายจะเป็นโน้ต ซึ่งเป็นเอกสารสำหรับใช้ภายในสำหรับบอกกับเพื่อนว่า เช่น อย่าลืมเก็บเงินจากลูกค้า และยังสามารถแนบเอกสารได้ด้วย
                                        ถ้ามีเอกสารอะไร เช่น รูป เราก็สามารถกดแนบได้ทันที เอาไว้เป็น reference ของเรา เราสามารถแนบเอกสารได้หลายอย่าง
                                    </p>
                                    <p class="detail">
                                        หลังจากเราใส่ข้อมูลทั้งหมดแล้ว เราก็กด “บันทึกข้อมูล” ที่อยู่ล่างมุมขวาล่างของหน้าจอ จากนั้นเราก็สามารถพิมพ์ได้ทันที เราก็จะเห็นว่าเอกสารจะโหลดขึ้นมา
                                        จะเห็นว่าโลโก้ที่เราใส่ไปที่อยู่ด้านบนซ้าย ชื่อที่อยู่ของเรา ชื่อที่อยู่ของลูกค้า
                                        เอกสารเลขที่รันก็จะเป็นเอกสารที่รันตั้งแต่แรก เลขที่รันตรงนี้เราสามารถตั้งค่าได้ว่าอยากให้เริ่มต้นที่เลขที่อะไร
                                        วันที่ก็จะเป็นวันที่เราทำเอกสาร ถัดมาจะมีชื่อของงาน แคมเปญ ผู้ติดต่อที่เราคุยด้วย
                                        และอีเมล์ลูกค้า เอกสารทั้งหมดก็จะสามารถปริ้นท์ออกมาได้ทันที
                                    </p>
                                    <p class="detail">
                                        ข้อดีของ FlowAccount คือเอกสารทั้งหมดของเรานอกจากจะสวยงามแล้ว ยังสามารถพิมพ์ออกมาบนกระดาษเอ 4 สามารถใช้กับเครื่องอิงก์เจ็ทที่ทุกบริษัทมีอยู่แล้ว
                                        และเอกสารของเรามีการกำกับต้นฉบับ สำเนาให้ด้วยอย่างชัดเจน ทำให้เอกสารเหล่านี้สามารถใช้ได้ถูกต้องตามกฎหมาย
                                    </p>
                                    <p class="detail">
                                        ในส่วนนี้ด้านล่างเราสามารถปริ้นท์ออกมาได้ทันที แล้วก็เซ็นจริง ปั้มตรายาง และนำตัวต้นฉบับไปยื่นให้กับลูกค้าได้ทันที
                                    </p>
                                    <p class="detail">
                                        อย่างที่ 2 ที่สามารถทำได้ คือ กด “ดาวน์โหลด” ซึ่งระบบของเราจะดาวน์โหลดออกมาเป็น PDF ซึ่งจะเหมือนกับการดาวน์โหลดไฟล์ตามปกติ
                                        ซึ่งสามารถนำไปแนบไฟล์ส่งให้กับลูกค้าได้ทันที
                                    </p>
                                    <p class="detail">
                                        ทางเลือกที่ 3 ในการส่งเอกสาให้ลูกค้าด้วยการส่ง “อีเมล์” ระบบจะดึงข้อมูลเมล์ของลูกค้าที่กรอกไว้บนเอกสาร และเลขที่เอกสาร และกรอกข้อมูลอีเมล์มาตรฐานส่งให้ลูกค้า
                                        โดยอีเมล์มาตรฐานสามารถตั้งค่าได้ที่เมนูการตั้งค่าของบริษัท เพราะฉะนั้นเราจะเห็นเมล์มาตรฐานที่เคยตั้งไว้
                                        หรือหากอยากแก้ไขก็สามารถพิมพ์แก้ได้ทันที
                                    </p>
                                    <p class="detail">
                                        ทางเลือกที่ 4 ที่เพิ่งเปิดตัวไปคือการ “แชร์ลิ้งค์” เพียงเรากดคัดลอก URL และไปวางที่ไลน์ เฟสบุ๊ค หรือแชทแอพต่าง ๆ ได้ทันที
                                        เวลาลูกค้ากดลิ้งก์ขึ้นมาก็จะเห็นหน้าเอกสารของเรา ลูกค้าสามารถเลือกได้ว่าจะดาวน์โหลดหรือจะปริ้นท์เอกสาร
                                    </p>
                                    <p class="detail">
                                        ทั้ง 4 ทางเลือกนี้สามารถทำงานได้อย่างง่าย ๆ ทำให้การทำงานสะดวกสบายมากขึ้น ประหยัดเวลามากขึ้น และในโทรศัพท์มือถือก็จะสามารถใช้งานในส่วนนี้เช่นกัน
                                        โดยข้อมูลในโทรศัพท์มือถือ กับข้อมูลบนหน้าเว็บจะเชื่อมกันตลอดเวลา
                                    </p>
                                    <p class="detail">
                                        หลังจากที่เราเปิดใบเสนอราคาแล้ว เซฟทุกอย่าง เราก็สามารถปิดได้เลย กลับมาที่หน้าหลักเราสามารถดูว่าใบเสนอราคาทั้งหมดสามารถกดจากปุ่ม
                                        “ดูรายการทั้งหมด” ใต้ปุ่ม “เปิดใบเสนอราคา” ได้เลย หรือจะดูจากเมนูด้านซ้ายคือเมนูขาย
                                        จะเห็นว่ามี ใบเสนอราคา ใบแจ้งหนี้ และใบเสร็จรับเงิน เรากดเลิกที่หน้าใบเสนอราคา ในหน้านี้เองมีเราจะเห็นได้ว่าใบเสนอราคาจะมีวันที่
                                        เลขที่ใบเสนอราคา ชื่อลูกค้า ยอดรวม สถานะ และแก้ไข/พิมพ์
                                    </p>
                                    <p class="detail">
                                        ที่สำคัญที่เราจะแนะนำในวันนี้คือแถบสถานะ ซึ่งแถบนี้เราตั้งใจออกแบบมาเพื่อเจ้าของกิจการขนาดเล็กโดยเฉพาะ เพราะเรารู้ว่าหลายต่อหลายครั้งถ้าเราไม่มีระบบนี้ในการใช้งาน
                                        เราใช้ excel เราต้องจดในปฏิทิน จดในการเตือนตัวเอง จดไปมาสุดท้ายก็ไม่รู้ว่าเอกสารไหนอนุมัติแล้ว
                                        เอกสารไหนเปิดเป็นใบวางบิลแล้ว หรือเปิดใบกำกับภาษีแล้ว วิธีการทำงานง่ายมากเหมือนกับเราใช้โพสต์อิทโน้ตอยู่
                                        เช่น งานที่เสนอไปลูกค้าอนุมัติ เราก็กดที่สถานะของเอกสารว่าอนุมัติ หลังจากที่เอกสารอนุมัติจะขึ้นเป็นสีเหลือง
                                        เอกสารที่รออนุมัติก็จะเป็นสีเทา
                                    </p>
                                    <p class="detail">
                                        เท่านี้เราก็จะเห็นเอกสารของเราจะเรียงเป็นร้อยใบ สามารถค้นหาเป็นเลขที่ หรือชื่อลูกค้า ถ้าต้องการแก้ไขข้อมูลก็สามารถกดเข้าไปที่ชื่อลูกค้าเพื่อแก้ไขได้ทันที
                                        เข้ามาก็จะเป็นหน้าจอที่เราทำใบเสนอราคาไว้ สามารถแก้ไขตามที่ต้องการได้ทันที และกดเซฟไว้
                                        ถ้าไม่ต้องการแก้อะไรก็กดปิด
                                    </p>
                                    <p class="detail">
                                        ส่วนช็อตคัทแก้ไข/พิมพ์ เราสามารถกดพิมพ์ แชร์ลิ้งค์ ดาวน์โหลด อีเมล์ จากตรงนี้ได้เลย และมีฟังก์ชั่นที่เพิ่มเข้ามาคือการสร้างซ้ำ
                                        ถ้าเราขายบริการแบบนี้ให้กับลูกค้าหลายบริษัท เราก็สามารถสร้างซ้ำได้ทันที ระบบก็จะดึงข้อมูลทั้งหมด
                                        เพียงแค่เราเปลี่ยนชื่อลูกค้า หรือเปลี่ยนชื่อสินค้า แล้วกดเซฟก็สามารถส่งให้ลูกค้าได้ทันที
                                        ประหยัดเวลาไปได้มากทีเดียวสำหรับฟังก์ชั่นนี้
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'ebNMFtChAko'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 4)</p>
                            <p class="name">การเปิดใบวางบิล/ใบแจ้งหนี้ ด้วยระบบบัญชีออนไลน์ FlowAccount.com</p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="ebNMFtChAko" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/zYIlI7s9Xew">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 3</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/nVdmWfZV64k">
                                        <span class="menu-text right">ตอนที่ 5</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        เรามาดูกันว่าระบบของ FlowAccount จะเปลี่ยนจากใบเสนอราคาเป็นใบวางบิลว่าง่ายขนาดไหน กดที่ “สถานะ” เราก็จะเห็นว่ามีแถบสร้างใบวางบิลหรือใบแจ้งหนี้
                                        หรือ ใบแจ้งหนี้แบบแบ่งจ่าย การแบ่งจ่ายคือการจ่ายแบบเป็นงวด ๆ เช่น ลูกค้าแจ้งมาว่าต้องการให้เก็บเงิน
                                        30% ก่อน และอีก 70%ทีหลัง เราก็มาทำเป็นแบบแบ่งจ่าย ระบบ FlowAccount เองก็ช่วยบริหารว่าครั้งแรกเก็บไปแล้ว
                                        30% ก็จะเหลืออีก 70% พอเรามากดอีกครั้งนึงก็จะออกมาเป็น 70% ที่เหลือ ช่วยเตือนเรา
                                        เพื่อเราจะได้ไม่พลาดการเก็บเงิน
                                    </p>
                                    <p class="detail">
                                        ส่วนลูกค้าบางรายไม่ต้องวางบิล สามารถเปิดใบกำกับภาษีได้เลย เราก็สามารถเลือกเมนูที่ 4 หรือเมนูที่ 5 เป็นใบกำกับภาษีแบบแบ่งจ่าย
                                        ถ้าเอกสารไหนที่ลูกค้าไม่อนุมัติ เราก็มากดที่ไม่อนุมัติได้ ถ้าเราเลือกสถานะผิดก็สามารถรีเซ็ตได้
                                    </p>
                                    <p class="detail">
                                        ตอนนี้เรามาดูการสร้างใบวางบิล เพียงเรากดสร้างใบวางบิล/ใบแจ้งหนี้ หลังจากกดเข้าไปแล้ว ระบบ FlowAccount จะดึงข้อมูลระบบทั้งหมดมา
                                        และรันเลขใบวางบิลด้านบนให้ใหม่ เราก็สามารถเซฟและส่งให้ลูกค้าได้ทันที โดยจะให้ออกมาเป็นการพิมพ์เอกสาร
                                        ดาวน์โหลด อีเมล์ แชร์ลิงค์ได้เหมือนกับใบเสนอราคา ใบวางบิลเราจะมีต้นฉบับ และสำเนา
                                        ต้นฉบับเอกสารทั้งหมดจะให้ลูกค้าเสมอ สำเนาเก็บที่บริษัท เท่านี้เราก็สามารถปริ้นท์
                                        เซ็นต์ และให้แมสเซนเจอร์ส่งให้ลูกค้าได้เลย
                                    </p>
                                    <p class="detail">
                                        เอกสารของ FlowAccount เองตั้งใจทำให้เปลี่ยนสี สีส้มสำหรับใบเสนอราคา สีม่วงสำหรับใบวางบิล ที่เราตั้งใจใส่สีเพื่อที่เอกสารทุกตัวเวลาวางบนโต๊ะจะรู้ทันทีว่าคือเอกสารอะไร
                                        หัวข้อของเอกสารจะอยู่ด้านบน ถัดจากหัวข้อจะเป็น “ต้นฉบับ” หรือ “สำเนา” เท่านี้ก็สามารถปริ้นท์
                                        เซ็น แล้วส่งให้ลูกค้าได้เลย
                                    </p>
                                    <div class="detail">
                                        <ul style="padding-left: 0px;list-style-position: inside;">
                                            <li>สีส้ม คือ ใบเสนอราคา</li>
                                            <li>สีม่วง คือ ใบวางบิล</li>
                                            <li>สีฟ้า คือ ใบกำกับภาษี</li>
                                            <li>สีเขียวคือ ใบเสร็จรับเงิน</li>
                                            <li>สีชมพู คือ ใบสั่งซื้อ</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        มาดูที่การวางบิลเพิ่มเติม เพราะการวางบิลอาจจะเป็นเรื่องที่ทำให้เจ้าของกิจการที่เพิ่งเริ่มต้นสับสนได้ ระบบ FlowAccount ตั้งใจพัฒนาสถานะเอกสารให้คำนวณยอดค้างรับเพื่อแก้ไขปัญหานี้โดยเฉพาะ
                                        มาดูกันว่าใช้งานอย่างไร
                                    </p>
                                    <p class="detail">
                                        ใบวางบิลของเราจะขึ้นเป็นใบแรกเพราะตอนนี้ในระบบมีเพียงใบเดียว วิธีคือที่แถบสถานะ เวลาเรากดแถบสถานะเราก็จะบอกได้ว่าบิลนี้ เปิดแล้ว
                                        วางบิลแล้ว หรือว่าทำเป็นใบกำกับภาษีแล้วหรือยัง สมมติว่าครบกำหนดเราก็มาคลิกว่าใบนี้ได้วางบิลแล้ว
                                        และได้ส่งให้ลูกค้าแล้ว หลังจากวางบิลเสร็จแล้ว เราก็สามารถนำใบวางบิลไปสร้างเป็นใบกำกับภาษี
                                        เพื่อที่จะสามารถเก็บเงินลูกค้าได้
                                    </p>
                                    <p class="detail">
                                        ยอดที่วางบิลจะเรียกว่ายอดค้างรับ ยอดค้างรับจะทำให้เราเห็นว่างานทั้งหมดที่เคยทำไป ที่เราได้ส่งมอบไป วางบิลไปแล้วทั้งหมด เรามียอดที่กำลังจะเข้ามาเร็ว
                                        ๆ นี้มียอดค้างรับอยู่ที่เท่าไหร่ จะได้ประมาณการณ์การลงทุน การพัฒนาธุรกิจ การจ้างงานของเราได้ง่ายขึ้น
                                        โดยดูจากยอดที่กำลังจะเข้ามา สมมติว่าอีก 2 เดือนจะมีเงินเข้ามา เราก็จะต้องประหยัดในเดือนนี้ก่อน
                                        และเราค่อยใช้เงินหลังจากที่เราเก็บเงินได้จริง ๆ
                                    </p>
                                    <p class="detail">
                                        ลองมาดูที่หน้าภาพรวม เราจะเห็นยอดค้างรับ ซึ่งอยู่ด้านบนขวา ส่วนกราฟอื่น ๆ เมื่อเราใช้งานไปเรื่อย ๆ จะปรับปลี่ยนไปตามระบบการเงินของเรา
                                        เพราะฉะนั้นตอนนี้เราจะมียอดค้างรับอยู่ที่ 24,075 บาท ค้างรับครบกำหนดเมื่อไหร่ พอถึงวันนั้นเราวางบิลเสร็จ
                                        และลูกค้าบอกว่านำใบกำกับภาษีกับใบเสร็จรับเงินมารับเช็คได้เลย อันนี้จะเป็นขั้นตอนการเปลี่ยนใบวางบิลไปเป็นใบกำกับภาษีเพื่อไปเก็บเช็คกับลูกค้า
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'nVdmWfZV64k'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 5)</p>
                            <p class="name">การเปิดใบส่งสินค้า/ใบกำกับภาษี ด้วยระบบบัญชีออนไลน์ FlowAccount.com
                            </p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="nVdmWfZV64k" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/ebNMFtChAko">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 4</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/BO9ahhDyPT8">
                                        <span class="menu-text right">ตอนที่ 6</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        หลังจากที่เราเรียนรู้วิธีการเปิดใบวางบิลแล้ว ตอนนี้เรามาดูการเปิดใบกำกับภาษี จริง ๆ ขั้นตอนการเปิดใบเสนอราคา ใบวางบิล และใบกำกับภาษี
                                        ไม่มีความจำเป็นที่จะต้องทำเป็นขั้นตอนตามสเต็ปทุกครั้ง ขึ้นอยู่กับความจำเป็นและความเหมาะสมของงาน
                                        พูดง่าย ๆ คือลูกค้าแต่ละคน มีขั้นตอนในการทำเอกสารไม่เหมือนกัน ลูกค้าบางคนอาจจะขอใบกำกับภาษีอย่างเดียวเลย
                                        เราก็ส่งใบกำกับภาษีอย่างเดียวไปเลย เราก็เก็บเงินได้เลย ไม่ต้องไปวางบิล ไม่ต้องไปเสนอราคาให้วุ่นวาย
                                        แต่ถ้าลูกค้าต้องการเป็นระบบ FlowAccount ก็จะซัพพอร์ตจากใบเสนอราคา มาเป็นใบวางบิล
                                        มาเป็นใบกำกับภาษี
                                    </p>
                                    <p class="detail">
                                        ดังนั้นเรามาดูที่หน้าใบวางบิล กดตรงเมนู “ใบวางบิล” แล้ว เรามาดูที่แถบสถานะ สามารถเปลี่ยนสถานะไปเป็นสร้างใบกำกับภาษี และใบเสร็จรับเงิน
                                        สร้างเสร็จระบบก็จะดึงข้อมูล ใส่วันที่ปัจจุบัน ถ้าเราต้องการแก้ไขก็สามารถแก้ไขได้ทันที
                                        ถ้าไม่ต้องการแก้แล้วสามารถพิมพ์ ดาวน์โหลด อีเมล์ และแชร์ลิงก์ได้ ตรงด้านซ้ายเราสามารถเลือกได้ว่าจะแนบหรือไม่แนบลายเซ็น
                                        บางทีถ้าเราไปขายงานราชการ หรือบริษัทใหญ่ ๆ เขาต้องการให้เราเซ็นสด ใช้ตรายางสด เราก็ติ๊กออกและปริ้นท์ออกมาเซ็นและส่งให้ลูกค้า
                                        ถ้าไม่จำเป็นก็สามารถติ๊กแล้วกดส่งให้ลูกค้าได้เลย เมื่อเราเช็คเอกสารจะมีลายเซ็น ตรายาง
                                        และมีสำเนาให้กับเราด้วย
                                    </p>
                                    <p class="detail">
                                        วใบกำกับภาษีจะมีแบ่งออกเป็น 2 อย่าง คือ ต้นฉบับและสำเนา เอกสารนี้เวลาเรารับเช็คของลูกค้าเข้ามาเราสามารถกรอกข้อมูลว่ารับเป็นเงินสด
                                        เช็ค โอนเงิน หรือบัตรเครดิต เท่านี้เราก็สามารถเก็บเงินลูกค้าได้อย่างสบายใจ มั่นใจว่าข้อมูลใบกำกับภาษีเราถูกต้องตามหลักกรมสรรพากร
                                        เวลาที่เราเก็บเงินก็เก็บเงินได้อย่างมั่นใจ พร้อมกับเตือนให้เราทราบว่าเอกสารแต่ละตัวเก็บเงินแล้วหรือยัง
                                        เพราะฉะนั้นใบกำกับภาษีทุกใบจะเข้าไปที่เมนูหลักมีสถานะเหมือนเดิม สามารถเลือกสถานะใบกำกับภาษีแต่ละใบอยู่ที่สถานะอะไรบ้าง
                                    </p>
                                    <p class="detail">
                                        ถ้เรามาดูสถานะกันโดยไปที่เมนูใบกำกับภาษีที่อยู่ทางด้านซ้ายมือ จะเห็นว่าบริษัทของเรามีใบกำกับภาษีที่ออกมา มียอดรวมเท่าไหร่
                                        ครบกำหนดวันชำระ ยอดชำระจะยังไม่มี เพราะเอกสารนี้อยู่ในสถานะรอเก็บเงิน เพราะเราได้รับเงินจากลูกค้า
                                        หรือรับเป็นเช็คแล้ว นำไปขึ้นเงิน เราก็มากดที่สถานะเก็บเงินได้เลย
                                    </p>
                                    <p class="detail">
                                        หลังจากที่กดเก็บเงินจะมี Pop-up ขึ้นมาเพื่อสอบถามวิธีการชำระเงิน ข้อมูลการชำระเงินของเราจะนำไปคำนวณเป็นรายงานยอดเก็บเงินของเรา
                                        สามารถดูได้ว่าแต่ละยอดเก็บเงินได้เมื่อไหร่ ด้วยวิธีอะไร เพราะฉะนั้นตอนนี้เราสามารถเลือกได้
                                        4 แบบคือ
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul style="list-style-type: decimal;">
                                            <li>เงินสด เราสามารถเลือกดูได้ว่าเราถูกหัก ณ ที่จ่ายเท่าไหร่ เช่น ถูกหัก ณ ที่จ่าย
                                                3% ก็สามารถเลือกได้เพื่อดูยอดเงิน</li>
                                            <li>เช็ค เราสามารถใส่ธนาคาร เลขที่เช็ค วันที่ จำนวนเงิน</li>
                                            <li>บัตรเครดิต</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        เราเลือกวิธีการชำระเงิน เป็นเงินสด และกดยืนยัน เมื่อบันทึกสำเร็จ เราจะเห็นสถานะจากเดิมที่เป็นแถบสีเหลืองที่วางบิลแล้ว เปลี่ยนเป็นสีเขียวว่าเก็บเงินแล้ว
                                        ถ้าเราเอาเม้าส์ไปที่ตัว “I” ตรงยอดเรียกเก็บ จะเห็นรายละเอียดยอด 23,400 ยอดหัก ณ ที่จ่าย
                                        675 บาท ยอดค้างรับที่อยู่ในหน้ารวมก่อนหน้านี้ก็จะหายไป เพราะว่าเอกสารใบนี้เราได้เก็บยอดค้างรับไปแล้ว
                                    </p>
                                    <p class="detail">
                                        เท่านี้เราก็สามารถดูได้ว่าบริษัทเรามีรายได้เดือนละเท่าไหร่ มีรายจ่ายเท่าไหร่ เรากลับมาดูที่หน้าภาพรวมได้เลย เราก็จะเห็นว่ามีรายได้เข้ามาแล้วเท่าไหร่
                                        ดูที่กราฟด้านบนซ้ายได้เลย ส่วนยอดค้างรับทางด้านขวาก็จะถูกลบหายไป เพราะยอดค้างรับถูกเปลี่ยนมาเป็นรายได้แล้วเรียบร้อย
                                    </p>
                                    <p class="detail">
                                        ถึงขั้นตอนนี้เราก็ได้พูดถึงการเปิดใบเสนอราคา ใบวางบิล ใบกำกับภาษี การตั้งค่าเบื้องต้นของบริษัทเป็นที่เรียบร้อยแล้ว ทั้งหมดนี้เป็นสโคปเกี่ยวกับการขาย
                                        หรือการหารายได้เข้าให้กับบริษัทของเรา เพราะฉะนั้นการขายสินค้าสามารถทำตามขั้นตอนที่เราแนะนำได้ทันที
                                        และต่อไปเราจะพูดถึงการบันทึกรายจ่าย การทำใบหัก ณ ที่จ่าย และการบริหารสต๊อกสินค้า
                                        รวมไปถึงการดูรายงานต่าง ๆ และตั้งค่าแบบแอดวานซ์ในระบบของเรา
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'BO9ahhDyPT8'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 6)</p>
                            <p class="name">การดูแลและวิเคราะห์ภาพรวมของบริษัท ด้วยระบบบัญชีออนไลน์ FlowAccount.com
                            </p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="BO9ahhDyPT8" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/nVdmWfZV64k">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 5</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/I7-7BzKMRr8">
                                        <span class="menu-text right">ตอนที่ 7</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        ตอนนี้เราจะมาแนะนำหน้าภาพรวมของบริษัท ซึ่งแบ่งออกเป็น 4 ส่วนด้วยกัน
                                    </p>
                                    <div class="detail">
                                        <ul style="padding-left: 0px;list-style-position: inside;list-style-type: decimal;">
                                            <li>รายได้รวมของบริษัท</li>
                                            <li>รายได้เปรียบเทียบกับรายจ่าย</li>
                                            <li>ยอดค้างรับ</li>
                                            <li>ยอดค้างจ่าย</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        เมื่อเราดู 4 ส่วนนี้เราก็จะเห็นสุขภาพ ภาพรวมของบริษัทได้ภายในคลิกเดียว เรามาดูรายะเอียดเพิ่มเติม
                                    </p>
                                    <p class="detail">
                                        ส่วนแรก รายได้รวมของบริษัท จะเป็นกราฟซึ่งจะแบ่งออกเป็น 2 สี คือ สีเทา หมายถึง รายได้ทั้งหมดที่เราได้เปิดบิลไปแล้ว ส่วนสีฟ้าจะเป็นรายได้ที่เราเก็บเงินแล้ว
                                        ส่วนยอดค้างรับจะมาปรากฎในเมนูด้านขวา “ยอดค้างรับ” ยอดค้างรับจะมาจาก 2 ส่วน ส่วนแรก
                                        จากใบกำกับภาษีที่ยังไม่ได้เก็บเงิน หรือที่เรายังไม่ได้เปลี่ยนสถานะเป็นเก็บเงิน กับส่วนที่สองมาจากใบวางบิลทั้งหมด
                                        ที่เรายังไม่ได้แปลงมาเป็นใบกำกับภาษี
                                    </p>
                                    <p class="detail">
                                        เมื่อเราเลื่อนลงมาดูข้างล่าง เราจะเห็นกราฟอีกส่วนหนึ่งที่มีสีแดงและสีฟ้า สีแดงคือรายจ่ายทั้งหมด กราฟนี้คือกราฟรายจ่ายเปรียบเทียบกับรายได้
                                        จะเห็นแบบเร็วเลยว่าบริษัทของเรามีรายจ่ายเปรียบเทียบกับรายได้มากน้อยแค่ไหน รายจ่ายในที่นี้มาจาก
                                        3 ส่วน คือ ใบสั่งซื้อ ที่ชำระเงินแล้ว ใบรับสินค้าที่ชำระเงินแล้ว และส่วนสุดท้ายคือรายจ่ายทั้งหมดที่เราคีย์เข้าไปในเมนูรายจ่ายของบริษัท
                                        “ยอดค้างจ่าย” คือ ใบสั่งซื้อ ใบรับสินค้าที่ยังไม่ได้ชำระเงิน จะมาปรากฏในเมนูยอดค้างจ่ายของบริษัท
                                    </p>
                                    <p class="detail">
                                        เท่านี้เองเราก็สามารถบริหารรายรับ รายจ่าย และยอดค้างรับค้างจ่ายของเราแบบง่าย ๆ ดูจากเมนูภาพรวมของบริษัทได้เลย ยิ่งไปกว่านั้น
                                        ไม่ว่าเราจะอยู่ที่ไหน เราก็สามารถดูภาพรวมจากแอพโทรศัพท์มือถือได้เช่นกัน สามารถดูได้ว่าเดือนที่ผ่านมาเรามีรายรับเท่าไหร่
                                        โดยจะแสดงออกมาเป็นกราฟได้เลย เวลาอยู่ข้างนอกก็สามารถดูข้อมูลของบริษัทได้ สะดวกทุกที่
                                        ทุกเวลาจริง ๆ
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'I7-7BzKMRr8'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 7)</p>
                            <p class="name">การเปิดใบสั่งซื้อสินค้า ด้วยระบบบัญชีออนไลน์ FlowAccount.com
                            </p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="I7-7BzKMRr8" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/BO9ahhDyPT8">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 6</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/3rjIEDK1Hfs">
                                        <span class="menu-text right">ตอนที่ 8</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        ตอนนี้เราจะมาดูเมนูซื้อ หรือว่าการซื้อสินค้าเข้าบริษัท เรามาดูกันเป็นส่วนๆว่าการเปิดใบสั่งซื้อ การรับสินค้า การตั้งค่าสินค้าให้เก็บสต็อก
                                        มีขั้นตอนการทำงานอย่างไรบ้าง
                                    </p>
                                    <p class="detail">
                                        เมนูแรก การเปิดใบสั่งซื้อ เมื่อเรากดที่เมนูซื้อจะมี ใบสั่งซื้อ และใบรับสินค้า มาที่ใบสั่งซื้อ เรามาเปิดใบสั่งซื้อ ใบใหม่
                                        โดยคลิกที่ “สร้างใหม่” แล้วเริ่มพิมพ์รายละเอียดของบริษัทที่เราจะสั่งซื้อ ได้แก่ ชื่อบริษัท
                                        ที่อยู่ หมายเลขผู้เสียภาษี สำนักงาน
                                    </p>
                                    <p class="detail">
                                        จดสำคัญของการทำใบสั่งซื้อ คือปกติเราจะสามารถพิมพ์ชื่อสินค้าได้เลย แต่การพิมพ์เข้าไปทันที เราจะได้แต่สินค้าที่เป็นบริการ ก็คือสินค้าที่ไม่ได้เก็บสต็อก
                                        เพราะฉะนั้นเราต้องมาตั้งที่สินค้าก่อน โดยกดลูกศรลง กด เพิ่มสินค้า และเลือกประเภทสินค้า
                                        กดลูกศรลงมาจะเห็นว่ามีประเภทสินค้าหลัก ๆ อยู่ 3 ประเภท คือ บริการ สินค้าไม่นับสต็อก
                                        สินค้านับสต็อก สมมติว่าเราเลือกสินค้าที่เก็บสต็อกง
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul>
                                            <li>กรอก “รหัสสินค้าหรือ SKU” ซึ่งเราสามารถตั้งเองได้</li>
                                            <li>สินค้า คือ “ชื่อสินค้า” แล้วกรอกรายละเอียดสินค้า</li>
                                            <li>ตั้งราคาซื้อ และราคาขาย ถ้าราคานี้รวมภาษีแล้ว สามารถเลือกติ๊กที่รวมภาษีแล้วได้</li>
                                            <li>แนบรูปภาพ เพื่ออ้างอิงลักษณะสินค้า</li>
                                            <li>หน่วยของสินค้า เราจะให้เลือกจากลูกศรลง หรือเราจะพิมพ์เข้าไปได้เลย</li>
                                            <li>หมวดสินค้า ถ้ายังไม่เคยมีก็สามารถพิมพ์เข้าไปได้เลยเช่นกัน</li>
                                            <li>บาร์โค้ด ถ้ามีก็ใส่เข้าไปได้</li>
                                            <li>ตั้งค่าเริ่มต้น เราสามารถส่งได้เลยเช่น เช่น ตอนนี้ในคลังสินค้ามีสินค้าอยู่ 12
                                                ชิ้น ราคาซื้อถ้าเท่าเดิมก็ไม่ต้องใส่ และจะมีช่องในแสดงมูลค่ารวมมาให้</li>
                                            <li>บันทึกข้อมูล เพื่อเป็นสินค้าที่เราเก็บสต็อกเข้าไป</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        เมื่อเราดู 4 ส่วนนี้เราก็จะเห็นสุขภาพ ภาพรวมของบริษัทได้ภายในคลิกเดียว เรามาดูรายะเอียดเพิ่มเติม
                                    </p>
                                    <p class="detail">
                                        ส่วนแรก รายได้รวมของบริษัท จะเป็นกราฟซึ่งจะแบ่งออกเป็น 2 สี คือ สีเทา หมายถึง รายได้ทั้งหมดที่เราได้เปิดบิลไปแล้ว ส่วนสีฟ้าจะเป็นรายได้ที่เราเก็บเงินแล้ว
                                        ส่วนยอดค้างรับจะมาปรากฎในเมนูด้านขวา “ยอดค้างรับ” ยอดค้างรับจะมาจาก 2 ส่วน ส่วนแรก
                                        จากใบกำกับภาษีที่ยังไม่ได้เก็บเงิน หรือที่เรายังไม่ได้เปลี่ยนสถานะเป็นเก็บเงิน กับส่วนที่สองมาจากใบวางบิลทั้งหมด
                                        ที่เรายังไม่ได้แปลงมาเป็นใบกำกับภาษี
                                    </p>
                                    <p class="detail">
                                        เมื่อเราเลื่อนลงมาดูข้างล่าง เราจะเห็นกราฟอีกส่วนหนึ่งที่มีสีแดงและสีฟ้า สีแดงคือรายจ่ายทั้งหมด กราฟนี้คือกราฟรายจ่ายเปรียบเทียบกับรายได้
                                        จะเห็นแบบเร็วเลยว่าบริษัทของเรามีรายจ่ายเปรียบเทียบกับรายได้มากน้อยแค่ไหน รายจ่ายในที่นี้มาจาก
                                        3 ส่วน คือ ใบสั่งซื้อ ที่ชำระเงินแล้ว ใบรับสินค้าที่ชำระเงินแล้ว และส่วนสุดท้ายคือรายจ่ายทั้งหมดที่เราคีย์เข้าไปในเมนูรายจ่ายของบริษัท
                                        “ยอดค้างจ่าย” คือ ใบสั่งซื้อ ใบรับสินค้าที่ยังไม่ได้ชำระเงิน จะมาปรากฏในเมนูยอดค้างจ่ายของบริษัท
                                    </p>
                                    <p class="detail">
                                        เท่านี้เองเราก็สามารถบริหารรายรับ รายจ่าย และยอดค้างรับค้างจ่ายของเราแบบง่าย ๆ ดูจากเมนูภาพรวมของบริษัทได้เลย ยิ่งไปกว่านั้น
                                        ไม่ว่าเราจะอยู่ที่ไหน เราก็สามารถดูภาพรวมจากแอพโทรศัพท์มือถือได้เช่นกัน สามารถดูได้ว่าเดือนที่ผ่านมาเรามีรายรับเท่าไหร่
                                        โดยจะแสดงออกมาเป็นกราฟได้เลย เวลาอยู่ข้างนอกก็สามารถดูข้อมูลของบริษัทได้ สะดวกทุกที่
                                        ทุกเวลาจริง ๆ
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == '3rjIEDK1Hfs'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 8)</p>
                            <p class="name">การเปิดใบรับสินค้า ด้วยระบบบัญชีออนไลน์ FlowAccount.com
                            </p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="3rjIEDK1Hfs" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/I7-7BzKMRr8">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 7</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/KqUs9JykHdw">
                                        <span class="menu-text right">ตอนที่ 9</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        เมนูใบรับสินค้า ซึ่งเป็นหัวใจในการบริหารสต็อกสินค้า หรือว่าการรับสินค้าเข้าสู่คลังสินค้าของบริษัท เวลาที่ผู้ค้าส่งสินค้ามาให้เราจริง
                                        ๆ แล้ว เราก็ตรวจนับสินค้า และเปิดใบรับสินค้านั้น ๆ เพราะฉะนั้นขั้นตอนใบสั่งซื้ออาจจะทำหรือไม่ทำก็ได้
                                        ขึ้นอยู่กับผู้ค้าว่าต้องการใบสั่งซื้อหรือเปล่า เช่น เราโทรศัพท์ไปหาผู้ค้าว่าต้องการคอมพิวเตอร์
                                        10 เครื่องมาส่งได้เลย เราก็จะได้ใบเสร็จ หรือใบกำกับภาษีจากผู้ค้า เราต้องเอาข้อมูลทั้งหมดมาเขียนเป็นใบรับสินค้าในระบบของเรา
                                        เพื่อรับสินค้าเข้ามาในระบบสต็อกสินค้าของ FlowAccount เราลองมาดูวิธีง่าย ๆ ในการสร้างใบรับสินค้าเพื่อรับสินค้าเข้าบริษัท
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul>
                                            <li>เลือกเมนูใบรับสินค้าจากเมนูหลักด้านซ้ายมือ แล้วเลือก สร้างใหม่</li>
                                            <li>ใส่ชื่อผู้ค้า ที่เราเคยมีมาก่อนหน้านี้</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        สินค้าที่เรารับเข้ามา ข้อสำคัญของตรงนี้คือ ต้องเป็นสินค้าประเภทที่มีสต็อก ถ้าสินค้าที่เราใส่ไม่ได้เป็นสินค้าที่มีสต็อก สินค้าที่เข้ามาก็จะไม่ได้เข้าฐานข้อมูล
                                        เช่น คอมพิวเตอร์ เป็นสินค้าที่เคยมีสต็อกแล้ว รับครั้งนี้รับเข้ามา 15 เครื่อง ราคา
                                        18,000 บาท แล้วกดบันทึกข้อมูลเพื่อรับสินค้าเข้าระบบได้ทันที
                                    </p>
                                    <p class="detail">
                                        ถ้าต้องการพิมพ์เอกสารก็สามารถพิมพ์ได้ที่ตรงนี้ เพื่อเป็นการทำเอกสารเก็บไว้เป็นหลักฐานของเราไว้ใช้ในอนาคต
                                    </p>
                                    <p class="detail">
                                        เท่านี้สินค้าก็จะเข้ามาในสต็อกแล้ว เมื่อเรากดเมนูใบรับสินค้าก็จะเห็นใบรับสินค้า 2 ใบ ใบรับในที่นี้ ถ้าเรายังไม่ได้ชำระเงินก็อาจจะยังไม่ต้องกด
                                        ถ้าเราชำระเงินแล้ว สามารถกดที่เมนู สถานะ ว่า ชำระเงินแล้ว เพื่อแปลงสถานะใบรับสินค้าของเราเป็นใบรับสินค้าที่ชำระเงินแล้ว
                                        ใบรับสินค้าตรงนี้ก็จะไม่ต้องไปโชว์ในยอดค้างรับสินค้าของบริษัท
                                    </p>
                                    <p class="detail">
                                        เมื่อสินค้าเข้าระบบแล้ว เราก็มาดูที่เมนูสินค้า จะเห็นว่าสินค้า เช่น คอมพิวเตอร์ จะมีเข้ามา 47 เครื่อง คือจะมีเพิ่มเข้ามา
                                        15 เครื่องที่เราได้สั่งไป
                                    </p>
                                    <p class="detail">
                                        เท่านี้เองก็จะเป็นวิธีการบริหารสต็อกสินค้า โดยการรับสินค้ามาในสต็อกของเรา และเวลาขายออกไปก็ขายด้วยการเปิดใบกำกับภาษีทุกครั้ง
                                        ใบกำกับภาษี 1 ใบ จำนวนเท่าไหร่ ระบบก็จะทำการตัดสำนวนสินค้าในสต็อกของเราออกไป
                                    </p>
                                    <p class="detail">
                                        เท่านี้เองเราก็สามารถบริหารการรับสินค้าของเรา การขายออกไป ทำให้การบริหารคลังสินค้าของเราไม่ใช้เรื่องยากอีกต่อไป
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'KqUs9JykHdw'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 9)</p>
                            <p class="name">การเพิ่มค่าใช้จ่าย ด้วย ระบบบัญชี ออนไลน์ FlowAccount.com
                            </p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="KqUs9JykHdw" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/3rjIEDK1Hfs">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 8</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                    <a href="/th/tutorials/viewvideo/fjNBsnEywKM">
                                        <span class="menu-text right">ตอนที่ 10</span>
                                        <i class="fa fa-step-forward"></i>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        วันนี้เราจะมาแนะนำฟังก์ชั่นรายจ่ายของ FlowAccount สำหรับฟังก์ชั่นนี้หลังจากที่เราเข้ามาที่หน้าแรกแล้ว จะอยู่ด้านซ้ายมือ เมนูชื่อว่า
                                        “ค่าใช้จ่าย” หลังจากที่คลิกเข้ามาแล้ว รายจ่ายจะมี 2 แบบ คือ เราสามารถเรียกดูได้แบบเป็นแฟ้ม
                                        หรือเป็นตาราง เอาไว้สำหรับพิมพ์เร็ว ๆ สองแบบนี้เป็นข้อมูลเดียวกัน สามารถใช้สลับกันได้
                                        เรามาลองคีย์ข้อมูลเข้าไปกันก่อน
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul style="list-style-type: decimal;">
                                            <li>กดที่ปุ่ม +สร้างใหม่</li>
                                            <li>พิมพ์ข้อมูล ชื่อร้านค้า จำนวนเงิน</li>
                                            <li>ในช่องหมวดหมู่ ถ้ายังไม่เคยมีหมวดหมู่ สามารถพิมพ์เข้าไปได้เลย เช่น ค่ารับรองลูกค้า</li>
                                            <li>แนบเอกสาร สำหรับกรณีที่มีรูปภาพ หรือเอกสารอื่น ๆ</li>
                                            <li>กด “บันทึกข้อมูล” </li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        เท่านี้เราจะเห็นว่าในเดือนนี้เรามียอดค่าใช้จ่ายเท่าไหร่ สามารถใส่เพิ่มเพิ่มได้เรื่อย ๆ
                                    </p>
                                    <p class="detail">
                                        สำหรับโทรศัพท์มือถือ เราแค่เปิดแอพ ล็อกอิน เข้ามาที่หน้าแรก และเลือกคำสั่งค่าใช้จ่าย เราสามารถถ่ายรูปสินค้า หรือใบเสร็จ อัพโหลดขึ้นคลาวด์ได้ทันที
                                        และคีย์ข้อมูลจำนวนเงินเข้าไป เช่น ซื้อสินค้าราคา 3,390 บาท และกดเซฟข้อมูล ข้อมูลนี้จะขึ้นไปที่ระบบคลาวด์ทันที
                                        และสามารถเปิดได้กับระบบของเว็บไซต์ได้ทันที
                                    </p>
                                    <p class="detail">
                                        ทางระบบของ FlowAccount ยังมีวิธีการเพิ่มค่าใช้จ่ายอีกวิธี คือ การเพิ่มจาก “แฟ้มค่าใช้จ่าย” ซึ่งการเพิ่มจากตรงนี้เราสามารถอัพโหลดรูปถ่าย
                                        ซึ่งเป็นรูปถ่ายที่เราเพิ่งอัพโหลดเมื่อสักครู่ ตรงนี้เราสามารถแนบรูปภาพเข้ามาในอัลบั้มรูปภาพได้เลย
                                        ขั้นตอนดังนี้
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul style="list-style-type: decimal;">
                                            <li>เลือกเมนู “อัพโหลด”</li>
                                            <li>เลือกภาพที่ต้องการ และกด “OPEN”</li>
                                            <li>เมื่อภาพเปิดกด “บันทึกข้อมูล”</li>
                                        </ul>
                                    </div>
                                    <p class="detail">
                                        ส่วนนี้สามารถดับเบิลคลิกให้เป็นรูปใหญ่ เพื่อให้เราสามารถดูข้อมูลในรูปได้ และใส่ข้อมูลได้ เช่น จำนวนเงินที่จ่ายออกไป แล้วจึงกด
                                        “บันทึกข้อมูล”
                                    </p>
                                    <p class="detail">
                                        เมื่อเรากลับมาที่หน้าภาพรวม เราสามารถเลือกบิลใบเสร็จเข้าแฟ้มตามความเหมาะสมที่เราได้ตั้งไว้ เพียงแค่ลากมาเข้าแฟ้มที่เราตั้งไว้
                                        เมื่อเรียบร้อยเราสามารถเข้าไปดูได้ทันทีว่าใบเสร็จนี้เข้ามาที่แฟ้มหรือยัง
                                    </p>
                                    <p class="detail">
                                        ถ้าต้องการเพิ่มแฟ้ม หรือเพิ่มหมวดหมู่ ให้กดปุ่ม “+” ที่อยู่ด้านบนซ้าย แล้วจึงพิมพ์ชื่อแฟ้มลงไปที่แฟ้มใหม่ เช่น อุปกรณ์คอมพิวเตอร์
                                        แล้วกด Enter แฟ้มที่ตั้งจะปรากฎขึ้นมาทันที
                                    </p>
                                    <p class="detail">
                                        แฟ้ม Uncategorized หรือแฟ้มที่ยังไม่มีหมวดหมู่ เราสามารถเข้าไปดู แล้วเลือกรูปที่เราต้องการจัดเข้าหมวดหมู่ กดค้างที่รูปแล้วลากลงแฟ้มได้ทันที
                                    </p>
                                    <p class="detail">
                                        เท่านี้เองเราก็สามารถบริหารค่าใช้จ่ายตามที่เราใช้งาน ถ้าหากเรามีหมวดหมู่ที่เป็นค่าใช้จ่ายเยอะ ๆ เราก็ตั้งแฟ้มขึ้นมาใหม่ เช่น
                                        เงินเดือน 1 แฟ้ม ค่าออกกอง 1 แฟ้ม ฯลฯ สามารถจดรายจ่ายตามที่ธุรกิจใช้ได้เลย
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="videoId == 'fjNBsnEywKM'">
                <div class="vdoReview">
                    <div style="padding-left:20px; padding-right:20px;">
                        <h2 class="heading news">
                            <p class="name">สอนบัญชีเบื้องต้น (ตอนที่ 10)</p>
                            <p class="name">การเปิดใบหัก ณ ที่จ่าย ด้วย ระบบบัญชี ออนไลน์ FlowAccount.com
                            </p>
                        </h2>
                        <hr class="header_underline" style="border:0px;" />
                    </div>
                    <div class="vdoReview-content">
                        <div class="row" style="padding-right:20px;padding-left:20px">
                            <div class="center-block">
                                <div class="vdo-content embed-responsive embed-responsive-16by9">
                                    <div class="youtube vdo embed-responsive-item" id="fjNBsnEywKM" data-params="modestbranding=1&showinfo=1;">
                                    </div>
                                </div>
                                <div class="video-menu">
                                    <a href="/th/tutorials/viewvideo/KqUs9JykHdw">
                                        <i class="fa fa-step-backward"></i>
                                        <span class="menu-text left">ตอนที่ 9</span>
                                    </a>
                                    <a href="/th/tutorials">
                                        <span class="menu-text">กลับสู่หน้าวีดีโอสอน</span>
                                    </a>
                                </div>
                                <div class="all-detail">
                                    <p class="detail">
                                        อีกหนึ่งเอกสารสำคัญคือ ใบหัก ณ ที่จ่าย หลาย ๆ คนอาจจะสงสัยว่าใบหัก ณ ที่จ่ายจะออกทำไม และออกเพื่ออะไร หลักการง่าย ๆ คือ ทุกครั้งที่เรามีการจ่ายเงิน
                                        เมื่อซื้อบริการ เช่น การจ้างทำของ หรือ จ้างช่างภาพมาถ่ายงาน หรือการจ้างแม่บ้านมาทำความสะอาด
                                        ซึ่งไม่เกี่ยวกับการซื้อสินค้า ถ้าการจ้างครั้งนั้นเกิน 1,000 บาท เมื่อไหร่ ต้องออกใบหัก
                                        ณ ที่จ่ายเมื่อนั้น ในใบหัก ณ ที่จ่าย จะมีเปอร์เซนต์ที่จะหักแล้วแต่บริการนั้น ๆ ที่เราซื้อ
                                        เช่น 1% สำหรับค่าขนส่ง 2% สำหรับค่าโฆษณา 3% สำหรับค่าบริการ และ 5% สำหรับค่าเช่า
                                        หลัก ๆ จะมีสี่ตัวนี้ที่เราใช้ทั่วไป
                                    </p>
                                    <p class="detail">
                                        ระบบ FlowAccount ของเราจะรองรับทั้งหมด สามารถออกใบหัก ณ ที่จ่าย จากระบบของเราได้เลย ทำให้เอกสารอยู่เป็นหมวดหมู่เดียวกัน พอสิ้นเดือนเราสามารถรวบรวมเพื่อส่งสำนักงานบัญชี
                                        เพื่อเตรียมนำส่งภาษีได้แบบง่าย ๆ เลย
                                    </p>
                                    <p class="detail">
                                        สำหรับฟังก์ชั่นหัก ณ ที่จ่าย จะอยู่ที่เมนูค่าใช้จ่ายทางด้านซ้ายของหน้าจอ เมื่อเรากดเมนู “ค่าใช้จ่าย” ขึ้นมา จะเห็นว่ามีเมนู
                                        “หัก ณ ที่จ่าย”
                                    </p>
                                    <div style="text-align: justify;max-width: 800px;margin: auto;color: #666666;">
                                        <ul style="list-style-type: decimal;">
                                            <li>เลือกเมนู “ค่าใช้จ่าย” ทางซ้ายมือของหน้าจอ</li>
                                            <li>เลือกเมนู “หัก ณ ที่จ่าย”</li>
                                            <li>เลือกที่ “+สร้างใหม่”</li>
                                            <li>กรอกข้อมูลบุคคลที่ต้องการออกใบหัก ณ ที่จ่าย หลัก ๆ จะมี 2 แบบ คือ</li>
                                            <ul>
                                                <li>บุคคลธรรมดา จะกรอกตามบัตระประชาชนที่ถ่ายสำเนามา</li>
                                                <li>หากเป็นนิติบุคคลให้กรอก ชื่อบริษัท ที่อยู่และเลขที่เสียภาษีของบริษัท</li>
                                            </ul>
                                            <li>เมื่อกรอกรายละเอียดเรียบร้อย เราจะมาทางด้านขวา กรอกวันที่ ส่วนใหญ่จะยึดเอาวันที่จ่ายเงิน</li>
                                            <li>เลือกแบบฟอร์มในการออกใบหัก ณ ที่จ่าย หลัก ๆ จะเป็น ภงด. 3 และ ภงด. 53</li>
                                            <ul>
                                                <li>ภงด. 3 สำหรับจ่ายบุคคลธรรมดา</li>
                                                <li>ภงด. 53 สำหรับนิติบุคคล</li>
                                            </ul>
                                            <li>ประเภทเงินได้ที่จ่าย ส่วนใหญ่จะเป็น “อื่นๆ”</li>
                                            <li>รายละเอียด คือ งานที่จ้าง</li>
                                            <li>จำนวนเงิน</li>
                                            <li>เปอร์เซนต์ ดูจากว่างานนั้นเป็นการจ่ายอะไรตามด้านบน เมื่อเลือกแล้ว ระบบจะคำนวนและหักให้เลย</li>
                                        </ul>
                                        <p class="detail">
                                            เราสามารถดูได้เลยว่าเงินที่จ่าย หัก ณ ที่จ่ายออกไปเท่าไหร่ เหลือต้องจ่ายจริงเท่าไหร่ ทางช่องขวามือ เช่น ค่าจ้างถ่ายรูป 9,000
                                            บาท หัก ณ ที่จ่าย 3% เป็นเงิน 270 บาท คงเหลือที่ต้องจ่าย คือ 8,730 บาท ให้กับ
                                            Supplier พร้อมใบหัก ณ ที่จ่าย
                                        </p>
                                        <ol start="11" style="list-style-type: decimal;">
                                            <li>ด้านล่างเป็นบริเวณที่เราสามารถแนบไฟล์ได้ อาจจะเป็นบัตรประชาชนของ Supplier หรือคนที่ให้บริการเรา</li>
                                            <li>สั่งพิมพ์เราก็จะได้ใบหัก ณ ที่จ่าย ที่พร้อมใช้ได้ทันที</li>
                                        </ol>
                                    </div>
                                    <p class="detail">
                                        เมื่อสั่งพิมพ์ เราจะได้ใบหัก ณ ที่จ่าย ออกมา 2 ใบ ใบแรกสำหรับส่งให้กับผู้ให้บริการ และอีกใบเก็บไว้ที่เรา เพื่อรวบรวมส่งให้กับสำนักงานบัญชี
                                        ใบหัก ณ ที่จ่าย ทั้งหมดจะมีรายงานสรุปยอดให้ เพื่อเตรียมเป็นรายงาน ใบปะหน้า ในการเตรียมเป็นเอกสารทั้งหมด
                                        ส่งให้กับสำนักงานบัญชีทุกสิ้นเดือน ทำให้การเตรียมเอกสารประหยัดเวลา ทำให้รวดเร็วได้มากขึ้น
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>