﻿<!DOCTYPE html>
<html data-ng-app="app" lang="en-TH">
<head>
    <!--<base href="/FrontEnd/">-->

    <title translate="{{'metatitle'}}"></title>
    <!--<title>FLOWACCOUNT.COM - Free Invoicing and Cloud Accounting for Thai Startups and SMEs</title>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-control" content="public, must-revalidate, proxy-revalidate, max-age=0" />
    <meta http-equiv="content-language" content="{{'th' | translate}}" />
    <meta name="author" content="FlowAccount Team" />
    <meta name="contact" content="support@flowaccount.com" />
    <meta name="copyright" content="Copyright © 2015 FlowAccount Co., Ltd. All rights reserved." />
    <meta name="description" content="Free easy to use cloud accounting software for Thai startups and SMEs, โปรแกรมบัญชี Cloud Accounting สำหรับ SME และธุรกิจขนาดเล็ก ให้คุณทำบัญชีออนไลน์สะดวกทุกที่ทุกเวลา " />
    <meta name="keywords" content="โปรแกรมบัญชี,โปรแกรมบัญชี ฟรี,โปรแกรมบัญชีออนไลน์,บัญชีออนไลน์,บัญชีออนไลน์ฟรี,บัญชีฟรี, บัญชีออนไลน์ฟรี,โปรแกรมบัญชี ฟรี สำหรับ ธุรกิจ SMEs,บัญชีออนไลน์สำหรับ sme,ฟรีบัญชีออนไลน์สำหรับ sme,ทำให้บัญชีเป็นเรื่องง่ายๆ,โปรแกรมบัญชี โฟลว์ คลาว์ด แอดเคาท์,โปรแกรมบัญชี คลาว์ด,บัญชี คลาว์ด,ภาษี,ภาษีประเทศไทย,โปรแกรมบัญชี Cloud,โฟลว์ แอคเคาท์,โฟลว์ คลาวด แอดเคาท์,Cloud accounting,Online Accounting,Free accounting thailand,Free accounting, flow account,accounting,accounting online,flowaccount,flow accounting,flowaccounting,flow account thailand,flow accounting thailand,flow account thailand,Cloud accounting thailand,Cloud accounting for Thai SMEs,Free Cloud accounting for Thai startups,thai accounting,thai tax,free cloud accounting thailand" />
    <meta name=”robots” content="index, follow" />
    <meta name="google-site-verification" content="eQnTUqdjh0ch1EqSv3GCSv3-j8s502ITxsHoNVkrzw4" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="google-site-verification" content="NJWHXfOFhNL03ph0sk5kwvmOOfy7Hd0Ijix9KjkFsU8" />
    <link rel="icon" href="images/favicon.png" type="image/png" />

    <meta http-equiv="X-Frame-Options" content="GOFORIT">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/angularjs-1.2.17.js?v=1242016" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <!--<script src="js/retina.min.js" type="text/javascript"></script>-->
    <!-- fancybox -->
    <link href="scripts/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script src="scripts/source/jquery.fancybox.pack.js" type="text/javascript"></script>
    <link href="css/style-v1.2.css?v=1242016-5" rel="stylesheet" type="text/css" />
    <script src="js/app.angular-v1.2.js?v=1842016-3" type="text/javascript"></script>
    <script src="js/custom-v1.2.js?v=1242016" type="text/javascript"></script>
    <script src="js/jquery.rwdImageMaps.js"></script>

    <!-- snow town -->
    <!--<script src="js/snowstorm.js"></script>-->

    <script>
        //$(document).ready(function () {
        //    var totalwidth = 0;
        //    li = $('#navmenubar li');
        //    li.each(function () {
        //        totalwidth += $(this).width();
        //    });

        //    $('#navmenubar').width(totalwidth);
        //    console.log(totalwidth);
        //});


        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58465095-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!--<script type="text/javascript">
        if (/Android|iPhone|BlackBerry/i.test(navigator.userAgent)) {
            var url = confirm("Would you like to download our mobile application?");
            if (url == true) {
                var url = window.location.href = 'http://www.google.com';
                url.show();
            }
            else {

            }
        }
    </script>-->
    <style>
        .priceincludevat {
            width: 100%;
            display: inline-block;
            margin-top: 3px;
            color: #0481c0;
        }
        .hr-feature {
            width: 250px;
            border-top: 1px solid #cfcfcf;
        }
        .absol{
            position:absolute;
        }
        .scroll-hidden {
            overflow: hidden !important;
            min-height: 100%;
            height: 100%;
        }

        .scroll-page {
            position: relative;
            overflow-y: scroll;
            height: 100%;
        }
        .faq-heading {
            font-size: 21px !important;
            font-weight: bold !important;
        }
        .faq-container {
            overflow: auto ;
            color: #666666;
            margin: 0 auto;
            max-width: 853px;
        }
        .faq-label {
            font-weight: lighter;
            font-size: 21px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        .faq-labelhead {
            font-weight: bold;
            font-size: 21px;
            margin-bottom: 0;
            color: #3399cc;
        }
        .request-label {
            font-size: 16px;
            margin-bottom: 0;
            color: #3399cc;
        }
        .btn-readmore {
            background-color: #3399cc !important;
            border-color: #66b3d9 !important;
            border: medium none !important;
            border-radius: 2px !important;
            height: 34px !important;
            margin-top: 8px !important;
            color: #FFF !important;
            padding: 8px 20px !important;
            width: 132px !important;
            line-height: 20px !important;
            background-image: none !important;
            text-align: center !important;
            white-space: nowrap !important;
            vertical-align: middle !important;
            cursor: pointer !important;
            -webkit-user-select: none !important;
            font-weight: 400 !important;
            margin-bottom: 0 !important;
            display: inline-block !important;
            border-radius: 2px !important;
        }

        .playbtn {
            background-image: url(images/playbtn.png);
            background-repeat: no-repeat;
            position: absolute;
        }
        .bgmobile{
            background-image: url(images/bgmobile.png);
        }
        .pricing-plan ul {
            display:table;
            width:100%;
        }
        .pricing-plan li {
            display: table-cell;
            width:auto;
        }

        .plans-head-tab
        {
            display:none;
        }
            .change-font; {
                    font-size: initial !important;
                    position: absolute !important;
                    right: 24px !important;
                }

            @media (max-width: 1105px) {
                .navbar a.navbar-brand img.logo {
                    width: 275px !important;
                    padding-top: 11px !important;
                }
                /* change to mobile 960px*/
            }

            /*@media (max-width: 1025px) {
                .navbar a.navbar-brand img.logo {
                    width: 265px !important;
                    padding-top: 12px !important;
                }
            }*/
            @media (max-width: 1200px){
                .nav-paddr {
                    padding-right: 5px !important;
                }
            }
            @media (max-width: 992px) {

                /*.navbar a.navbar-brand img.logo {
                    width: 220px !important;
                    padding-top: 13px !important;
                }*/
                .a-lang {
                    padding-left: 20px !important;
                }
                .container {
                    width: 98% !important;
                }
            }
        @media (max-width: 991px) {

            .contact-phone {
                clear: both;
            }
            .text-boi {
                margin-top: 13px;
            }
        }
        @media (max-width: 600px) {

            .text-boi {
                margin-top: 0 !important;
            }
        }
            @media (min-width: 961px) {

                .navbar .navbar-header {
                    max-width: 33.333% !important;
                }

                .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                }

                .navbar-header {
                    float: left !important;
                }

                .navbar-toggle {
                    display: none !important;
                }

                .navbar-fixed-top, .navbar-fixed-bottom {
                    border-radius: 0 !important;
                }

                    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
                        padding-right: 0 !important;
                        padding-left: 0 !important;
                    }

                .navbar-collapse.in {
                    overflow-y: visible !important;
                }

                .navbar-collapse.collapse {
                    display: block !important;
                    height: auto !important;
                    padding-bottom: 0 !important;
                    overflow: visible !important;
                }

                .navbar-collapse {
                    width: auto !important;
                    border-top: 0 !important;
                    -webkit-box-shadow: none !important;
                    box-shadow: none !important;
                }

                .navbar-nav.navbar-right:last-child {
                    margin-right: -15px !important;
                }

                .navbar-right {
                    float: right !important;
                }

                /*.navbar-nav {
                    margin: 0 !important;
                }*/
                .a-padd-log {
                    padding-left: 10px !important;
                    padding-right: 0px !important;
                }

                .a-padd-blog {
                    padding-right: 0px !important;
                    padding-left: 0px !important;
                }
            }

            .mobileapp-teaser {
                width: 261px;
                height: 384px;
                position: relative;
                margin: 0 auto;
            }

            #play {
                background: url(images/playbtn.png) center center no-repeat;
                margin: 0;
                position: inherit;
                left: 43%;
                top: 100px;
                z-index: 10;
                margin-top: 50px;
                background-size: cover;
                opacity: 0.8;
            }
                #play:hover {
                    opacity:1;
                }
            #play2 {
                background: url(images/playbtn.png) center center no-repeat;
                position: inherit;
                z-index: 10;
                text-align: center;
                background-size: 60px 60px;
                height: 100%;
                width: 100%;
                max-width: 481px;
                opacity: 0.8;
            }
                #play2:hover {
                opacity:1;
                }
            /*#play2 {
                background: url(images/playbtn.png) center center no-repeat;
                position: relative;
                left:42%;
                z-index: 10;
                margin-top: 100px;
                background-size: cover;
                text-align: center;
            }*/
             /*
                   #play {
                background: url(images/playbtn.png) center center no-repeat;
                margin: 0;
                position: inherit;
                left: 85px;
                top: 100px;
                z-index: 10;
                margin-top: 115px;
                background-size: cover;
            }
                */
            .playbtn {
                background-image: url(images/playbtn.png);
                background-repeat: no-repeat;
                position: absolute;
            }

            @media (min-width: 992px) {
                .plans-head-tab {
                    display: block;
                }

                .mobileapp-teaser {
                    margin: 0;
                    float: right;
                }

                #play {
                    top: 150px;
                }
                #req {
                   max-width: 260px;
                }
            }
        #videoFlow {
            width:100%;
            height: 270px;
            max-width:480px;
            }
            @media (max-width:991px) {
                section#banner .banner-content {
                    padding-top:20px !important;
                    text-align:center;
                }
                #videoFlow {
                    max-width:338px !important;
                    height:190px !important;
                }
                /*#play2 {
                    width:60px !important;
                    height:60px !important;
                    margin-top:55px !important;
                    left:0 !important;
                }*/
                #play2 {
                    max-width: 340px !important;
                }
                #headline {
                    font-size: 36px !important;
                    line-height: 36px !important;
                }
            }
            @media (max-width:767px) {
                #videoFlow {
                    max-width:285px !important;
                    height:160px !important;
                }
                #play2 {
                    left:0 !important;
                    max-width:284px !important;
                }
                #headline {
                    font-size: 36px !important;
                    line-height: 36px !important;
                }
            }

            .intercom-launcher {

            }
            #intercom-container .intercom-launcher {
                /*bottom:45px;*/
             /*   bottom:5px !important;
                  right:65px !important;*/
                 -webkit-transition: bottom 0.15s linear;
                  transition: bottom 0.15s linear;
            }

            #intercom-container .intercom-sheet-header {

                  height: 70px;
                  background-color:rgb(153, 153, 153);
                  color:#767676;
                  -webkit-transition: height 0.15s linear;
                  transition: height 0.15s linear;
            }
            #intercom-container .intercom-sheet-header-button {
                 margin-top:8px;
                  color:#fff;
            }
            #intercom-container .intercom-sheet-header-title{
                 margin-top:8px;
                  color:#fff;
            }
            #intercom-container .intercom-sheet-content-container {

                background-color: #f1f1f1;
            }
            .intercom-sheet-content-container {
                padding-top:10px;
            }

            /* down season bar*/
            season {
                background-size: initial;
                height: 80px;
                display: block;
                position: relative;
                width: 100%;
                background-position: bottom center;

                background-color:#a61319;
                background-repeat: no-repeat;
            }

        /*.navbar-static-top {
            top:80px !important;
        }*/
        @media (max-width:1100px) {
            season {
                background-size: cover;
                background-repeat: no-repeat;
                height: 65px !important;
                display: block;
                position: relative;
                width: 100%;
                background-position: bottom center;

                background-repeat: no-repeat;
            }
            /* season fix nav-bar */
            /*.navbar-static-top {
                top:65px !important;
            }*/
        }
        @media (max-width:630px) {
            season {
                background-size: cover;
                background-repeat: no-repeat;
                height: 43px !important;
                display: block;
                position: relative;
                width: 100%;
                background-position: bottom center;
                background-repeat: no-repeat;
            }
            /* season fix nav-bar */
            /*.navbar-static-top {
                top:43px !important;
            }*/
        }
        @media (max-width:411px) {
            season {
                background-size: cover;
                background-repeat: no-repeat;
                height: 30px !important;
                display: block;
                position: relative;
                width: 100%;
                background-position: bottom center;
                background-repeat: no-repeat;
            }
            /* season fix nav-bar */
            /*.navbar-static-top {
                top:30px !important;
            }*/
        }
    </style>
</head>
<body class="shell" du-scroll-container>
    <header class="menu navbar-static-top" style="height:50px;">

        <nav class="navbar navbar-default" role="navigation" style="opacity: 0.99;">
            <div class="container">
                

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/logo.png" alt="FLOW CLOUND ACCOUNTING" class="logo" />
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-scrollpy" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right change-font" ng-controller="LangCtrl">

                        <li id="menuli" class="hidden-sm2 hidden-xs"><a id="menu" class="nav-paddr menu-block" href="#" translate="{{'MENU'}}" style="padding-left:110px;"></a></li>

                        <li id="homemenuli" class="hidden-sm2 hidden-xs" style="display:none;"><a id="homemenu" class="nav-paddr menu-block" href="#" translate="{{'HOMEMENU'}}"></a></li>

                        <li class="lang hidden-md2 hidden-lg">
                            <div class="col-md-12" style="padding-left: 21px; padding-bottom: 10px;">
                                <a class="hover-focus" style="color: #999999;" href="#" ng-click="setLang('en')">EN</a>
                                <span class="pipe" style="float:initial;">|</span>
                                <a class="hover-focus" style="color: #999999;" href="#" ng-click="setLang('th')">TH</a>
                            </div>

                        </li>

                        <!--<li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#pagetop" translate="{{'HOME'}}"></a></li>-->
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#features" du-scrollspy="anchor" translate="{{'FEATURES'}}"></a></li>
                        <!--<li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#expense" translate="{{'EXPENSE'}}"></a></li>
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#dashboard" translate="{{'DASHBOARD'}}"></a></li>-->
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#pricing" du-scrollspy="anchor" translate="{{'PREMIUM'}}"></a></li>
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#contactus" du-scrollspy="anchor" translate="{{'CONTACT'}}"></a></li>
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" target="_blank" href="http://blog.flowaccount.com/" translate="{{'BLOG'}}"></a></li>
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" target="_blank" href="faq.html" translate="{{'FAQ'}}"></a></li>
                        <li class="padd-nav hidden-md2 hidden-lg"><a class="nav-paddr" href="#kcashcard" translate="{{'PROMOTION'}}"></a></li>
                        <!-- <li><a href="#FAQ" translate="{{'FAQ'}}"></a><span class="icon-dot"></span></li>-->
                        <!--<li><a class="nav-paddr" href="#contactus" translate="{{'CONTACT'}}"></a></li>-->
                        <!--<li style=" padding-right: 8px;  height: 34px; top: 8px;"><a style="padding-top: 7px;" href="http://blog.flowaccount.com/" translate="{{'BLOG'}}" class="a-padd-blog"></a></li>-->


                        <li class="lang hidden-sm2 hidden-xs"><a class="a-lang" href="#" ng-click="setLang('en')">EN</a></li>
                        <li class="lang hidden-sm2 hidden-xs"><span class="pipe">|</span><a class="a-lang" href="#" ng-click="setLang('th')">TH</a></li>


                        <li><a href="https://app.flowaccount.com/{{'en' | translate}}/account/login" class="btn-login-head" translate="{{ 'LOGIN' }}"></a></li>

                        <li style="display: none; padding-left: 5px;">
                            <a href="https://app.flowaccount.com/{{'en' | translate}}/account/register" class="btn-signup-head" translate="{{'SIGNUPBTN'}}"></a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <div id="menubar" class="menubar">
            <ul id="navmenubar" class=" navbar-nav change-font center-block" ng-controller="LangCtrl" style=" margin 0 auto; float none; line-height 3;">
                <!-- navbar-nav -->
                <!--<li><a style="height: 40px; line-height: 12px;" class="navmenu" href="#pagetop" translate="{{'HOME2'}}"></a></li>-->
                <!--<li class="col-md-1"><span class="icon-circle"></span><a class="nav-paddr text-center" href="#features" translate="{{'FEATURES'}}"></a><span class="icon-dot"></span></li>-->
                <li><a style="height: 40px; line-height: 12px;" class=" navmenu" href="#features" du-scrollspy="anchor" translate="{{'FEATURES'}}"></a></li>
                <!--<li><a style="height: 40px; line-height: 12px;" class="navmenu" href="#expense" translate="{{'EXPENSE2'}}"></a></li>
        <li><a style="height: 40px; line-height: 12px;" class="navmenu" href="#dashboard" translate="{{'DASHBOARD2'}}"></a></li>-->
                <li><a style="height: 40px; line-height: 12px;" class=" navmenu" href="#pricing" du-scrollspy="anchor" translate="{{'PREMIUM2'}}"></a></li>
                <li><a style="height: 40px; line-height: 12px;" class=" navmenu" href="#contactus" du-scrollspy="anchor" translate="{{'CONTACT2'}}"></a></li>
                <li><a style="height: 40px; line-height: 12px;" target="_blank" class=" navmenu" href="http://blog.flowaccount.com/" translate="{{'BLOG2'}}"></a></li>
                <li><a style="height: 40px; line-height: 12px;" target="_blank" class=" navmenu" href="faq.html" translate="{{'FAQ'}}"></a></li>
                <li><a style="height: 40px; line-height: 12px;" class=" navmenu" href="#/kcashcard" translate="{{'PROMOTION'}}"></a></li>

            </ul>
        </div>

    </header>
    <div ng-view>

    </div>
</body>
</html>